body, html {
    height: 100%;
    overflow: hidden;
}

/* make things absolute in the map */

.container {
    position: relative;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#header,
#header-left,
#header-right,
#header-buttons {
    margin: 0;
}
#header-left,
#header-right,
#buttons-left,
#buttons-right,
#footer-left,
#footer-right,
#footer-center {
    position: absolute;
    z-index: 10;
}
#header-left,
#buttons-left,
#footer-left {
    left: 15px;
}
#header-right,
#buttons-right,
#footer-right {
    right: 15px;
}
#footer-center {
    left: 50%;
}
#footer-left,
#footer-right,
#footer-center {
    bottom: 10px;
}
#header-left{
    top: 20px;
}
#header-right {
    top: 40px;
}
#buttons-left,
#buttons-right {
    top: 100px;
}
#buttons-left div,
#buttons-right div {
    margin-top: 20px;
}

/* navbar */

.navbar {
    z-index: 100;
}
.navbar-info {
    margin: 8px 15px 8px 0;

    height: 34px;
    width: 42px;

    padding: 11px 0 9px 0;
    line-height: 12px;

    font-size: 12px;
    font-weight: bold;
    color: #de6a00;
}

/* info box */

#footer-center {
    z-index: 3000;
}
.infotab {
    height: 50px;
    width: 50px;

    margin-left: -25px;
    padding: 10px;

    border: 2px solid #de6a00;
    border-radius: 50%;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #de6a00;
}
.infotab div {
    width: 25px;
    height: 25px;
}
.infotab div.glyphicon-chevron-down {
    margin: 2px 0 0 -1px;
}
.infotab div.glyphicon-chevron-up {
    margin: 0px 0 0 2px;
}
.infohelp {
    display: block;
    width: 160px;
    margin-left: -80px;
    margin-bottom: 10px;
    text-align: center;

    color: #de6a00;
    font-family: titillium;
    font-size: 16px;

    -webkit-transition: all linear 0.6s;
    transition: all linear 0.6s;

    opacity: 0;
}
.infohelp.show {
    opacity: 1;
}


/* infobox */

.infobox {
    background-color: white;

    position: absolute;
    z-index: 4000;
    left: 0;
    right: 0;

    bottom: -480px;
    height: 480px;

    padding-top: 10px;

    border-top: 2px solid #de6a00;

    -webkit-transition: all linear 0.4s;
    transition: all linear 0.4s;
}
.infobox.up {
    bottom: 0 !important;
}
.infobox h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.infobox iframe {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.infobox-close {
    height: 20px;
    padding-right: 10px;
}
.infobox-close a {
    font-size: 30px;
    font-weight: bold;
}

/* the canvas for the map */

#map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
}

@media (max-width: 992px) {
    #brand img {
        height: 55px;
    }
    #header-left{
        top: 25px;
    }

    #footer-left,
    #footer-right {
        line-height: 20px;
        font-size: 9pt;
    }

    #footer-left {
        bottom: 0px;
    }
}

@media (max-width: 768px) {
    #buttons-left,
    #buttons-right {
        display: none;
    }

    #footer-left,
    #footer-right {
        line-height: 20px;
        font-size: 7pt;
    }

    #footer-left {
        bottom: 30px;
    }

    #footer-right {
        right: auto;
        left: 15px;
    }
}

/*.responsive-video {
    position: relative;
    padding-bottom: 55%;
    padding-top: 15px;
    height: 0;
    overflow: hidden;
    float: left;
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}*/



