body, html {
    height: 100%;
}
/* make things absolute in the map */
.container {
    position: relative;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#header,
#header-left,
#header-right,
#header-buttons {
    margin: 0;
}
#header-left,
#header-right,
#buttons-left,
#buttons-right,
#footer-left,
#footer-right {
    position: absolute;
    z-index: 10;
}
#header-left,
#buttons-left,
#footer-left {
    left: 15px;
}
#header-right,
#buttons-right,
#footer-right {
    right: 15px;
}
#footer-left,
#footer-right {
    bottom: 10px;
}
#header-left{
    top: 20px;
}
#header-right {
    top: 40px;
}
#buttons-left,
#buttons-right {
    top: 100px;
}
#buttons-left div,
#buttons-right div {
    margin-top: 20px;
}

/* navbar */
.navbar {
    z-index: 100;
}
.navbar-info {
    margin: 8px 15px 8px 0;

    height: 34px;
    width: 42px;
    padding: 11px 0 9px 0;
    line-height: 12px;

    font-size: 12px;
    font-weight: bold;
    color: #de6a00;
}
.info-button.leaflet-control-zoom-out {
    font-size: 12pt;
}

/* the canvas for the map */
#map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
}

@media (max-width: 992px) {
    #brand img {
        height: 55px;
    }
    #header-left{
        top: 25px;
    }

    #footer-left,
    #footer-right {
        line-height: 20px;
        font-size: 9pt;
    }

    #footer-left {
        bottom: 0px;
    }
}

@media (max-width: 768px) {
    #buttons-left,
    #buttons-right {
        display: none;
    }

    #footer-left,
    #footer-right {
        line-height: 20px;
        font-size: 7pt;
    }

    #footer-left {
        bottom: 30px;
    }

    #footer-right {
        right: auto;
        left: 15px;
    }
}

.checkbox {
    font-weight: normal;
}

.bbs-loading,
.bbs-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;

    display: none;
}
.bbs-loading {
    background: transparent;

    font-family: dejavu;
    font-weight: bold;
    font-size: 16px;
    color: #646464;
}
.bbs-loading .bbs-loading-dialog {
    padding: 20px;
    text-align: center;
}
.bbs-modal {
    background-color: rgba(0,0,0,0.5);
}
.bbs-loading .bbs-loading-dialog,
.bbs-modal .bbs-modal-dialog {
    position: absolute;
    background-color: white;

    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 14px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 14px 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 14px 0px;
}
.bbs-modal .bbs-modal-dialog-body {
    padding: 20px;
    background-color: white;
}
.bbs-modal .bbs-modal-dialog-body :first-child {
    margin-top: 0;
}
.bbs-modal .bbs-modal-dialog-body :last-child {
    margin-bottom: 0;
}
.bbs-modal .bbs-modal-dialog-close  {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0px;
    padding-right: 8px;
    font-weight: bold;
    font-size: 2em;
}