html {
    background-image: url('img/hintergrund.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
    background-color: transparent;
}
#header {
    height: 85px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#header-left {
    float: left;
}
#header-right {
    float: right;
    margin-top: 20px;
}