html {
    background-image: url('img/hintergrund.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
    background-color: transparent;
}
#header {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 85px;
}
#header-left {
    float: left;
}
#header-right {
    margin-top: 20px;
    float: right;
}
@media (max-width: 992px) {
    #brand img {
        height: 55px;
    }
    #header-left {
        margin-top: 5px;
    }
}

.bg-list > div:nth-child(even)
{
    background-color: rgba(1, 1, 1, 0.03);
}

ul.nav-tabs > .active > a, ul.nav-tabs > .active > a:hover
{
    background-color: transparent !important;
    border-bottom: 0px solid transparent !important;
}
