@font-face {
    font-family: titillium;
    src: url('font/TitilliumText25L.otf');
}
@font-face {
    font-family: dejavu;
    src: url('font/DejaVuSansCondensed.ttf');
    
}
@font-face {
    font-family: dejavu;
    src: url('font/DejaVuSansCondensed-Bold.ttf');
    font-weight: bold;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: dejavu;
    font-size: 14px;
}
h2 {
    font-weight: normal;
    font-family: titillium;
    font-size: 28px;
    color: #646464;
}
h3 {
    font-family: dejavu;
    font-weight: bold;
    font-size: 16px;
    color: #646464;
}
a, 
a:visited,
.leaflet-container a,
.leaflet-container a:visited {
    color: #de6a00;
    text-decoration: none;
}
a:hover,
.leaflet-container a:hover {
    color: #e58833;
    text-decoration: none;
}

.panel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.panel-default > .panel-heading {
    background-color: white;
}


/* Sitenav */
.sitenav {
    font-family: titillium;
    font-size: 16px;
    color: #646464;
    padding: 0;
}
.sitenav li {
    display: inline;
    list-style: none;
    margin: 0 20px 0 0;
}
.sitenav li:last-child {
    margin-right: 0px;
}

/* Leaflet Container */
.leaflet-popup-pane {
    z-index: 1000;
}
.leaflet-popup-content {
    font-family: dejavu;
    font-size: 14px;
    color: #333;
}
.leaflet-popup-content-wrapper,
.leaflet-control-zoom,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    border-radius: 0px !important;
}
.leaflet-control-zoom {
    padding: 2px;
    box-shadow: none !important;
    background: rgba(0, 0, 0, 0.25);
}
.leaflet-control-zoom-in:focus,
.leaflet-control-zoom-out:focus { 
    outline: none;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: white;
}
.leaflet-popup-content p {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width: 500px) {
    .attribution {
        font-size: 7pt;
    }
}
.checkbox {
    font-weight: normal;
}

#table {
    margin-top: 20px;
    margin-bottom: 40px;
}
.jk-table table {
    background-color: white;
}


/* navbar */
.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand img {
    height: 30px;
}

/* 'Abonieren' Form */
.news form ul {
    margin: 5px 0 0 0;
    padding: 0;
}
.news form li {
    line-height: 20px;
    list-style: none;
}
.news form li label,
.news form li input {
    display: inline-block;
}
.news form li input {
    margin-bottom: 5px;
}
.news form li label {
    margin-left: 10px;
}
.news label {
    font-weight: normal;
}

/* wordpress stuff */
.blog .post-footer {
    color: #646464;
}
.blog .post {
    margin-bottom: 50px;
}
.blog .post-content {
    margin-bottom: 50px;
}
.blog h1, .blog h2 {
    color: #646464;
}
.blog .input-small {
    width: 300px;
}
.blog .comment-form label {
    font-weight: normal;
}
.blog img { 
    max-width: 100%;
    height:auto;
}            
.blog iframe { 
    max-width: 100%;
}
