<div class="row list-header">
    <form id="table-pager-search" class="search-form col-sm-6" ng-submit="search()">
        <div class="input-group">
            <input id="table-pager-search-input" placeholder="Einträge durchsuchen" type="text" class="form-control" ng-model="data.search">
            <a href="" class="input-group-addon" ng-click="search()">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </div>
    </form>

    <div class="col-sm-2">
        <ul class="pagination" class="search-form">
            <li><a href="" ng-click="reset()">Zurücksetzen</a></li>
        </ul>
    </div>

    <div class="col-sm-4">
        <p>{{data.count}} Einträge gefunden</p>
    </div>
</div>

<table class="table list-table">
    <thead>
        <tr>
            <th>Bezeichner</th>
            <th class="hidden-xs">Adresse</th>
            <th class="hidden-xs">{{entity}}</th>
            <th class="hidden-xs"></th>
            <th class="visible-xs">Adresse, {{entity}}</th>
        </tr/>
    </thead>
    <tbody>
        <tr ng-repeat="(iRow,row) in data.rows">
            <td class="hidden-xs">{{row.identifier}}</td>
            <td class="visible-xs"><a href="{{row.internal_link}}">{{row.identifier}}</a></td>
            <td class="hidden-xs">{{row.address}}</td>
            <td class="hidden-xs">{{row.entities}}</td>
            <td class="hidden-xs"><a href="{{row.internal_link}}" target="_blank">Details</a></td>
            <td class="visible-xs">{{row.address}}<br/>{{row.entities}}</td>
        </tr>
    </tbody>
</table>
