@font-face {
    font-family: titillium;
    src: url('/static/font/TitilliumText25L.otf');
}
@font-face {
    font-family: dejavu;
    src: url('/static/font/DejaVuSansCondensed.ttf');
}
@font-face {
    font-family: dejavu;
    src: url('/static/font/DejaVuSansCondensed-Bold.ttf');
    font-weight: bold;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: dejavu;
    font-size: 14px;
}
h2 {
    font-weight: normal;
    font-family: titillium;
    font-size: 28px;
    color: #646464;
}
h3 {
    font-family: dejavu;
    font-weight: bold;
    font-size: 16px;
    color: #646464;
    line-height: 20px;
}
h4 {
    font-family: dejavu;
    font-weight: bold;
    font-size: 14px;
    color: #646464;
    line-height: 20px;
}
a,
a:visited,
.leaflet-container a,
.leaflet-container a:visited {
    color: #de6a00;
    text-decoration: none;
}
a:hover,
.leaflet-container a:hover {
    color: #e58833;
    text-decoration: none;
}
.btn.btn-primary {
    color: white !important;
}
.fa {
    color: #de6a00;
}
.fa:hover{
    color: #e58833;
}
.admin-area {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
}

.panel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.panel-default > .panel-heading {
    background-color: white;
}

/* wbc forms */
.wbc-form-modelmultiplechoicefield-group select[multiple="multiple"]{
    height: 120px;
}
.wbc-form-booleanfield-group input[type="checkbox"]{
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 0 0 5px;
}
.wbc-delete-form {
    margin-top: 20px;
}

/* brand */
#brand img {
    height: 65px;
}
@media (max-width: 992px) {
    #brand img {
        height: 55px;
    }
}

/* Sitenav */
.sitenav {
    font-family: titillium;
    font-size: 16px;
    color: #646464;
    padding: 0;
}
.sitenav li {
    display: inline;
    list-style: none;
    margin-right: 20px;
}
.sitenav li:last-child {
    margin-right: 0;
}

/* Leaflet Container */
.leaflet-popup-pane {
    z-index: 1000;
}
.leaflet-popup-content {
    font-family: dejavu;
    font-size: 14px;
    color: #333;
}
.leaflet-popup-content-wrapper,
.leaflet-control-zoom,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    border-radius: 0 !important;
}
.leaflet-control-zoom {
    padding: 2px;
    box-shadow: none !important;
    background: rgba(0, 0, 0, 0.25);
}
.leaflet-control-zoom-in:focus,
.leaflet-control-zoom-out:focus {
    outline: none;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: white;
}
.leaflet-popup-content p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.attribution {
    font-size: small;
    text-align: right;
}
.checkbox {
    font-weight: normal;
}

/* navbar */
.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand img {
    height: 30px;
}

/* 'Abonieren' Form */
.notifications form ul {
    margin: 5px 0 0 0;
    padding: 0;
}
.notifications form li {
    line-height: 20px;
    list-style: none;
}
.notifications form li label,
.notifications form li input {
    display: inline-block;
}
.notifications form li input {
    margin-bottom: 5px;
}
.notifications form li label {
    margin-left: 10px;
}
.notifications label {
    font-weight: normal;
}
.notifications .feed-list {
    margin-left: -10px;
}
.notifications .feed-list li {
    margin-bottom: 5px;
}
.notifications .feed-list li a span {
    padding-left: 10px;
}

/* wordpress stuff */
.blog .post-footer {
    color: #646464;
}
.blog .post {
    margin-bottom: 50px;
}
.blog .post-content {
    margin-bottom: 50px;
}
.blog h1, .blog h2 {
    color: #646464;
}
.blog .input-small {
    width: 300px;
}
.blog .comment-form label {
    font-weight: normal;
}
.blog img {
    max-width: 100%;
    height:auto;
}
.blog iframe {
    max-width: 100%;
}

/* ort */
#project-map {
    height: 400px;
}
.project-buttons {
    margin-top: 20px;
}
.project {
    margin-top: 20px;
    margin-bottom: 40px;
}
.publications {
    margin-bottom: 20px;
}
.publications div {
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .publications-title {
        font-family: dejavu;
        font-weight: bold;
        font-size: 14px;
        color: #646464;
        line-height: 20px;
    }
}

/*WIDGETS */

.widget .fa {
    color: #646464;
    margin-right: 4px;
}

/* STAKEHOLDER WIDGET */

.stakeholder-widget {
    background-color: white;
    border-radius: 5px;
    border: #fafafa 2px solid;
}

.stakeholder-widget p{
    color: #646464;
}

.stakeholder_img {
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 70px;
}

/* TAGS */

.taglink {
    background-color: #e58833 ;
    color: white !important;
    padding: 1px 2px;
    /*margin: 3px;*/
    border-radius: 2px;
    white-space: pre;
}

/* TAG PAGE */

.project-descriptions {
    clear: both;
}

.project-description {
    background-color: white;
    border-radius: 5px;
    border: #fafafa 2px solid;
    padding: 10px;
    display: inline-block;
}

.project-description h3 {
    margin-top: 5px;
}

.project-description p {
    color: #646464;
}


.description_img {
    float: left;
    height: 100px;
    width: 200px;
} 

.stakeholder-descriptions {
    clear: both;
}

.stakeholder_page_img {
    float: right;
}

/*SLIDESHOW*/

#slider1_container {
    position: relative;
    /*margin: 0px 5px 5px 0px; */
    /*float: left; */
    top: 0px; 
    left: 0px; 
    width: 800px;
    height: 400px; 
    overflow: hidden;
    background: #191919;
}

.slides {
    cursor: move; 
    position: absolute; 
    overflow: hidden; 
    left: 0px; 
    top: 0px; 
    width: 800px; 
    height: 400px;
}

.jssora02l, .jssora02r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(img/a02.png) no-repeat;
    overflow: hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r.jssora02rdn { background-position: -63px -33px; }

.jssort03 {
    position: absolute;
    /* size of thumbnail navigator container */
    width: 800px;
    height: 60px;
    left: 0px;
    bottom: 0px;
}

.jssort03 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    height: 32px;
}

.jssort03 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.jssort03 .w, .jssort03 .pav:hover .w {
    position: absolute;
    width: 60px;
    height: 30px;
    border: white 1px dashed;
    box-sizing: content-box;
}

.jssort03 .pdn .w, .jssort03 .pav .w {
    border-style: solid;
}

.jssort03 .c {
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    height: 32px;
    background-color: #000;
    filter: alpha(opacity=45);
    opacity: .45;
    transition: opacity .6s;
    -moz-transition: opacity .6s;
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
}

.jssort03 .p:hover .c, .jssort03 .pav .c {
    filter: alpha(opacity=0);
    opacity: 0;
}

.jssort03 .p:hover .c {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}

* html .jssort03 .w {
    width /**/: 62px;
    height /**/: 32px;
}

/* list */
.list-header {
    margin-top: 20px;
}
.list-header .pagination {
    margin: 0;
}
.list-header p {
    margin: 0;
    line-height: 32px;
    text-align: right;
}
@media (max-width: 768px) {
    .list-header form {
        margin-bottom: 20px;
    }
    .list-header .pagination {
        float: left;
    }
    .list-table {
        margin-top: 20px;
    }
}

/* comments */
.comments-wrapper {
    background: rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}
.comments {
    margin-top: 20px;
    margin-bottom: 60px;
}
.comment {
    margin-bottom: 20px;
}
.comment-author {
    margin-bottom: 10px;
}
.comment-author-img {
    float: left;
}
.comment-author-name {
    /*margin-top: 6px;*/
    margin-left: 42px;
}
.comment-author-time {
    margin-top: 2px;
    margin-left: 42px;
    line-height: 12px;
    font-size: 10px;
}
.comment-erstellen {
    display: block;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* GENERAL*/

.content-container {
    padding: 0px 5px 5px 5px;
    margin: 5px 0px;
    /*border: 1px solid  #ccc;*/
    border-radius: 4px;
    box-shadow: 2px 2px 5px #ccc;
    /*background: rgba(252, 240, 229,0.5);*/
    background: rgba(240,240,240,0.5);
    overflow: hidden;
}

.wbc-button {
    font-family: dejavu;
    font-weight: bold;
    font-size: 14px;
    color: #646464;
    line-height: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 2px 2px 5px #ccc;
    border:1px solid #F2C399; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    /* font-size:12px; */
    /* font-family:arial, helvetica, sans-serif; */
    padding: 10px 10px 10px 10px;
    /* text-decoration:none; */
    /* display:inline-block; */
    /* text-shadow: -1px -1px 0 rgba(0,0,0,0.3); */
    /* font-weight: bold;
    /* color: #FFFFFF; */
    background-color: #FCF0E5; background-image: -webkit-gradient(linear, left top, left bottom, from(#FCF0E5), to(#E8974D));
    background-image: -webkit-linear-gradient(top, #FCF0E5, #E8974D);
    background-image: -moz-linear-gradient(top, #FCF0E5, #E8974D);
    background-image: -ms-linear-gradient(top, #FCF0E5, #E8974D);
    background-image: -o-linear-gradient(top, #FCF0E5, #E8974D);
    background-image: linear-gradient(to bottom, #FCF0E5, #E8974D);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FCF0E5, endColorstr=#E8974D);
}

.wbc-button:hover {
    border:1px solid #DE6A00;
    background-color: #F2C399; background-image: -webkit-gradient(linear, left top, left bottom, from(#F2C399), to(#DE6A00));
    background-image: -webkit-linear-gradient(top, #F2C399, #DE6A00);
    background-image: -moz-linear-gradient(top, #F2C399, #DE6A00);
    background-image: -ms-linear-gradient(top, #F2C399, #DE6A00);
    background-image: -o-linear-gradient(top, #F2C399, #DE6A00);
    background-image: linear-gradient(to bottom, #F2C399, #DE6A00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F2C399, endColorstr=#DE6A00);
}

span .fa-circle-thin {
    background-color: white;
    border-radius: 60px;
    color: white !important;
}