Neue Veröffentlichungen

---

Hallo,

Es gibt einige neue Ereignisse die dich interessieren könnten:

{% for event in events %}
    Title:          {{event.title}}
    Beschreibung:  {{event.description}}
    Betrifft:           {{event.projects_events.all.0}}
    Link zum Projekt:   {{project_link}}{{event.projects_events.all.0.pk}}
    {% if not event.end  %}Zeitpunkt:          {{ event.begin }}{% else %}
    Auslegungszeitraum: von {{ event.begin}} bis {{ event.end }}
    {% endif %}
{% endfor %}
