Hallo,

zu Bauvorhaben in den von Dir angegebenen Bezirken gibt es neue Veröffentlichungen:

{% for veroeffentlichung in veroeffentlichungen %}
    Verfahren:          {{veroeffentlichung.verfahrensschritt.verfahren.name}}
    Verfahrensschritt:  {{veroeffentlichung.verfahrensschritt.name}}
    Betrifft:           {{veroeffentlichung.ort.bezeichner}} 
    {% if veroeffentlichung.ort.beschreibung %}Gegend:             {{veroeffentlichung.ort.beschreibung}}{% endif %}
    Bezirk:             {{veroeffentlichung.ort.bezirke.all|join:", "}}
    Link zum Projekt:   {{ort}}{{veroeffentlichung.ort.pk}}
    {% if veroeffentlichung.beginn == veroeffentlichung.ende  %}Zeitpunkt:          {{ veroeffentlichung.ende }}{% else %}   
    Auslegungszeitraum: von {{ veroeffentlichung.beginn }} bis {{ veroeffentlichung.ende }}
    {% endif %}
{% endfor %}

--
Dies ist ein Newsletter von Bürger baut Stadt.
Du kannst den Newsletter unter {{abbestellen}} wieder abbestellen.
