Hallo,

zu Bauvorhaben in den von Dir angegebenen Bezirken gibt es neue Veröffentlichungen:

{% for veroeffentlichung in veroeffentlichungen %}
    Verfahren:          {{veroeffentlichung.verfahrensschritt.verfahren.name}}
    Verfahrensschritt:  {{veroeffentlichung.verfahrensschritt.name}}
    Betrifft Gegend um: {{veroeffentlichung.ort}}
    Bezirk:             {{veroeffentlichung.ort.bezirke.all|join:", "}}
    Link zum Projekt:   {{ort}}{{veroeffentlichung.ort.pk}}    
    Auslegungszeitraum: von {{ veroeffentlichung.beginn }} bis {{ veroeffentlichung.ende }}
{% endfor %}

--
Dies ist ein Newsletter von Bürger baut Stadt.
Du kannst den Newsletter unter {{abbestellen}} wieder abbestellen.
