{% load staticfiles compress %}
<!DOCTYPE html>
<html ng-app="wbc">
<head>
    <title>{{site_title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta property="og:title" content="{{site_title}}" />
    <meta property="og:url" content="{{site_url}}" />
    <meta property="og:image" content="{{site_url}}/static/img/karte.png"/>

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />

    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" />

    {% block css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/style.scss" %}" />
    {% endblock %}


    <script type="text/javascript" src="{% static 'lib/jquery.min.js' %}" ></script>
    
    <script type="text/javascript" src="{% static 'lib/angular/angular.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/angular/checklist-model.js' %}"></script>

    <script type="text/javascript" src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}" ></script>

    <script type="text/javascript" src="{% static 'js/main.js' %}" ></script>

    <script type="text/ng-template" id="/wbc-searchdirective.html">
        <form id="nav-search" class="search-form" ng-submit="submit(formData.searchTerm)">
            <div>
                <div class="input-group search-field">
                    <input
                    placeholder="{[{text}]}"
                    type="text" class="form-control"
                    ng-model="formData.searchTerm"
                    ng-change="onSearchChanged()"
                    ng-keydown="onKeyDown($event)"
                    ng-model-options="{ debounce: 1200 }"/>

                    <i ng-show="isLoading" class="spinner-icon fa fa-spinner fa-spin"></i>

                    <a href="" class="input-group-addon" ng-click="search()">
                        <span class="glyphicon glyphicon-search">
                        </span>
                    </a>
                </div>
            </div>
        </form>
        <div ng-show="data.suggestions.length >0"class="search-results">
            <div ng-repeat="result in data.suggestions">
                <div class="search-result"
                     ng-click="loadDetails(result.internal_link)"
                     ng-class="{'selected-result': $index == selectedSuggestionIdx, 'search-result-type-project':  result.type == 'project', 'search-result-type-stakeholder':  result.type == 'stakeholder'}"
                     ng-switch="result.type">
                        <i ng-switch-when="project" class="fa fa-home"></i>
                        <i ng-switch-when="stakeholder" class="fa fa-user"></i>
                        <b>{[{ result.name }]}</b>
                        
                </div>
            </div>
        </div>
    </script>

    <script type="text/javascript" src="{% static 'js/angular-searchdirective.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/utils.js' %}" ></script>

    {% block js %}

    {% endblock %}
</head>

<body ng-controller="{% block controller %}WbcController{% endblock %}">
    <nav class="navbar navbar-default visible-xs" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="brand">
                <a href="/">
                    <img src="{% static 'img/title.png' %}" alt="Bürger baut Stadt">
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                {% include "core/layout_navigation.html" %}
            </ul>
        </div>
    </nav>

    <div id="header" class="hidden-xs">
        <div class="container-fluid">
            <div id="header-left">
                <div id="brand">
                    <a href="/">
                        <img src="{% static 'img/title.png' %}" alt="Bürger baut Stadt">
                    </a>
                </div>
            </div>

            <div id="header-right">
                <wbc-search text="Suche">
                </wbc-search>
                <ul class="sitenav wbc-nav">
                    {% include "core/layout_navigation.html" %}
                   <!-- {% include "core/layout_social.html" %}  -->
                </ul>
            </div>
        </div>
    </div>
    <div class="big-page">
        {% block content %}{% endblock %}
    </div>
    {% if not debug %}
        {% include "core/layout_piwik.html" %}
    {% endif %}
</body>
</html>
