{% load i18n %}
{% if not request.user.is_authenticated %}

<!-- The Loginform, button for registration TODO: password forgotten-->

<div id="login" class="container-fluid">
    <form class="form-horizontal" role="form" name="LoginForm" action="{% url 'login' %}" method="post" >
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="form-errors">
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% if request.path != '/logout/' %}
        <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}" />
        {% endif %}
  <!--  {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% endif %} -->
        {% include 'core/form_fields.html' %}
        <a class="forgot-password" href='{% url "password_reset" %}'>{% trans 'Passwort vergessen' %}</a>
        <div class="form-group">
            <div class="">
                <button type="submit" value="Login" class="btn btn-primary">Anmelden</button>
            </div>
        </div>
    </form>

</div>

<!-- focus the pw field -->
<script>
     document.getElementById("id_password").focus();
</script>
{% else %}
Sie sind bereits angemeldet
{% endif %}
