{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <title>{{site_title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta property="og:title" content="{{site_title}}" />
    <meta property="og:url" content="{{site_url}}" />
    <meta property="og:image" content="{{site_url}}/static/img/karte.png"/>

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />

    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" />

    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <link rel="stylesheet" href="{% static 'lib/leaflet/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'map.css' %}" />
    <link rel="stylesheet" href="{% static 'css/startpage.css' %}" />


    <script type="text/javascript" src="{% static 'lib/jquery.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/angular/angular.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}" ></script>

    <script type="text/javascript" src="{% static 'lib/angular/angular-scroll.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/leaflet/leaflet.js' %}" ></script>
    <script type="text/javascript">
        var _static_url = {% static '' %}
        var _tiles_url = "{{tiles_url}}";
        var _tiles_opt = {{tiles_opt|safe}};
        var _default_view = {{default_view|safe}};
    </script>
    <script type="text/javascript" src="{% static 'map.js' %}" ></script>

    {% block js %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-default visible-xs" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/title.png' %}" alt="Bürger baut Stadt">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                {% include "core/layout_navigation.html" %}
            </ul>
        </div>
    </nav>

    <!--

    <div id="header" class="hidden-xs">
        <div class="container" >
            <div id="header-left">
                <div id="brand">
                    <a href="/">
                        <img src="{% static 'img/title.png' %}" alt="Bürger baut Stadt">
                    </a>
                </div>
            </div>

            <div id="header-right">
                <ul class="sitenav">
                    {% include "core/layout_navigation.html" %}
                    {% include "core/layout_social.html" %}
                </ul>
            </div>
        </div>
    </div>

    -->


<div ng-app="map" ng-controller="StartpageController" class="startpage">

    <div id="map" ng-class="{'hidden-xs': !map}"></div>

    <div class="container" ng-class="{'container-table': data.searchEmpty }">

        <div class="row" ng-class="{'vertical-center-row': data.searchEmpty }">

            <div class="text-center col-md-8 col-md-offset-2">


                <img ng-if="data.searchEmpty" src="{% static 'img/title.png' %}" width="240">

                <div class="pull-right">

                    <h2 ng-if="data.searchEmpty">Finde geplante Bauvorhaben in deinem Stadtteil</h2>

                    <div class="search-form">

                        <form id="table-pager-search" class="search-form">
                            <div class="input-group">
                                <input
                                placeholder="Bauprojekte, Akteure und Projekte durchsuchen"
                                type="text" class="form-control"
                                ng-model="data.search" ng-change="onSearchChanged()">

                                <a href="" class="input-group-addon" ng-click="search()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                            </div>
                        </form>

                    </div>

                </div>

                <div class="row" ng-hide="data.searchEmpty">
                    <div class="col-md-4" ng-repeat="result in data.results" ng-click="focusLocation(result)">
                    {% verbatim %}

                    {{ result.identifier }}

                    {% endverbatim %}
                    </div>
                </div>

                <div class="row" ng-if="data.searchEmpty">
                       <div class="col-md-4">
                           <a href="{% url 'process' %}">
                               <div class="teaser">
                                   <i class='fa fa-globe'></i>
                                   <p>Alle Bauvorhaben auf einer Karte.</p>
                               </div>
                           </a>
                       </div>
                       <div class="col-md-4">
                           <a href="{% url 'process' %}">
                               <div class="teaser">
                                   <i class='fa fa-search'></i>
                                   <p>Suche nach Themen, Projekten oder Akteuren.</p>
                               </div>
                           </a>
                       </div>
                       <div class="col-md-4">
                           <a href="{% url 'process' %}">
                               <div class="teaser">
                                   <i class='fa fa-lightbulb-o'></i>
                                   <p>Informiere dich über die Gesetzeslage in deiner Stadt</p>
                               </div>
                           </a>
                       </div>
                   </div>




            </div>

        </div>


    </div>

</div>


    {% if not debug %}
        {% include "core/layout_piwik.html" %}
    {% endif %}
</body>
</html>

