{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <title>{{site_title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta property="og:title" content="{{site_title}}" />
    <meta property="og:url" content="{{site_url}}" />
    <meta property="og:image" content="{{site_url}}/static/img/karte.png"/>

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />

    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" />

    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <link rel="stylesheet" href="{% static 'lib/leaflet/leaflet.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'map.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'css/startpage.css' %}" />


    <script type="text/javascript" src="{% static 'lib/jquery.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/modernizr.js' %}"  ></script>

    <script type="text/javascript" src="{% static 'lib/angular/angular.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}" ></script>

    <script type="text/javascript" src="{% static 'lib/angular/angular-scroll.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/leaflet/leaflet.js' %}" ></script>

    <script type="text/javascript">
        var _static_url = {% static '' %}
        var _tiles_url = "{{tiles_url}}";
        var _tiles_opt = {{tiles_opt|safe}};
        var _default_view = {{default_view|safe}};
    </script>
    <script type="text/javascript" src="{% static 'map.js' %}" ></script>

    {% block js %}{% endblock %}
</head>

<body ng-app="map" ng-controller="StartpageController">

    
    <div id="map"></div>

    
    <div class="startpage">
        <nav class="navbar navbar-default visible-xs" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{% static 'img/title.png' %}" alt="Bürger baut Stadt">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    {% include "core/layout_navigation.html" %}
                </ul>
            </div>
        </nav>

        <div ng-if="!showLanding" id="header" class="hidden-xs">
            <div class="container">
                <div id="header-left">
                    <div id="brand">
                        <a href="/">
                            <img src="{% static 'img/title.png' %}" alt="Bürger baut Stadt">
                        </a>
                    </div>
                </div>

                <div id="header-right">
                    <ul class="sitenav">
                        {% include "core/layout_navigation.html" %}
                        {% include "core/layout_social.html" %}
                    </ul>
                </div>
            </div>
        </div>


        <div ng-class="{'container-table': showLanding, 'detail-search' : showDetails }" class="container search-overlay">

            <div class="row" ng-class="{'vertical-center-row': showLanding }">

                <div ng-class="{'text-center col-md-8 col-md-offset-2': !showDetails }">

                    <img ng-if="showLanding" src="{% static 'img/title.png' %}" width="240">

                    <h2 ng-if="showLanding">Finde geplante Bauvorhaben in deinem Stadtteil</h2>

                    <div class="search-form">
                        <h1 ng-if="showDetails">{% verbatim %}{{details.identifier}} {% endverbatim %}</h1>
                        <form id="search" class="search-form">
                            <div class="input-group">
                                <input
                                placeholder="Bauprojekte, Akteure und Projekte durchsuchen"
                                type="text" class="form-control"
                                ng-model="currentSearchTerm"
                                ng-change="onSearchChanged()"
                                ng-keydown="onKeyDown($event)"
                                ng-model-options="{ debounce: 1200 }">

                                <a href="" class="input-group-addon" ng-click="search()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                            </div>
                        </form>


                    </div>

                    <div class="clearfix"></div>

                    <div class="row search-results" ng-hide="showLanding">

                        <div class="col-md-4"
                            ng-repeat="result in data.suggestions">

                            <div class="search-result"
                                ng-mouseover="focusResult(result)"
                                ng-click="loadDetails(result)"
                                ng-class="{'selected-result': $index == selectedSuggestionIdx,
                                   'search-result-type-project':  result.type == 'project',
                                   'search-result-type-stakeholder':  result.type == 'stakeholder'}">


                                {% verbatim %}

                                <b>{{ result.name }}</b>
                                {{result.type}}

                                {% endverbatim %}
                            </div>
                        </div>
                    </div>


                    <div class="row" ng-if="noResults">
                        <div class="col-md-12 search-result">
                            Keine Ergebnisse für {% verbatim %}<strong>{{currentSearchTerm}}</strong>{% endverbatim %}. <br/> <a href="#todop">Detailsuche</a>
                        </div>
                    </div>



                    <div class="row" ng-if="showLanding">
                       <div class="col-md-4">
                           <a href="{% url 'process' %}">
                               <div class="teaser">
                                   <i class='fa fa-globe'></i>
                                   <p>Alle Bauvorhaben auf einer Karte.</p>
                               </div>
                           </a>
                       </div>
                       <div class="col-md-4">
                           <a href="{% url 'process' %}">
                               <div class="teaser">
                                   <i class='fa fa-search'></i>
                                   <p>Suche nach Themen, Projekten oder Akteuren.</p>
                               </div>
                           </a>
                       </div>
                       <div class="col-md-4">
                           <a href="{% url 'process' %}">
                               <div class="teaser">
                                   <i class='fa fa-lightbulb-o'></i>
                                   <p>Informiere dich über die Gesetzeslage in deiner Stadt</p>
                               </div>
                           </a>
                       </div>
                   </div>
                </div>

            </div>

        </div>
        {% verbatim %}
        <!-- <div ng-if="showDetails" class="detail-overlay">
            <div class='col-md-12 overlay'><h1>{{details.identifier}}</h1></div>
            <div class="col-md-1 col-sm-0 overlay infobox-right"></div>
            <div class="col-md-4 col-md-offset-7 overlay infobox-right">
                {{details.name}}
                {{details.identifier}}
            </div>
            <div class="col-md-12 overlay">
                <b>{{ details }}</b>
            </div>
        </div> -->
        <div ng-if="showDetails" class="detail-overlay container">
            <!-- <div class="col-md-12">
                <h1 class="col-md-7">{{ details.identifier }}</h1>
            </div> -->
            <div class="col-md-8 mid-overlay map-window">
                
            </div>
            <div class="col-md-4 mid-overlay overlay">
                <div id="subscribe-widget">
                    <button class="btn default wbc-button-sub">
                        <span class="fa-stack">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x fa-lg"></i>
                        </span>
                        Project abonnieren
                    </button>
                </div>
                <div id="next-date-widget" class="widget">
                    <h3><i class="fa fa-calendar"> </i>Nächster Termin</h3>
                    <div ng-if="details.next_date">
                        <p>{{details.next_date.title}}</p>
                        <p>{{details.next_date.begin}}</p>
                        <p>{{details.next_date.address}}</p>
                    </div>
                    <div ng-if="!details.next_date">
                        <p>Keine anstehenden Termine.</p>
                    </div>
                </div>
                <div id="last-news-widget" class="widget">
                    <h3><i class="fa fa-calendar"> </i>Letzte Neuigkeiten</h3>
                    <div ng-if="details.last_news">
                        <p>{{details.last_news.title}}</p>
                        <p>{{details.last_news.begin}}</p>
                        <p>{{details.last_news.address}}</p>
                    </div>
                    <div ng-if="!details.next_date">
                        <p>Keine aktuellen Neuigkeiten.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 overlay">
                <div>
                    <h3>Beschreibung</h3>
                    <p>
                        {{ details.description }}
                    </p>                   
                     <p ng-if="details.description_official">
                        <strong>Genaue örtliche Beschreibung (Amtsblatt):</strong> {{ details.description_official }}
                     </p>
                    
                    <p>
                        <strong>im Bezirk/in den Bezirken:</strong> <span ng-repeat="ent in details.entities">{{ ent.name}}</span>
                    </p>
                </div>
            </div>
        </div>
        {% endverbatim %}

    </div>


    {% if not debug %}
        {% include "core/layout_piwik.html" %}
    {% endif %}
</body>
</html>

