{% extends 'core/layout_split.html' %}
{% load staticfiles compress %}

{% block css %}
    {% compress css %}
    {{block.super}}
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/search.scss" %}" />
    <link rel="stylesheet" href="{% static 'lib/leaflet/leaflet.css' %}" />

    {% endcompress %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'lib/leaflet/leaflet.js' %}" ></script>

    <script type="text/javascript" src="{% static 'lib/angular/checklist-model.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map_page.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular-mapservice.js' %}"></script>
    <script type="text/javascript">
        var _static_url = {% static '' %}
        var _tiles_url = "{{tiles_url}}";
        var _tiles_opt = {{tiles_opt|safe}};
        var _default_view = {{default_view|safe}};
    </script>
{% endblock %}

{% block controller %}
MapController
{% endblock %}

{% block side_content %}
<div>
    <form id="search" class="search-form">
        {% csrf_token %}
        <div>
            <div>
                <div ng-if="facets.length > 0" class="facet-container">
                    <h3 class="collapse-heading collapsed" data-toggle="collapse" data-target="#tag-facets">Nach Stichwörtern filtern</h3>
                    <div id='tag-facets' class="collapse">
                        <div ng-repeat="facet in facets">
                            <label>
                                <input type="checkbox" checklist-model="formData.tags" checklist-value="facet[0]" checklist-change="onSearchChanged()">
                                    {[{facet[0]}]} ({[{facet[1]}]})
                            </label>
                        </div>
                    </div>
                </div>
                <div  ng-if="entitiesFacets.length > 0" class="facet-container">
                    <h3 class="collapse-heading collapsed" data-toggle="collapse" data-target="#region-facets">Nach Regionen filtern</h3>
                    <div id='region-facets' class='collapse'>
                        <div ng-repeat="facet in entitiesFacets">
                            <label>
                                <input type="checkbox" checklist-model="formData.entities" checklist-value="facet[0]" checklist-change="onSearchChanged()">
                                    {[{facet[0]}]} ({[{facet[1]}]})
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="resultLength">
                <h3 class="collapse-heading" data-toggle="collapse" data-target=".result-list">Ergebnisse</h3>
                <p ng-if="resultLength">{[{resultLength}]} Einträge gefunden</p>
                <div class="result-list in">
                    <div ng-repeat="result in results">
                        <div class="search-result" ng-mouseover="focusResult(result)">
                            <a ng-href="{[{result.internal_link}]}">
                                <b>{[{ result.name }]}</b>
                            </a>
                            {[{result.type}]}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block main_content %}
<div id="map"></div>
{% endblock %}
