{% extends 'core/layout.html' %}
{% load staticfiles %}

{% block css %}
<link rel="alternate" type="application/rss+xml"
      title="Your Feed Title" href="http://localhost:8000/veroeffentlichungen/feed/"  />
    <link rel="stylesheet" href="{% static 'page.css' %}" />
{% endblock %}

{% block content %}
    <div class="container page">
        <div class="row">
            <div class="col-md-9">
                {% block page %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}