{% extends 'core/layout_split.html' %}
{% load staticfiles compress i18n %}


<!-- The Searchpage. Includes two views: map and list views -->
<!-- Filter on the left in the sidebar, results in the mainframe -->

{% block meta_content %}
    <meta property="og:title" content="{{site_title}} - Suche" />
    <meta property="og:image" content="{{site_url}}/static/img/title.png"/>
    <meta name="description" content="{% trans 'Finde spannende Projekte und Ideen.' %}" /> 


    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">

    <!-- Open Graph data -->
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{% trans 'Finde spannende Projekte und Ideen.' %}" /> 
{% endblock %}

{% block css %}
    {% compress css %}
    {{block.super}}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/search.scss' %}" />
    <link rel="stylesheet" href="{% static 'lib/leaflet/leaflet.css' %}" />
    {% endcompress %}
{% endblock %}

{% block js %}
    {{block.super}}
    <script type="text/javascript" src="{% static 'lib/leaflet/leaflet.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/d3.min.js' %}" ></script>

    <script type="text/javascript">
        var _static_url = "{% static '' %}";
        var _tiles_url = "{{tiles_url}}";
        var _tiles_opt = {{tiles_opt|safe}};
        var _default_view = {{default_view|safe}};
        var _mapview = {{mapview|yesno:"true,false"}};
        var _add_filters = {{add_filters|yesno:"true,false"}};
    </script>
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular-mapservice.js' %}"></script>
{% endblock %}

{% block controller %}
SearchController
{% endblock %}

{% block side_content %}
<!-- base for html5 mode angular -->
<base href="/suche/">
    <!-- sidebar with form, searchFocus to show autocomplete results correctly -->
    <div id="search_sidebar" ng-class="{'show-overflow' : searchFocus}">
        <form id="search" ng-submit="$event.preventDefault(); startSearch(false)">
            {% csrf_token %}
            <!-- Search anchor, stays on top while scrolling -->
            <div class="search-anchor anchor">
                <div class="input-group search-field">
                    <input
                    placeholder="{% trans 'PLACEHOLDER:Suche nach Ideen, Ansprechpartnern und Projekten in deinem Landkreis...' %}"
                    type="text" class="form-control"
                    ng-model="formData.q"
                    ng-change="onSearchChanged()"
                    ng-keydown="onKeyDown($event)" 
                    ng-focus="searchFocus=true"
                    ng-blur="searchFocus=false"
                    >
                    
                    <!-- Clear Search Button -->
                    <a ng-if="activeSearch" ng-click="clearSearch()" class="text-muted clear-search" href="#" title="{% trans 'Suche zurücksetzen' %}">
                        <i class="fa fa-times"></i>
                    </a>

                    <a href="" class="input-group-addon" onclick="$('#search').submit()">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>

                <!-- Autocomplete results -->
                <div ng-show="suggestions.length >0 && searchFocus" class="search-results-autocomplete">
                    <div ng-repeat="result in suggestions">
                        <div class="search-result-autocomplete"
                             ng-click="selectTerm(result.name);startSearch(false);"
                             ng-class="{'selected-result': $index == selectedSuggestionIdx}"
                             ng-mouseover="setIndex($index)"
                             >
                            {[{ result.name }]}
                        </div>
                    </div>
                </div>

                <!-- Advanced Search for mobile view -->
                <a class="pull-left visible-xs" href="" ng-click="showFilter = !showFilter"> {% trans 'Erweiterte Suche' %}</a>

                <!-- Shows the number of displayed results and Buttons to load more -->
                <p id="result-number" ng-if="resultLength">
                    <span ng-if="results.length < resultLength">{[{results.length}]} von {[{resultLength}]} {% trans 'Einträgen' %}</span>
                    <span ng-if="results.length >= resultLength"> {[{resultLength}]} {% trans 'Einträge' %}</span>
                    <br ng-if="results.length < resultLength && !listView"> <a href="#" ng-if="results.length < resultLength && !listView" ng-click="startSearch(offset)">{% trans 'more' %}</a>
                    <a href="#" ng-if="results.length < resultLength && !listView"ng-click="startSearch(-1)">{% trans 'all' %}</a>
                </p> 
               <div class="pull-right input-searching" ng-show="searching">
                    <i class="spinner-icon fa fa-spinner fa-spin"></i>
                    <span class="loading-text"> {% trans 'Suche' %}</span>
               </div>

                <!-- Spelling suggestions -->
                <!-- <div ng-if="suggestion" class="suggestion-container">
                    {% trans 'SPELLING SUGGESTION:Meinten Sie:' %} <a href="" ng-click="selectTerm(suggestion)">
                        {[{suggestion}]}
                    </a>
                </div> -->
                
              <!--   <a href="" class="scroll-top-link hidden-xs" onclick="$('#search_sidebar').scrollTop(0)"> <i class="fa-angle-double-up fa"></i> FILTER</a> -->

                <!-- Scroll back to Top arrow -->
                <a href="" class="scroll-top-link-bottom" onclick="$('#search_sidebar').scrollTop(0)"> <i class="fa-angle-double-up fa fa-2x"></i></a>

            </div>

            <!-- Additional Filters, TODO: Automatic -->
            <div id="filter-container">
                <div ng-show="listView" class="visible-xs facet-container">
                    <div ng-click="toggleSelectedItems($event)" class="collapse-heading collapsed" data-toggle="collapse" data-target=".sort-filter">
                        <i class="region-anchor anchor fa fa-image"></i>{% trans 'Sortieren' %}
                    </div>

                    <div class='sort-filter collapse wbc-dropdown-container'>
                        <div class="sort-control">
                            <ul class="tabs">
                                {% for btn in order_btns %}
                                <button value={{btn.value}} class="order-btn btn btn-default">{{btn.text}}</button>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- line under the gui elements that grows on hover -->
                    <div class="underline-lr"></div>
                </div>
                
                <div ng-if="add_filters" class="facet-container">
                    
                    <div ng-click="toggleSelectedItems($event)" class="collapse-heading collapsed" data-toggle="collapse" data-target=".general-options">
                        <i class="anchor fa fa-gears"></i>{% trans 'Filter' %}
                    </div>
                    <div id='general-options' class='general-options collapse wbc-dropdown-container'>
                        <div class="facet-select">
                            <label>
                                <input type="checkbox" ng-model="formData.terminated" ng-click="startSearch()">
                                {% trans 'Historische Bebauungspläne' %}
                            </label>
                        </div>
                        <div class="facet-select">
                            <label>
                                <input type="checkbox" ng-model="formData.buffer_areas" ng-click="startSearch();activateBufferArea()">
                                {% trans 'Bebauungspläne mit Ausgleichsflächen' %}
                            </label>
                        </div>
                    </div>
                    <div class="underline-lr"></div>

                </div>
                <div ng-if="entitiesFacets.length > 0" class="facet-container">
                    <div ng-click="toggleSelectedItems($event)" class="collapse-heading collapsed" data-toggle="collapse" data-target=".region-facets">
                        <i class="region-anchor anchor fa fa-image"></i>{% trans 'ENTITY-FILTER: Stadtteile' %}
                    </div>
                    <!-- Active facets when menu folded in -->
                    <div class="active-facets wbc-dropdown-container">
                         <div class="facet-item" ng-repeat="entity in formData.entities">
                            <span>{[{entity}]}</span>
                            <a ng-click="formData.entities.splice(formData.entities.indexOf(entity), 1); startSearch()" class="close-button">
                                <i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div id='region-facets' class='region-facets collapse wbc-dropdown-container'>
                        <div class="facet-select" ng-repeat="facet in entitiesFacets">
                            <label>
                                <input type="checkbox" checklist-model="formData.entities" checklist-value="facet[0]" ng-click="startSearch()">
                                    {[{facet[0]}]} ({[{facet[1]}]})
                            </label>
                        </div>    
                    </div>
                    <!-- line under the gui elements that grows on hover -->
                    <div class="underline-lr"></div>
                </div>

                <div ng-if="tagFacets.length > 0" class="facet-container">
                    <div ng-click="toggleSelectedItems($event)" class="collapse-heading" ng-class="{'collapsed' : !listView}" data-toggle="collapse" data-target="#tag-facets">
                        <i class="tag-anchor anchor fa fa-tags"></i>{% trans 'TAG-FILTER:Stichwörter' %}
                    </div>
                    <div class="active-facets wbc-dropdown-container" ng-class="{'hidden' : listView}">
                        <div class="facet-item" ng-repeat="tag in formData.tags">
                            <span>{[{tag}]}</span>
                            <a class="close-button" ng-click="formData.tags.splice(formData.tags.indexOf(tag), 1); startSearch();"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
                        </div>
                    </div>
                    <div id='tag-facets' class="wbc-dropdown-container" ng-class="listView ? 'in' : 'collapse'">
                        <div class="facet-select" ng-repeat="facet in tagFacets">
                            <label>
                                <input type="checkbox" checklist-model="formData.tags" checklist-value="facet[0]" ng-click="startSearch()">
                                    {[{facet[0]}]} ({[{facet[1]}]})
                            </label>
                        </div>
                    </div>
                    <!-- line under the gui elements that grows on hover -->
                    <div class="underline-lr"></div>
                </div>
            </div>
        </form>

        <!-- Spinner to show that side is searching/loading -->
         <div ng-show="searching" class="text-center loading-container">
            <i class="spinner-icon fa fa-spinner fa-spin"></i>
            <div class="loading-text"> {% trans 'Suche' %}</div>
        </div>
        
        <!-- Result list in sidebar -->
        <div id="sidebar-results" class="facet-container" ng-hide="listView" ng-if="resultLength">
            
            <!-- header to expand/collapse results -->
            <div class="collapse-heading" data-toggle="collapse" data-target=".result-list"><i class="result-anchor anchor fa fa-list-ul"> </i>{% trans '#ERGEBNISSE:Ergebnisse' %}</div>
            
            <!-- Results -->
            <div class="result-list in wbc-dropdown-container">

                <div class="clearfix"
                    ng-repeat="result in results"
                    ng-mouseover="focusResult(result)"
                    ng-mouseout="defocusResult(result)"
                    ng-click="selectResult(result)">

                    <div id="result-{[{result.pk}]}" class="search-result">

                        <!-- switch for each possible resulttype, TODO: make this automatic for all possible results -->
                        <div class="result-type" ng-switch on="result.type">
                            <i ng-switch-when="project" class="fa fa-home fa-2x"></i>
                            <i ng-switch-when="stakeholder" class="fa fa-user fa-2x"></i>
                        </div>
                        <div class="result-details">
                            <a ng-href="{[{result.internal_link}]}">
                                {[{ result.name }]}
                            </a>
                            <p ng-if="result.address_obj">{[{ result.address_obj }]}</p>
                        </div>
                    </div>
                </div>
                <a href="#" ng-if="results.length < resultLength"ng-click="startSearch(offset)">{% trans 'more' %}</a>
            </div>
            <!-- line under the gui elements that grows on hover -->
            <div class="underline-lr"></div>
        </div>

    </div>
{% endblock %}

{% block main_content %}
    <!-- Switches Views between map and list -->
    <div id="map-list-switch">
        <button class="btn btn-default wbc-secondary-button view-switch" data-toggle="tooltip" data-container="body" title="{% trans 'Kachelansicht' %}" ng-click="changeView('box')">
            <i class="fa fa-th"></i>
        </button>
         <button class="btn btn-default wbc-secondary-button view-switch" data-toggle="tooltip" data-container="body" title="{% trans 'Listenansicht' %}" ng-click="changeView('list')">
            <i class="fa fa-list"></i>
        </button>
        <button class="btn btn-default wbc-secondary-button view-switch" data-toggle="tooltip" data-container="body" title="{% trans 'Karte' %}" ng-click="changeView('map')">
            <i class="fa fa-map-o"></i>
        </button>
    </div>
    <!-- <button class="btn btn-default wbc-secondary-button" id="map-list-switch" ng-click="changeView()">{% trans 'Button:Listen-/Kartenansicht' %}</button> -->
    <button class="new-project-button wbc-alarm-button btn btn-default modal-button" data-form="{% url 'project_create' %}" data-title="{% trans 'Projekt hinzufügen' %}">{% trans 'Neues Project erstellen' %}</button>
    <!-- MAPVIEW -->
    <div ng-class="{'active-result': viewStyle == 'map'}" class="result-content" id="map">

        <!-- INFO BOX ON MAP, shows selected Result -->
        <div ng-if="selectedResult != null" class="map-overlay" id="map-info-box">
            <h2>{[{selectedResult.name}]}</h2>
            <img ng-if="selectedResult.thumbnail" class="search-thumbnail" src={[{selectedResult.thumbnail}]}>
            <a class="clearfix" ng-href="{[{selectedResult.internal_link}]}">{% trans 'Details' %}</a>
        </div>

        <!-- LEGEND -->
        <div class="map-overlay" id="legend">
            <b>Bebauungspläne</b>
            <div>
                <svg width="40" height="18" class="wbc-poly">
                    <rect width="40" height="18" />
                </svg> <span>im Verfahren</span>
            </div>
            <div>
                <svg width="40" height="18" class="wbc-poly terminated-poly">
                    <rect width="40" height="18" />
                </svg> <span>festgestellt</span>
            </div>
            <hr>            
            <div>
                <svg width="40" height="18" class="buffer-area wbc-poly">
                    <rect width="40" height="18" />
                </svg> <span>Ausgleichsflächen</span>
            </div>
        </div>

        <!-- TIMELINE -->
        <div ng-show="formData.terminated" id="timeline-container">
            <svg id="timeline"></svg>
        </div>
    </div>

    <!-- LISTVIEW -->
    <div ng-class="{'active-result': viewStyle == 'list' || viewStyle == 'box', 'box' : viewStyle =='box'}" class="result-content" id="list">
        
        <!-- Search Header with filters and sorting, fixed top -->
        <div id='search-list-header' class="fixed-top">
            <div class="sort-control pull-left hidden-xs">
                <p>{% trans 'Sortieren nach:' %}</p>
                <ul class="tabs">
                    {% for btn in order_btns %}
                        <button value={{btn.value}} class="order-btn btn btn-default wbc-secondary-button">{{btn.text}}</button>
                    {% endfor %}
                </ul>
            </div>
     <!--        <div ng-show="searching">
                    <i class="spinner-icon fa fa-spinner fa-spin"></i>
                    <div class="loading-text"> {% trans 'Suche' %}</div>
            </div> -->
        </div>

        <!-- Result list for listview -->
        <div id="result-list">
            <div ng-repeat="result in results" class="result-repeat" ng-class="(viewStyle == 'box') ? 'col-md-4' : ''">
                <a ng-href="{[{result.internal_link}]}">
                    <div id="result-{[{result.pk}]}" class="search-result container-fluid">
                        <div class="left-block pull-left">
                            <img ng-if="result.thumbnail" class="search-thumbnail" src={[{result.thumbnail}]}>
                            <i ng-if="!result.thumbnail" class="search-thumbnail fa-5x fa fa-building-o"></i>    
                        </div>
                        <div class="right-block">
                            <div class="result-mash">
                                <div class="pull-left result-block result-title">
                                    <b>{[{ result.name }]}</b>
                                    <p ng-if="result.address_obj">{[{ result.address_obj }]}</p>
                                </div>
                                <div class="pull-left result-block result-stakeholder">
                                    <p ng-if="result.num_stakeholder">{% trans '#Beteiligte:' %}' {[{result.num_stakeholder}]}</p>
                                </div>
                                <div class="pull-right result-block result-stats">
                                    <p ng-if="result.created">{% trans 'Erstellt am:' %} {[{result.created}]}</p>
                                    <p ng-if="result.created_by">{% trans 'Erstellt von:' %}' {[{result.created_by}]}</p>
                                    <p ng-if="result.ratings_avg">{% trans 'Bewertung: &Oslash;' %}' {[{result.ratings_avg}]} ({[{result.ratings_count}]})</p>
                                </div>
                                <div ng-if="viewStyle == 'box'" class="result-create">
                                     <span ng-if="result.created_by">{[{result.created_by}]} - </span>
                                     <span ng-if="result.created" class="">{[{result.created}]}</span>

                                </div>
                                <p class="teaser" ng-if="result.teaser">{[{result.teaser}]}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <button ng-if='results.length < resultLength' class="load-more-results btn btn-default">{% trans 'Mehr Ergebnisse laden' %}</button>
        </div>
    </div>
    
{% endblock %}
