{% extends 'core/layout_split.html' %}
{% load staticfiles compress i18n %}

{% block css %}
    {% compress css %}
    {{block.super}}
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/search.scss" %}" />
    <link rel="stylesheet" href="{% static 'lib/leaflet/leaflet.css' %}" />
    {% endcompress %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'lib/leaflet/leaflet.js' %}" ></script>

    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular-mapservice.js' %}"></script>
    <script type="text/javascript">
        var _static_url = {% static '' %}
        var _tiles_url = "{{tiles_url}}";
        var _tiles_opt = {{tiles_opt|safe}};
        var _default_view = {{default_view|safe}};
    </script>
{% endblock %}

{% block controller %}
SearchController
{% endblock %}

{% block side_content %}
<!-- base for html5 mode angular -->
<base href="/suche/">
    <div id="search_sidebar">
        <form id="search">
            {% csrf_token %}
            <div class="search-anchor anchor">
                <div class="input-group search-field">
                    <input
                    placeholder="Suche nach Ideen, Ansprechpartnern und Projekten in deinem Landkreis..."
                    type="text" class="form-control"
                    ng-model="formData.q"
                    ng-keydown="onKeyDown($event)">

                    <a href="" class="input-group-addon" ng-click="onSearchChanged()">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
                <div ng-if="suggestion" class="suggestion-container">
                    Meinten Sie:<a href="" ng-click="selectTerm(suggestion)">
                        {[{suggestion}]}
                    </a>
                </div>
            </div>
            <div ng-if="entitiesFacets.length > 0" class="facet-container">
                <div ng-click="toggleSelectedItems($event)" class="collapse-heading collapsed" data-toggle="collapse" data-target=".region-facets">
                    <i class="region-anchor anchor fa fa-image"></i>Städte
                </div>
                <div class="active-facets wbc-dropdown-container">
                     <div class="facet-item" ng-repeat="entity in formData.entities">
                        <span>{[{entity}]}</span>
                        <a ng-click="formData.entities.splice(formData.entities.indexOf(entity), 1); onSearchChanged(formData);" class="close-button">
                            <i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i>
                        </a>
                    </div>
                </div>
                <div id='region-facets' class='region-facets collapse wbc-dropdown-container'>
                    <div class="facet-select" ng-repeat="facet in entitiesFacets">
                        <label>
                            <input type="checkbox" checklist-model="formData.entities" checklist-value="facet[0]" ng-click="onSearchChanged()">
                                {[{facet[0]}]} ({[{facet[1]}]})
                        </label>
                    </div>
                </div>
            </div>

            <div ng-if="tagFacets.length > 0" class="facet-container">
                <div ng-click="toggleSelectedItems($event)" class="collapse-heading collapsed" data-toggle="collapse" data-target="#tag-facets">
                    <i class="tag-anchor anchor fa fa-tags"></i>Stichwörter
                </div>
                <div class="active-facets wbc-dropdown-container">
                    <div class="facet-item" ng-repeat="tag in formData.tags">
                        <span>{[{tag}]}</span>
                        <a class="close-button" ng-click="formData.tags.splice(formData.tags.indexOf(tag), 1); onSearchChanged(formData);"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
                    </div>
                </div>
                <div id='tag-facets' class="collapse wbc-dropdown-container">
                    <div class="facet-select" ng-repeat="facet in tagFacets">
                        <label>
                            <input type="checkbox" checklist-model="formData.tags" checklist-value="facet[0]" ng-click="onSearchChanged()">
                                {[{facet[0]}]} ({[{facet[1]}]})
                        </label>
                    </div>
                </div>
            </div>


            <!--
            <div ng-click="toggleSelectedItems($event)" class="collapse-heading collapsed" data-toggle="collapse" data-target="#type-facets">
                <i id="type-anchor" class="anchor fa fa-circle-o"> </i> Typen
            </div>
            <div class="active-facets wbc-dropdown-container">
                <div class="facet-item" ng-repeat="model in formData.models">
                    <span>{[{models[model]}]}</span>
                    <a class="close-button" ng-click="formData.models.splice(formData.models.indexOf(model), 1)"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
                </div>
            </div>
            <div id="type-facets" class="collapse wbc-dropdown-container" >
                <div ng-repeat="(key, text) in models"  class="facet-select">
                    <label>
                        <input type="checkbox" checklist-model="formData.models" checklist-value="key" checklist-change="onSearchChanged()">
                        {[{text}]}
                    </label>
                </div>
            </div>
            -->

        </form>
        <div ng-hide="listView" ng-if="resultLength">
            <div class="collapse-heading" data-toggle="collapse" data-target=".result-list"><i class="result-anchor anchor fa fa-list-ul"> </i>Ergebnisse</div>
            <p id="result-number" class="wbc-dropdown-container text-muted" ng-if="resultLength">{[{resultLength}]} Einträge gefunden</p>
            <div class="result-list in wbc-dropdown-container">

                <div class="clearfix"
                    ng-repeat="result in results"
                    ng-mouseover="focusResult(result)"
                    ng-mouseout="defocusResult(result)"
                    ng-click="selectResult(result)">

                    <div id="result-{[{result.pk}]}" class="search-result">
                        <div class="result-type" ng-switch on="result.type">
                            <i ng-switch-when="project" class="fa fa-lightbulb-o fa-2x"></i>
                            <i ng-switch-when="stakeholder" class="fa fa-user fa-2x"></i>
                        </div>
                        <div class="result-details">
                            <a ng-href="{[{result.internal_link}]}">
                                <b>{[{ result.name }]}</b>
                            </a>
                            <p ng-if="result.address_obj">{[{ result.address_obj }]}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block main_content %}
    <!-- <ul class="nav-tabs nav">
        <li><button class="btn btn-default" id="map-list-switch"><i class='fa fa-map'></i></button></li>
        <li><button class="btn btn-default" id="map-list-switch"><i class='fa fa-list'></i></button></li>
        <li><button class="btn btn-default" id="map-list-switch"><i class='fa fa-book'></i></button></li>
    </ul> -->

    <button class="btn btn-default" id="map-list-switch" ng-click="changeView()">Listen-/Kartenansicht</button>
    <div ng-class="{'active-result': listView}" class="result-content active-result" id="list">
        <div id='search-list-header'>
            <div class="pull-left result-number">
                <h2>{[{resultLength}]}</h2>
                <p>Ergebnisse</p>
            </div>
            <div class="sort-control pull-left">
                <p>Sortieren nach:</p>
                <ul class="tabs">
                    <button value="" class="order-btn active btn btn-default">Relevanz</button>
                    <button value="name" class="order-btn btn btn-default">Name</button>
                    <button value="-created" class="order-btn btn btn-default">Datum</button>
                    <button value="-num_stakeholder" class="order-btn btn btn-default">Anzahl der Beteiligten</button>
                    <button value="-ratings_avg" class="order-btn btn btn-default">Bewertung</button>
                    <button value="-ratings_count" class="order-btn btn btn-default">Anzahl an Bewertungen</button>
                </ul>
            </div>
        </div>
        <div id="result-list">
            <div ng-repeat="result in results">
                <div id="result-{[{result.pk}]}" class="search-result  container-fluid">
                    <div class="left-block pull-left">
                        <img ng-if="result.thumbnail" class="search-thumbnail" src={[{result.thumbnail}]}>
                        <!-- <i ng-if="!result.thumbnail" class="fa fa-lightbulb-o fa-5x"></i> -->
                        <img ng-if="!result.thumbnail" class="search-thumbnail" src="/static/img/project_placeholder100.png">
                    </div>
                    <div class="right-block">
                        <div class="result-mash">
                            <div class="pull-left result-block">
                                <div class="result-type" ng-switch on="result.type">
                                    <i ng-switch-when="project" class="fa fa-lightbulb-o fa-2x"></i>
                                    <i ng-switch-when="stakeholder" class="fa fa-user fa-2x"></i>
                                </div>
                                <a ng-href="{[{result.internal_link}]}">
                                    <b>{[{ result.name }]}</b>
                                </a>
                                <p ng-if="result.address_obj">{[{ result.address_obj }]}</p>
                            </div>
                            <div class="pull-left result-block">
                                <p ng-if="result.num_stakeholder">Beteiligte: {[{result.num_stakeholder}]}</p>
                            </div>
                            <div class="pull-right result-block">
                                <p ng-if="result.created">Erstellt am: {[{result.created}]}</p>
                                <p ng-if="result.created_by">Erstellt von: {[{result.created_by}]}</p>
                                <p ng-if="result.ratings_avg">Bewertung: &Oslash; {[{result.ratings_avg}]} ({[{result.ratings_count}]})</p>
                            </div>
                            <p class="teaser" ng-if="result.teaser">{[{result.teaser}]}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-class="{'active-result': !listView}" class="result-content" id="map"></div>
{% endblock %}
