<!-- Startpage.html is the container of the the We-Build.City Startpage -->
<!-- For Editing please change the city.html in your city repository -->
<!-- Header and Meta Data of the Startpage - no editing required --> 

{% extends 'core/layout.html' %}
{% load staticfiles compress %}

{% block css %}
    {% compress css %}
    {{block.super}}
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/startpage.scss" %}" />
    {% endcompress %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/startpage.js' %}"></script>
{% endblock %}


{% block controller %}
StartpageController
{% endblock %}


{% block content %}

<div id="startpage-content">


<!-- Top of the startpage with headline, search bar and background image -->
 
            {% block top %}
            {% endblock %}


<!-- Bottom Container -->

    <div id="bottom-container">                         

<!-- Bottom Blocks of various content -->


<!-- Block of Navigation Boxes -->
            
            {% block nav-boxes %}

            {% endblock %}

  
            {% block topic-boxes %}

            {% endblock %}


<!-- Block Questions -->
      
            {% block questions %}
            
            {% endblock %}
   
<!-- Upcomming Events -->

<!--        {% if upcoming %}
            {% endif %}  -->

            {% if upcoming %}
                    <div class="bottom-block">
                        <h2 class="wbc-headline">Aktuelle Ideen & Projekte &amp; Projekte:</h2>
                        <div class="wbc-divider"></div>
                        <div class="upcoming container">
                                {% for project in upcoming %}
                                <a href="{{project.get_absolute_url}}">
                                    <div class="project-description col-md-4">
                                        {% if project.gallery %}
                                        <img class="description_img" src="{{project.gallery.photos.all.0.get_description_url}}" />
                                        {% else %}
                                        <img class="description_img" src="{% static 'img/person_placeholder.png' %}" />
                                        {% endif %}
                                        <div>
                                            <h3>{{project.name}} {% if project.identifier %} ({{project.identifier}}) {% endif %}</h3>
                                            {% if project.address_obj %}
                                            <p >{{project.address_obj.street}}  {{ project.address_obj.streetnumber }}</p>
                                            <p>{{project.get_teaser}}</p>
                                            {% endif %}
                                        </div>
                                        {% if project.get_next_date %}
                                        <div class="next-date">
                                            <p title="Nächste Veranstaltung"><i class="fa fa-calendar"> </i>
                                            {{project.get_next_date.title}}</p>
                                            <p  class="date text-muted">{{project.get_next_date.begin}}</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                </a>
                                {% endfor %}
                        </div>
                    </div>
                    {% endif %}


<!-- Startpage Footer -->

            {% block footer %}
            
            {% endblock %}
            
<!-- Div-Close of startpage-content & bottom-container -->
   
    </div>
</div>
{% endblock %}
