{% extends 'core/layout.html' %}
{% load staticfiles compress %}

{% block css %}
    {% compress css %}
    {{block.super}}
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/startpage.scss" %}" />    
    {% endcompress %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/startpage.js' %}"></script>
{% endblock %}


{% block controller %}
StartpageController
{% endblock %}
{% block content %}
<div id="top-container">
    <div class="top-overlay col-md-8 col-md-offset-2 text-center">
        <h1>Informiere dich über Bauvorhaben in deinem Stadtteil.</h1>
        <div class="search-form">
            <form id="search" class="search-form">
                <div class="input-group">
                    <input
                        placeholder="Bauprojekte, Akteure und Projekte durchsuchen"
                        type="text" class="form-control"
                        ng-model="currentSearchTerm"
                        ng-change="onSearchChanged()"
                        ng-keydown="onKeyDown($event)"
                        ng-model-options="{ debounce: 1200 }">

                    <a href="" class="input-group-addon" ng-click="search()">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
            </form>
        </div>

        <div class="search-results">
            <div ng-repeat="result in data.suggestions">
                <div class="search-result"
                     ng-mouseover="focusResult(result)"
                     ng-click="loadDetails(result)"
                     ng-class="{'selected-result': $index == selectedSuggestionIdx, 'search-result-type-project':  result.type == 'project', 'search-result-type-stakeholder':  result.type == 'stakeholder'}">

                        <b>{[{ result.name }]}</b>
                        {[{result.type}]}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="bottom-container"> 
<!--     <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#start-tab" data-toggle="tab">Startseite</a></li>
      <li><a href="#news-tab" data-toggle="tab">Aktuelles</a></li>
      <li><a href="#" data-toggle="tab">Impressum</a></li>
    </ul> -->
    <div class="container-fluid">
        <div id="navigation-boxes" class="container">
            <div class="col-md-4">
                <a href="{% url 'map' %}">
                   <div class="teaser">
                       <i class='fa fa-globe'></i>
                       <p>Stöber durch alle Bauvorhaben auf einer Karte.</p>
                   </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'search' %}">
                   <div class="teaser">
                       <i class='fa fa-search'></i>
                       <p>Suche nach Themen, Projekten oder Akteuren.</p>
                   </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'process' %}">
                   <div class="teaser">
                       <i class='fa fa-lightbulb-o'></i>
                       <p>Informiere dich über die Gesetzeslage in deiner Stadt</p>
                   </div>
                </a>
            </div>
        </div>
        <div id="question-container" class="container">
          <div class="col-md-4">
            <h3> Was können sie hier tun? </h3>
          </div>
          <div class="col-md-4"> 
            <h3> Wie funktioniert <a href="{% url 'start' %}">Wir-bauen-Hamburg.de?</a></h3>
          </div>
          <div class="col-md-4">
            <h3> Wer betreibt diese Plattform? </h3>
          </div>
        </div>
        <div class="upcoming container">
          {% if projects %}
            <div class="project-descriptions col-md-12">
              <h2> Aktuelle Veranstaltungen &amp; Projekte mit Bürgerbeteiligung </h2>
              {% include "projects/project_list.html" %}
            </div>
          {% endif %}
        </div>
    </div>
</div>
{% endblock %}