{% extends "bbs/page.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block css %}
{{block.super }}
<link rel="stylesheet" href="{% static 'lib/typeahead/css/typeahead.js-bootstrap.css' %}" />   
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'lib/typeahead/js/typeahead.js' %}" ></script>
<script type="text/javascript" >
    $(document).ready(function() {    
        $('#warning').hide();

        var substringMatcher = function(strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;    
                matches = [];
                substrRegex = new RegExp(q, 'i');

                $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {
                        matches.push({ value: str });
                    }
                });

                cb(matches);
            };
        };

        var states = [{% for ort in form.orte %} '{{ort.bezeichner}}', {% endfor %}];

        $('#the-basics .typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 4
        },{
            name: 'states',
            displayKey: 'value',
            source: substringMatcher(states)
        });

        $('#loading-example-btn').click(function () {
            $.ajax({
                url: '/projekte/orte/',
                type: "GET",
                data: {
                    'bezeichner': $('#id_bezeichner').val()
                },
                success: function(json){
                    if ($.isEmptyObject(json)) {
                        $('#warning').show();
                    } else {
                        window.location.href = '/veroeffentlichungen/neu/?orte_id=' + json.features[0].properties.pk;
                    }
                }
            });
        });
    });
</script>

{% endblock%}

{% block page %}
<h3>1. Bebauungsplan auswählen oder neu anlegen</h3>

<form class="form" role="form" style='margin-bottom: 20px;'>
    {% csrf_token %} 
    {% for field in form %}          
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label>
            {{ field.label }}
        </label>
        <div id="the-basics">
            {% if field.field.required %}
                {% render_field field class="form-control typeahead" required="required" placeholder="Bitte Bezeichner eingeben" %}
            {% else %}
                {% render_field field class="form-control typeahead" placeholder="Bitte Bezeichner eingeben" %}
            {% endif %}

            {% if field.errors %}
                <div class="help-block error">
                    <p class="text-danger">{{ field.errors.as_text}}</p>
                </div>
            {% endif %}

            <div class="help-block info">
                {{ field.help_text }}
                {{ helptext }}
                {% block helptext %}{% endblock %}
            </div>
        </div>
    </div>     
    {% endfor %}
    <div id="warning" class="alert alert-danger" role="alert">Dieser Bezeichner existiert nicht. Wollen Sie einen <a href="/admin/projects/ort/add/"> neuen Ort anlegen? </a></div>
    <button type="button" id="loading-example-btn" class="btn btn-primary">Übernehmen</button>
</form>
{% endblock%}
