{% extends 'bbs/layout.html' %}

{% block head %}
    
    
    

{% endblock %}

{% block content %}
<div class="container" style="margin-top: 120px">
<h3>Bebauungsplan</h3>
Ein Bebauungsplan wird in Berlin als Rechtsverordnung erlassen und regelt die möglichen Nutzungen von allen Grundstücken, die im Geltungsbereich des Bebauungsplans liegen.

Festgesetzt wird zum Beispiel, ob bzw. inwieweit auf einem Grundstück gebaut werden darf. Der Bebauungsplan kann auch regeln, dass überhaupt keine Bebauung möglich ist, weil eine Grünfläche, ein Spielplatz, eine Straße oder ähnliches vorgesehen ist.
<br><br>
Der gesamte mögliche Inhalt eines Bebauungsplanes ist in § 9 des Baugesetzbuchs (BauGB) bestimmt. Die Regelungen im Bebauungsplan (B-Plan) sind aus den Vorgaben des Flächennutzungsplans zu entwickeln und konkretisieren die städtebauliche Planungstätigkeit der Gemeinde. Der Bebauungsplan enthält die rechtsverbindlichen Festsetzungen für die städtebauliche Ordnung.
<br><br>
Im Rahmen des Aufstellungsverfahrens von Bebauungsplanverfahren haben die Bürgerinnen und Bürger in zwei Stufen die Möglichkeit, sich zu beteiligen. Dies ist in der ersten Stufe die <b>Frühzeitige Öffentlichkeitsbeteiligung</b> und in der zweiten Stufe die <b>Öffentliche Auslegung</b>.
<br><br>
<div class="accordion" id="accordion">
 {% for t in typ %}
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ t.pk }}">{{ t.name }}</a>   
          </div>
          <div id="collapse-{{ t.pk }}" class="accordion-body collapse" style="height: 0px; ">
            <div class="accordion-inner">
              {{ t.description }}
            </div>
          </div>
        </div>         
            
                
                             
            
        {% endfor %}
        
</div>
{% endblock %}
