{% load humanize %}
{% load bbs_extras %}
<div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="row">
                <div class="pull-left">
                    <img class="img-circle" src="{{ kommentar.gravatar }}" />
                </div>
                <div>
                    <ul class="list-unstyled">
                        <li>{{ kommentar.author_name }}</li>
                        {% if kommentar.author_url %}
                            <li>
                                <a href="{{ kommentar.author_url }}">
                                    {{ kommentar.author_url }}
                                </a>
                            </li>
                        {% endif %}
                        <li>Kommentierte {{ kommentar.created | naturaltime }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <div>
                {% autoescape off %}
                {{ kommentar.content | markdown }}
                {% endautoescape %}
            </div>
        </div>
</div>
