{% load sekizai_tags %}<!DOCTYPE html>
<html>
<head>
    <title>Bürger baut Stadt</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta property="og:title" content="Bürger baut Stadt" />
    <meta property="og:url" content="http://buergerbautstadt.de" />
    <meta property="og:image" content="http://buergerbautstadt.de/static/img/karte.png"/>

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css" />
    {% render_block "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
</head>

<body>
    <nav class="navbar navbar-default visible-xs" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{{ STATIC_URL }}img/schrift_5.png" alt="Bürger baut Stadt">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/begriffe">Begriffe</a></li>
                <li><a href="/orte">Liste</a></li>
                <li><a href="/news/abonnieren">Abo</a></li>
                <li><a href="http://blog.buergerbautstadt.de/about">Über</a></li> 
                <li><a href="http://blog.buergerbautstadt.de/">Blog</a></li>
                <li><a href="http://blog.buergerbautstadt.de/contact/">Kontakt</a></li>
            </ul>
        </div>
    </nav>

    <div id="header" class="{{absolute|yesno:'absolute,'}} hidden-xs">
        <div class="container" >
            <div id="header-left">
                <div id="brand">
                    <a href="/">
                        <img src="{{ STATIC_URL }}img/schrift_5.png" alt="Bürger baut Stadt">
                    </a>
                </div>
            </div>
            <ul id="header-right" class="sitenav">
                <li><a href="/begriffe">Begriffe</a></li>
                <li><a href="/orte">Liste</a></li>
                <li><a href="/news/abonnieren">Abo</a></li>
                <li><a href="http://blog.buergerbautstadt.de/about">Über</a></li> 
                <li><a href="http://blog.buergerbautstadt.de/">Blog</a></li>
                <li><a href="http://blog.buergerbautstadt.de/contact/">Kontakt</a></li>
            </ul>
        </div>
    </div>
    
    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery.min.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap.min.js" ></script>
    {% render_block "js" %}

    {% if not debug %}
	<!-- Piwik -->
	<script type="text/javascript">
	  var _paq = _paq || [];
	  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
	  _paq.push(["setCookieDomain", "*.buergerbautstadt.de"]);
	  _paq.push(["setDomains", ["*.buergerbautstadt.de","*.blog.buergerbautstadt.de"]]);
	  _paq.push(["trackPageView"]);
	  _paq.push(["enableLinkTracking"]);

	  (function() {
	    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://buergerbautstadt.de/piwik/";
	    _paq.push(["setTrackerUrl", u+"piwik.php"]);
	    _paq.push(["setSiteId", "4"]);
	    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
	    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<!-- End Piwik Code -->
    {% endif %}
</body>
</html>
