<!DOCTYPE html>
<html>
    <head>
        <title>BürgerBautStadt</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js" ></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js" ></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" >
        {% block head %}{% endblock %}
        <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">BürgerBautStadt</a>
                    {% block navbar %}{% endblock %}
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Links <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://mamanoke.de/pinkoding">pinkoding</a></li>
                            </ul>
                        </li>
                    </ul>   
                </div>
            </div>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>  
    </body>
</html>
