{% extends 'bbs/layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}leaflet/leaflet.js" >
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}map.js" >
    </script>
    <script type="text/javascript">    
    var siteUrl = '{{ siteUrl|safe }}';
    var staticUrl = '{{ STATIC_URL }}';
    //var projects = {{ projectsJson|safe }};
    var bbps = {{ bbpJson|safe }}; 
    var bbpsOld = {{ bbpOldJson|safe }};
    var bezirke = {{ bezirkeJson|safe }}; 
    var typen = {{ typJson|safe }};  
    </script>

{% endblock %}

{% block content %}
    <div id="sidebar">
        <div id="sidebar-inner">
            <div id="sidebar-scroll">
                <div id="sidebar-content">
                    <ul class="nav nav-pills nav-stacked">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="map"></div>
{% endblock %}
