{% extends 'bbs/layout.html' %}
{% load staticfiles %} 

{% block css %}
    <link rel="stylesheet" href="{% static 'page.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/leaflet/leaflet.css' %}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'lib/leaflet/leaflet.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/OSMBuildings-Leaflet.js' %}"  ></script>    
    <script type="text/javascript">
        var _tiles_url = "{{tilesUrl}}";
        var _tiles_opt = {{tilesOpt|safe}};
        var _lon = {{ ort.lon|stringformat:"F" }};
        var _lat = {{ ort.lat|stringformat:"F" }};
        {% if ort.polygon %}
        var _polygon = {{ort.polygon}};
        var _polygontype = '{{ort.polygontype}}'
        {% endif %} 
    </script>
    <script type="text/javascript" src="{% static 'localmap.js' %}" ></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="localmap" style="height: 400px; border: 2px solid rgba(0, 0, 0, 0.247059);"></div>

        {% if user.is_authenticated %}
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-12">
                <a href="/admin/projects/ort/{{ ort.pk }}/" class="btn btn-primary pull-right"
                   style="color: white !important; margin-left: 1.2em; ">
                    Ort bearbeiten
                </a>
                <a href="/veroeffentlichungen/neu/?orte_id={{ort.pk}}" 
                   class="pull-right btn btn-primary" style="color: white !important;;">
                   Neue Veröffentlichung hinzufügen
                </a>
            </div>
        </div>
        {% endif %}

        <div class="row">        
            <div class="col-sm-8">
                <h3>Betroffenes Gebiet</h3>
                <p>
                    <strong>Bezeichner:</strong>  {{ ort.bezeichner }}
                </p>
                <p>
                    <strong>genaue örtliche Beschreibung:</strong> {{ ort.beschreibung }}
                </p>
                <p>
                    <strong>im Bezirk/in den Bezirken:</strong> {{ ort.bezirke.all|join:", "}}
                </p>
            </div>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#veroeffentlichungen" role="tab" data-toggle="tab">
                    Veröffentlichungen zu diesem Gebiet
                </a>
            </li>
            <li>
                <a href="#kommentare" role="tab" data-toggle="tab">
                    Kommentare
                    {% if kommentare.count > 0 %}
                        <span class="badge">{{ kommentare.count }}</span>
                    {% endif %}
                </a>
            </li>
            <li class="pull-right">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#kommentarFormular">
                    Kommentar hinzufügen
                </button>
            </li>
        </ul>

        {% include "bbs/kommentare_formular.html" %}

        <div class="tab-content">
            <div class="tab-pane active" id="veroeffentlichungen">
                {% include "bbs/ort_veroeffentlichungen.html" %}
            </div>
            <div class="tab-pane" id="kommentare">
                {% include "bbs/kommentare_liste.html" %}
            </div>
        </div>  
    </div>
{% endblock %}
