{% extends 'bbs/layout.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'page.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/leaflet/leaflet.css' %}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'lib/leaflet/leaflet.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/OSMBuildings-Leaflet.js' %}"  ></script>
    <script type="text/javascript">
        var _tiles_url = "{{tilesUrl}}";
        var _tiles_opt = {{tilesOpt|safe}};
        var _lon = {{ ort.lon|stringformat:"F" }};
        var _lat = {{ ort.lat|stringformat:"F" }};
        {% if ort.polygon %}
        var _polygon = {{ort.polygon}};
        var _polygontype = '{{ort.polygontype}}'
        {% endif %}
    </script>
    <script type="text/javascript" src="{% static 'localmap.js' %}" ></script>
{% endblock %}

{% block content %}
    <div id="localmap"></div>

    <div class="container">
        {% if user.is_authenticated %}
        <div class="row ort-buttons">
            <div class="col-sm-12">
                <a href="/admin/projects/ort/{{ ort.pk }}/" class="btn btn-primary">
                    Ort bearbeiten
                </a>
                <a href="/veroeffentlichungen/neu/?orte_id={{ort.pk}}" class="btn btn-primary">
                   Neue Veröffentlichung hinzufügen
                </a>
            </div>
        </div>
        {% endif %}

        <div class="row ort">
            <div class="col-sm-8">
                <h3>Betroffenes Gebiet</h3>
                <p>
                    <strong>Bezeichner:</strong> {{ ort.bezeichner }}
                </p>
                <p>
                    <strong>genaue örtliche Beschreibung:</strong> {{ ort.beschreibung }}
                </p>
                <p>
                    <strong>im Bezirk/in den Bezirken:</strong> {{ ort.bezirke.all|join:", "}}
                </p>
            </div>
        </div>

        <h3>Veröffentlichungen zu diesem Gebiet</h3>

        {% include "bbs/ort_veroeffentlichungen.html" %}
    </div>

    <div class="kommentare-wrapper">
        <div class="container">
            <a class="kommentar-erstellen" href="" data-toggle="modal" data-target="#kommentarFormular">
                Eigenen Kommentar hinzufügen
            </a>

            <h3>Kommentare</h3>

            {% include "bbs/kommentare_liste.html" %}

            {% include "bbs/kommentare_formular.html" %}
        </div>
    </div>
{% endblock %}
