{% extends 'bbs/layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}page.css" />
    {% block pagehead %}{% endblock %}
{% endblock %}

{% block content %}
    <div id="header">
        <div class="container" >
            <div id="header-left">
                <a href="/"><img src="{{ STATIC_URL }}img/schrift_5.png"></a>
            </div>                                            
            <div id="header-right">                
                <ul id="sitenav" >
                    <li><a href="/info">Begriffe</a></li>
                    <li><a href="/orte">Liste</a></li>
                    <li><a href="/news/abonnieren">Abo</a></li>
                    <li><a href="http://blog.buergerbautstadt.de/about">Über</a></li> 
                    <li><a href="http://blog.buergerbautstadt.de/">Blog</a></li>
                    <li><a href="http://blog.buergerbautstadt.de/contact/">Kontakt</a></li>              
                </ul>
            </div>
            <div id="header-zoom"></div>
        </div>
    </div>
    {% block page %}
    {% endblock %}
{% endblock %}
