{% extends 'core/layout.html' %}
{% load staticfiles compress %}

{% block css %}
    {% compress css %}
    {{block.super}}
    {% endcompress %}
{% endblock %}

{% block js %}

    <script type="text/javascript">
        var _static_url = {% static '' %}
    </script>
{% endblock %}

{% block content %}

    <div class="container">
        <h1> <i class="fa fa-tags"> </i>{{tag.name}} </h1>
        
        {% if projects %}
        <div class="project-descriptions col-md-12">
            <h2> Projekte: </h2>
            {% include "projects/project_list.html" %}
        </div>
        {% endif %}

        {% if stakeholders %}
        <div class="stakeholder-descriptions col-md-9">
        <h2> Akteure: </h2>
            {% include "stakeholder/stakeholder_list.html" %}

<!--         <div class="stakeholder-descriptions">
            <h2> Akteure: </h2>
            <div class="stakeholder-description" class="col-md-3">
                {% for stakeholder in stakeholders %}
                    <h3><a href="{{stakeholder.get_absolute_url}}">{{stakeholder.name}}</a></h3>
                    <img class="description_img" src="{{stakeholder.picture.get_stakeholder_url}}" />
                    <p>{{stakeholder.description}}</p>
                {% endfor %}
            </div>
        </div> -->
        </div>
        {% endif %}
    </div>

{% endblock %}
