{% extends 'core/layout_split.html' %}
{% load staticfiles compress i18n %}

{% block css %}
    {% compress css %}
    {{block.super}}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/tag.scss' %}">
    {% endcompress %}
{% endblock %}

{% block js %}
    {{block.super}}
    <script type="text/javascript">
        var _static_url = {% static '' %}
    </script>
{% endblock %}

{% block side_content %}

    <h1> <i class="fa fa-tags"> </i>{{tag.name}} </h1>

    <div id="tag-infos">
        <p>{{projects_len}} {% trans 'Projects tagged' %}</p>
        <p>{{stakeholders_len}} {% trans 'Stakeholders tagged' %}</p>
    </div>

    <a href="{% url 'search' %}tags={{tag.name}}"> <i class="fa fa-marker"> </i> {% trans 'Auf der Karte anzeigen.' %} </a>
{% endblock %}

{% block main_content %}
    
    {% if projects %}
    <div class="project-descriptions">
        <h2> Projekte ({{projects_len}}) </h2>
        {% include "projects/project_list.html" %}
    </div>
    {% endif %}

    {% if stakeholders %}
    <div class="stakeholder-descriptions">
        <h2> Akteure ({{stakeholder_len}}) </h2>
        {% include "stakeholder/stakeholder_list.html" %}

    </div>
    {% endif %}

{% endblock %}
