{% extends 'bbs/page.html' %}
{% load staticfiles %}

{% block page %}
<div class="news">
    <h2>Newsletter für deinen Bezirk abonnieren</h2>

    {% if success %}
    <p>
        Danke das Du unseren Newsletter abonnieren willst. In Kürze wirst du eine Mail mit einem Validierungslink erhalten. Wenn du auf diesen Link klickst, ist der Vorgang abgeschlossen und du wirst informiert, wenn in deinem Bezirk eine neue Veröffenlichung zu einem Bauvorhaben ausliegt.
    </p>
    <p>
        Der Newletter kann unter <a href="{{abbestellen}}">{{abbestellen}}</a> wieder abbestellt werden.
    </p>
    {% else %}
    <p>
        Woche für Woche veröffentlicht das Land Berlin das Amtsblatt. Neben vielen anderen Informationen wird darin auch veröffentlicht, wenn im Rahmen eines Bebauungsplanverfahrens oder eines Planfeststellungsverfahrens Planungsunterlagen ausliegen, an denen sich Bürger beteiligen können. Leider müssen sie dazu regelmäßig das Amtsblatt lesen, was die meisten nicht tun. Für alle diejenigen, die das auch in Zukunft nicht tun wollen, aber trotzdem informiert werden wollen, gibt es unseren Abo-Service. Wir werten das Amtsblatt wöchentlich aus und senden Dir eine Email, wenn etwas Neues in einem Deiner ausgewählten Bezirken passiert.
    </p>

    <form action="/news/abonnieren/" method="post" role="form" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2">Bezirke</label>
            <div class="controls col-sm-10">
                <ul>
                    {% for field in form %}
                    {% if field.html_name != "email" %}
                    <li>
                        {{ field }}
                        {{ field.label_tag }}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">{{ form.email.label }}</label>
            <div class="controls col-sm-10">
                {{ form.email }}
                <div>
                {{ form.email.errors }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-2"></div>
            <div class="controls col-sm-10">
                <input class="btn btn-primary" type="submit" value="Newsletter abonnieren" />
            </div>
        </div>
        <div>
            {{ form.non_field_errors }}
        </div>
    </form>
    <p>
        Der Newsletter kann unter <a href="{{abbestellen}}">{{abbestellen}}</a> wieder abbestellt werden.
    </p>

    <h2>News Feeds</h2>
    <div class="control-label col-sm-2">
        <div class="pull-right" style="margin-right: 10px;">Bezirke</div>
    </div>
    <div class="col-sm-10">
        <ul class="list-unstyled feed-list">
            <li>
                <a href="{% url "feedsurl" %}">
                    <img src="{% static 'img/rss-feed-icon.png' %}">
                    <span>Alle Bezirke</span>
                </a>
            </li>
            {% for bezirk in bezirke %}
            <li>
                <a href="{% url "feedsurl" %}?bezirk={{ bezirk.name }}">
                    <img src="{% static 'img/rss-feed-icon.png' %}">
                    <span>{{ bezirk.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
