{% extends 'bbs/page.html' %}

{% block pagehead %}

{% endblock %}

{% block page %}
<div class="container">
    <h2>Newsletter für deinen Bezirk abonnieren</h2>
    Woche für Woche veröffentlich das Land Berlin das Amtsblatt. Neben vielen anderen Informationen wird darin auch veröffentlicht, wenn im Rahmen eines Bebauungsplanverfahrens oder eines Planfeststellungsverfahrens Planungsunterlagen ausliegen, an denen sich Bürger beteiligen können. Das kann auch Deine direkte Nachbarschaft betreffen. Soll nämlich beispielsweise ein Haus oder Park gebaut werden, muss dazu oft der Bebauungsplan für dieses Gebiet geändert werden. Und immer dann, wenn eine solche Änderung durchgeführt werden soll, ist gesetzlich vorgesehen, dass die Bürger beteiligt werden. Leider müssen diese dazu regelmäßig das Amtsblatt lesen, was die meisten nicht tun. Für alle diejenigen, die das auch in Zukunft nicht tun wollen, aber trotzdem informiert werden wollen, gibt es unseren Abo-Service. Wir werten das Amtsblatt wöchentlich aus und senden Dir eine Email, wenn etwas Neues in einem Deiner ausgewählten Bezirken passiert. 

    {% if success %}
    <p>
        Danke das Du unseren Newsletter abonnieren willst. In Kürze wirst du eine Mail mit einem Validierungslink erhalten. Wenn du auf diesen Link klickst, ist der Vorgang abgeschlossen und du wirst informiert, wenn in deinem Bezirk eine neue Veröffenlichung zu einem Bauvorhaben ausliegt.
    </p>
    <p>
        Der Newletter kann unter <a href="{{abbestellen}}">{{abbestellen}}</a> wieder abbestellt werden.
    </p>
    {% else %}
    <form action="/news/abonnieren/" method="post" id="abonnieren-form" class="form-horizontal">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label">Bezirke</label>
            <div class="controls">
                <ul id="bezirke-list" class="unstyled inline">
                {% for field in form %}
                {% if field.html_name != "email" %}
                <li>
                    {{ field }}
                    {{ field.label_tag }}
                </li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ form.email.label }}</label>
            <div class="controls">
                {{ form.email }}
                <div class="text-error">
                {{ form.email.errors }}
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Abonnieren" class="btn btn-primary"/>
            </div>
        </div>
        <span class="text-error">
            {{ form.non_field_errors }}
        </span>
    </form>
    <p>
        Der Newsletter kann unter <a href="{{abbestellen}}">{{abbestellen}}</a> wieder abbestellt werden.
    </p>
    {% endif %}
</div>
{% endblock %}
