{% extends 'bbs/layout.html' %}

{% block content %}
<div class="container">
    {% if success %}
    {% if aktion == 'abonnieren' %}
    <p>
        Die Validierung Deiner Email-Adresse war erfolgreich. Du wirst ab jetzt informiert, wenn in Deinem Bezirk eine neue Veröffenlichung zu einem Bauvorhaben ausliegt.
    </p>
    <p>
        Der Newletter kann unter <a href="{{abbestellen}}">{{abbestellen}}</a> wieder abbestellt werden.
    </p>
    {% elif aktion == 'abbestellen'%}
    <p>
        Die Validierung Deiner Email-Adresse war erfolgreich. Der Newsletter ist nun abbestellt und Du solltest keine Mails mehr von uns erhalten.
    </p>
    {% endif %}
    {% else %}
        Die Validierung Deiner Email-Adresse war nicht erfolgreich. Bitte verwende genau den Link den Du per Email bekommen hast.
    {% endif %}
</div>
{% endblock %}
