{% load humanize %}
{% load wbc_extras %}

<div class="comment row">
    <div class="comment-author col-sm-3">
        <div class="comment-author-img">
            <img class="img-circle" src="{{ comment.gravatar }}" />
        </div>
        <div class="comment-author-name">
            {% if comment.author_url %}
            <a href="{{ comment.author_url }}">
                {{ comment.author_name }}
            </a>
            {% else %}
                {{ comment.author_name }}
            {% endif %}
        </div>
        <div class="comment-author-time">
            vor <span title="{{ comment.created }}">{{ comment.created | timesince }}</span>
        </div>
    </div>
    <div class="comment-inhalt col-sm-9">
        {% autoescape off %}{{ comment.content | markdown }}{% endautoescape %}
    </div>
</div>
