{% extends 'core/layout_split.html' %}
{% load staticfiles compress %}

{% block css %}
    {% compress css %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'lib/leaflet/leaflet.css' %}" />
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/details.scss" %}" />

    {% endcompress %}
{% endblock %}

{% block js %}

    <script type="text/javascript" src="{% static 'lib/leaflet/leaflet.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/OSMBuildings-Leaflet.js' %}"  ></script>
    <script type="text/javascript" src="{% static 'lib/modernizr.js' %}"  ></script>
    <script type="text/javascript" src="{% static 'lib/vertical-timeline.js' %}"  ></script>


    <script type="text/javascript">
        var _static_url = {% static '' %}
        var _tiles_url = "{{tiles_url}}";
        var _tiles_opt = {{tiles_opt|safe}};
        var _default_view = {{default_view|safe}};

        var _lon = {{ project.lon|stringformat:"F" }};
        var _lat = {{ project.lat|stringformat:"F" }};
        var _address = "{{ project.address|safe }}";
        var _polygon = {% if project.polygon %}{{project.polygon|safe}}{% else %}[]{% endif %};
    </script>
    <script type="text/javascript" src="{% static 'js/details.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/angular-mapservice.js' %}" ></script>
{% endblock %}

{% block controller %}
DetailsController
{% endblock %}

{% block side_content %}
<div id="project_sidebar">
    <div class="anchor">
        <div class="details-headline content-container">
            <h1> {{project.name}} </h1>
            {% if project.address_obj %}

            <a class="map-link" data-toggle="tab" href="#project_map">
                <div class="address">
                    {{project.address_obj}}
                </div>
            </a>
            {% endif %}
        </div>

        <div id="subscribe-widget" class="widget">
            <button class="btn default wbc-button">
                <span class="fa-stack">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-lg"></i>
                </span>
                Abo
            </button>
        </div>
    </div>

  <!--   <div class="availability-icons">
        {% if gallery %}
        <a title="Information" href="#info"><i class="fa fa-info fa-2x"></i></a>
        {% endif %}

        <a class="map-link" title="Karte" href="#project_map"><i class="fa fa-map-marker fa-2x"></i></a>

        {% if gallery %}
        <a title="Bilder" href="#gallery"><i class="fa fa-image fa-2x"></i></a>
        {% endif %}
        {% if stakeholders %}
        <a title="Beteiligte" href="#info"><i class="fa fa-user fa-2x"></i></a>
        {% endif %}
        {% if buildings %}
        <a title="3D" href="#info"><i class="fa fa-cube fa-2x"></i></a>
        {% endif %}
    </div> -->


    {% if gallery %}
    <img u="image" src="{{ gallery.0.latest.0.get_description_url }}" />
        
    {% endif %}

    {% if processSteps %}
        {% for pub in processSteps %}
            {% if pub.process_step.participation %}
                <p class="participation"><span>o</span>Beteiligung möglich</p>
            {% else %}
                <p class="no-participation"><span>x</span>Beteiligung zur Zeit nicht möglich</p>
            {% endif %}
       <!--  <div class="current-step tooltip-container">
             <span class="fa-stack fa-2x">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
            </span>
            <p>
            {{pub.process_step}}
            </p>
            <div class="tooltip">
                <p><b>{{pub.process_step}}</b></p>
                {{pub.process_step.description}}
            </div>
        </div> -->
        {% endfor %}
    {% endif %}

    {% if tags %}
    <div id="tags-widget" class="widget">
        <div class="content-container">
            <h3><i class="fa fa-tags"> </i>Stichwörter</h3>
            {% for tag in tags %}
                <a class="taglink" href="{{tag.get_absolute_url}}">{{tag.name}}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}


{% block main_content %}
    <ul class="wbc-nav main-content-nav nav nav-tabs" data-tabs="tabs">
        <li class="active"><a data-toggle="tab" href="#info"><i class="fa fa-info"></i>Info</a></li>
        <li><a class="map-link" data-toggle="tab" href="#project_map"><i class="fa fa-map-marker"></i>Karte</a></li>
        <li  {{gallery|yesno:' ,class=not-active'}}><a data-toggle="tab" href="#gallery"><i class="fa fa-image"></i>Bilder</a></li>
        <li>
            <a data-toggle="tab" href="#timeline"><i class="fa fa-calendar"></i>Ereignisse</a>
        </li>
        <li {{stakeholders|yesno:' ,class=not-active'}}>
            <a data-toggle="tab" href="#stakeholder"><i class="fa fa-user"></i>Beteiligte</a> 
        </li>
    </ul>
    <div id="tab-content" class="tab-content">
        <div id="info" class="tab-pane active">
            <div class="content-container">
                <h3>Beschreibung</h3>
                <p>
                    {{ project.description | linebreaks }}
                </p>

                {% if project.description_official %}
                 <p>
                    <strong>Genaue örtliche Beschreibung (Amtsblatt):</strong> {{ project.description_official }}
                 </p>
                {% endif %}

                <p>
                    <strong>im Bezirk/in den Bezirken:</strong> {{ project.entities.all|join:", "}}
                </p>
            </div>

            {% if processTypes %}
            <div class="container-fluid">
                {% include "process/process_bar.html" %}
                <div class="processstep-text">
                    <h4>{{processSteps.0.process_step.name}}</h4>
                    <p>{{processSteps.0.process_step.description}}</p>
                </div>
            </div>
            {% endif %}

            <div class="container-fluid">
                <div class="row">
                    {% if nextDate %}
                    <a class="col-md-6 event-item" data-toggle="tab" href="#timeline">
                        <div id="next-date-widget" class="widget">
                            <div class="content-container">
                                <h3><i class="fa fa-calendar"> </i>Nächster Termin</h3>
                                <p>{{nextDate.title}}</p>
                                <p>{{nextDate.begin}}</p>
                                <p>{{nextDate.address}}</p>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    
                    {% if lastNews %}
                    <a class="col-md-6 event-item" data-toggle="tab" href="#timeline">
                        <div id="last-news-widget" class="widget">
                            <div class="content-container"> 
                                <h3><i class="fa fa-newspaper-o"> </i>Letzte Neuigkeiten</h3>
                                <p>{{lastNews.title}}</p>
                                <p>{{lastNews.teaser}}</p>
                                <p>{{lastNews.begin}}</p>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                </div>
            </div>

       


        </div>
        <div id="project_map" class="tab-pane">
             <div id="map"></div>
        </div>

        <div id="gallery" class="tab-pane">
        {% if gallery %}
           {% include "projects/project_gallery.html" %}
        {% endif %}
        </div>

        <div id="timeline" class="tab-pane">
            {% include "projects/project_events.html" %}
        </div>
             
        {% if stakeholders %}   
        <div id="stakeholder" class="tab-pane">
            {% include "projects/project_stakeholder.html" %}
        </div>
        {% endif %}
        </div>
    </div>
{% endblock %}




    <!--     {% if gallery != true %}
        <div class="col-md-9">
            <div class="content-container">
                <div id="project-map"></div>
            </div>
        </div>
        {% endif %} -->




        <!-- {% if user.is_authenticated %}
        <div class="col-md-3">
            <ul class="list-unstyled admin-area" style="margin-top: 50px;">
                <li><a class="admin-link" href="{{ project.get_update_url }}">Projekt bearbeiten</a></li>
                <li><a class="admin-link" href="{{ project.get_delete_url }}">Projekt entfernen</a></li>
                <li><a class="admin-link" href="{{new_publication_link}}?project_id={{project.pk}}">
                        Neue Veröffentlichung
                </a></li>
            </ul>
        </div>
        {% endif %}
 -->


<!--     <div class="comments-wrapper">
        <div class="container">
            <a class="comments-create" href="" data-toggle="modal" data-target="#comment-form">
                Eigenen Kommentar hinzufügen
            </a>

            <h3>Kommentare</h3>

            {% include "comments/list.html" %}

            {% include "comments/form.html" %}
        </div>
    </div>
 -->
