{% extends 'core/layout_split.html' %}
{% load staticfiles compress guardian_tags threadedcomments_tags imagekit ratings i18n wbc_extras social_share %}

{% block meta_content %}
    <meta property="og:title" content="{{project.name}}" />
    <meta property="og:image" content="{{site_url}}/static/img/title.png"/>
    <meta name="description" content="{{project.get_teaser}}" /> 


    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">

    <!-- Open Graph data -->
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{project.get_teaser}}" /> 
{% endblock %}


<!-- This template shows the details for a project -->
<!-- left sidebar side_content with static content, main_content with menu on top -->

{% block css %}
    {% if details_tabs.3d %}
    <link rel="stylesheet" type="text/css" href="{% static "css/vizi.css" %}" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static "css/adminmap.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "lib/jquery-ui/jquery-ui.theme.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "lib/jquery-ui/jquery-ui.min.css" %}" />
    
    {% compress css %}
    {{block.super}}
    {% if details_tabs.map %}
    <link rel="stylesheet" href="{% static "lib/leaflet/leaflet.css" %}" />
    {% endif %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/details.scss" %}" />
    <link rel="stylesheet" href="{% static "lib/dropzone.css" %}" />

    {% if general_content.starrating %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    {% endif %}

    {% endcompress %}
{% endblock %}

{% block js %}
    {{block.super}}
    <script type="text/javascript" src="{% static 'lib/leaflet/leaflet.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/vertical-timeline.js' %}"  ></script>
    {% if details_tabs.3d %}
    <script type="text/javascript" src="{% static 'lib/vizicities/vizi.min.js' %}"  ></script>
    <script type="text/javascript" src="{% static 'lib/vizicities/tween.min.js' %}"  ></script>
    <script type="text/javascript" src="{% static 'js/Blueprints/BlueprintOutputPolygon.js' %}"  ></script>
    <script type="text/javascript" src="{% static 'js/Blueprints/BlueprintInputPolygon.js' %}"  ></script>
    <script type="text/javascript" src="{% static 'js/Blueprints/BlueprintOutputCustomBuildingTiles.js' %}"  ></script>
    <script type="text/javascript" src="{% static 'js/3d.js' %}"  ></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'lib/jquery-ui/jquery-ui.min.js' %}"  ></script>
    <script type="text/javascript" src="{% static 'js/adminmap.js' %}"  ></script>
    <script type="text/javascript" src="{% static 'lib/dropzone.js' %}" ></script>
    
    {% if general_content.starrating %}
    <script type="text/javascript" src="{%static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    {% endif %}
    <script type="text/javascript">

        // pass some data from django to javascript
        var _static_url = {% static '' %}
        var _tiles_url = "{{tiles_url}}";
        var _tiles_opt = {{tiles_opt|safe}};
        var _default_view = {{default_view|safe}};
        var _maps = {{details_tabs.map|yesno:"true,false"}};

        var _bufferAreas = [];
        {% for area in bufferAreas %}
            _bufferAreas.push({{area.polygon}});
        {% endfor %}

        var _polygon = {% if project.polygon %}{{project.polygon|safe}}{% else %}[]{% endif %};
        var _lat = {% if project.lat %}{{project.lat|stringformat:"F"}}{% else %}undefined{% endif %};
        var _lon = {% if project.lon %}{{project.lon|stringformat:"F"}}{% else %}undefined{% endif %};
    
        if (!window.wbc3d) {
            window.wbc3d_conf = {};
            // wbc3d_conf.DATADIR = "{% static 'lib/wbc3d/data/' %}";
            wbc3d_conf.WORKERPATH = "../..{% static 'lib/vizicities/vizi-worker.min.js' %}";
        }
    </script>
    <script type="text/javascript" src="{% static 'js/details.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/angular-mapservice.js' %}" ></script>
{% endblock %}

{% block controller %}
DetailsController
{% endblock %}

{% block side_content %}
{% if user.is_authenticated %}
{% get_obj_perms user for project as "project_perms" %}
{% endif %}
<div id="project_sidebar">
    <!-- <div class="anchor"> -->
        <div class="details-headline">
            <h1> {{project.name}} </h1>


            {% if project.address_obj %}

            <a class="map-link" data-toggle="tab" href="#project_map">
                <div class="address">
                    {{project.address_obj}}
                </div>
            </a>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
        <ul class="admin-panel">
            <li><a class="admin-link project-admin" data-toggle="modal" data-target="#edit-modal" data-form="{% url 'project_create' %}" data-title="{% trans 'Projekt hinzufügen' %}" href="#"><i class="fa fa-plus"></i></a></li>
            {% if 'change_project' in project_perms or perms.projects.change_project %}
            <li><a class="admin-link project-admin" data-form="{% url 'project_update' project.pk %}" data-title="{% trans 'Projekt bearbeiten' %}" href="#"><i class="fa fa-pencil"></i></a></li>
            <li><a class="admin-link photo-admin" data-form="{% url 'project_update' project.pk %}" data-toggle="modal" data-target="#photo-modal" data-title="{% trans 'Bilder hochladen' %}" href="#"><i class="fa fa-image"></i></a></li>
            {% endif %}
         <!--    <li><a class="admin-link" href="{{new_publication_link}}?project_id={{project.pk}}"><i class="fa fa-newspaper"></i></a></li> -->
        </ul>
        {% endif %}
        {% if processSteps %}
        <div id="participate-widget" class="widget">
            {% for pub in processSteps %}
                {% if pub.process_step.participation %}
                    <div><img class="participation" src="/static/img/participation.png" title="Bürgerbeteiligung möglich"></div>
                {% else %}
                    <div><img class="no-participation" src="/static/img/no-participation.png" title="Beteiligung zur Zeit nicht möglich"></div>
                {% endif %}
           <!--  <div class="current-step tooltip-container">
                 <span class="fa-stack fa-2x">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                </span>
                <p>
                {{pub.process_step}}
                </p>
                <div class="tooltip">
                    <p><b>{{pub.process_step}}</b></p>
                    {{pub.process_step.description}}
                </div>
            </div> -->
            {% endfor %}
        </div>
        {% endif %}

    <!-- </div> -->

  <!--   <div class="availability-icons">
        {% if gallery %}
        <a title="Information" href="#info"><i class="fa fa-info fa-2x"></i></a>
        {% endif %}

        <a class="map-link" title="Karte" href="#project_map"><i class="fa fa-map-marker fa-2x"></i></a>

        {% if gallery %}
        <a title="Bilder" href="#gallery"><i class="fa fa-image fa-2x"></i></a>
        {% endif %}
        {% if stakeholders %}
        <a title="Beteiligte" href="#info"><i class="fa fa-user fa-2x"></i></a>
        {% endif %}
        {% if buildings %}
        <a title="3D" href="#info"><i class="fa fa-cube fa-2x"></i></a>
        {% endif %}
    </div> -->


    <!-- if the project has an album display the cover photo -->
    {% if album %}
    <div class="hidden-xs sidebar-image">
     {% generateimage 'wbc:details' source=project.album.get_cover_photo.file %}
    </div>
    {% endif %}

    <!-- rating widget, uses django-star-rating -->
    {% if general_content.starrating %}
    <div id="rating-widget">
        {% ratings project icon_height=20 icon_width=20 %}
    </div>
    {% endif %}

    {% if general_content.wbcrating %}
        {% if user.is_authenticated %}
            {% if important_tag != None %}

            <button class="btn btn-default wbc-rating-button {% if wbc_rated %}active {% endif %}" data-url="{% url 'project_wbc_rate' pk=project.pk user=user.pk tag=important_tag.slug %}">
                <i class="fa fa-thumbs-o-up fa-2x"></i>
            </button>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if request.user|has_group:"organizer" %} 
    <div id="organize-widget">
        {% if general_content.featured %}
        <button class="btn btn-default feature-button {% if project.featured %} active {% endif %}" data-url="{% url 'project_feature' project.pk %}" ><img src="{% static 'img/logos/jdd-siegel_100_transparent.png' %}"/></button>
        {% endif %}

        {% if general_content.updownvote %}
        <div id="updownvote-container">
            <button class="btn btn-default updownvote-button {% if project.updownvote == True %} active {% endif %}" data-url="{% url 'project_updownvote' pk=project.pk vote=2 %}">
                <i class="fa fa-thumbs-o-up fa-2x"></i>
            </button>
            <button class="btn btn-default updownvote-button {% if project.updownvote == False %} active {% endif %}" data-url="{% url 'project_updownvote' pk=project.pk vote=1 %}">
                <i class="fa fa-circle"></i>
            </button>
            <button class="btn btn-default updownvote-button {% if project.updownvote == None %} active {% endif %}" data-url="{% url 'project_updownvote' pk=project.pk vote=0 %}">
                <i class="fa fa-thumbs-o-down fa-2x"></i>
            </button>
        </div>
        {% endif %}
    </div>
    {% else %}
        <div id="feature-widget" class="pull-left">
        {% if project.featured %}
            <img src="{% static 'img/logos/jdd-siegel_100_transparent.png' %}"/>
        {% endif %}
        {% if project.updownvote == True %}
            <i class="fa fa-thumbs-o-up fa-3x"></i>
        {% elif project.updownvote == None %}
            <i class="fa fa-thumbs-o-down fa-3x"></i>
        {% endif %}
        </div>
    {% endif %}
    <!-- Display a teaser text fro the description -->
    {% if project.description %}
    <div class="teaser-text">
        {{project.get_teaser}}
    </div>
    {% endif %}

    <!-- Buttons to follow or subscribe the projects -->
    {% if user.is_authenticated %}
    <div class="logged-in-user-buttons">
        <div id="subscribe-widget" class="widget">
            <button data-url="{% url 'project_subscribe' project.pk %}" class="btn default wbc-button subscribe-button">
                <span class="fa-stack">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-bell fa-stack-1x fa-lg"></i>
                </span>
                <span class="hidden-xs">
                {% if subscribed %}
                Abbestellen
                {% else %}
                Benachrichtigungen
                {% endif %} 
                </span>
            </button>
        </div>

        <div id="follow-widget" class="widget">
            <button data-url="{% url 'project_follow' project.pk %}" class="btn btn-default follow-button wbc-button">
                <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    {% if not following %}
                    <i class="fa fa-sign-in fa-stack-1x fa-lg"></i>
                    {% else %}
                    <i class="fa fa-sign-out fa-stack-1x fa-lg"></i>
                    {% endif %}
                </span>
                <span class="hidden-xs">
                {% if not following %}
                Projekt beitreten
                {% else %}
                Projekt verlassen
                {% endif %}
                </span>
            </button>
        </div>
    </div>
    {% endif %}



    {% if nextDate %}
    <a class="event-item" data-toggle="tab" href="#timeline">
        <div id="next-date-widget" class="widget">
            <div class="content-container">
                <h3><i class="fa fa-calendar"> </i>Nächster Termin</h3>
                {% if 'change_project' in project_perms or perms.projects.change_project %}
                <ul class="admin-panel">
                    <li><a class="admin-link" data-toggle="modal" data-target="#event-modal" href="#"><i class="fa fa-plus"></i></a></li>
                </ul>
                {% endif %}

                <p>{{nextDate.title}}</p>
                <p>{{nextDate.begin}}</p>
                <p>{{nextDate.address}}</p>
            </div>
        </div>
    </a>
    {% endif %}

    {% if lastNews %}
    <a class="event-item" data-toggle="tab" href="#timeline">
        <div id="last-news-widget" class="widget">
            <div class="content-container">
                <h3><i class="fa fa-newspaper-o"> </i>Letzte Neuigkeiten</h3>
                <p>{{lastNews.title}}</p>
                <p>{{lastNews.teaser}}</p>
                <p>{{lastNews.begin}}</p>
            </div>
        </div>
    </a>
    {% endif %}

    {% if tags %}
    <div id="tags-widget" class="widget">
        <h3><i class="fa fa-tags"> </i>Stichwörter</h3>
        {% for tag in tags %}
            <a class="taglink" href="{{tag.get_absolute_url}}">{{tag.name}}</a>
        {% endfor %}
    </div>
    {% endif %}

    {% if project.entities %}
    <div id="tags-widget" class="widget">
        <!-- <h3><i class="fa fa-tags"> </i>Stadtteile</h3> -->
        {% for entity in project.entities.all %}
            <a class="taglink" href="/suche/entities={{entity.name}}">{{entity.name}}</a>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}


{% block main_content %}

    <!-- MODALS for editing and creating content -->
    <div id="edit-modal" class="modal fade" role="dialog" tabindex="-1">
        <div class="well modal-dialog modal-content modal-lg" role="document">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3> hinzufügen </h3>
            </div>
            <div class="custom-content">
            </div>
        </div>
    </div>

    <!-- Event Modal (special modal because of the menu for different events)-->
    <div id="event-modal" class="modal fade" role="dialog" tabindex="-1">
        <div class="well modal-dialog modal-content modal-lg" role="document">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3> Event hinzufügen </h3>
                <ul class="nav nav-pills">
                    <li role="presentation"><a class="admin-link event-admin btn" data-form="{% url 'date_create' project.pk %}" href="#">Veranstaltung</a></li>
                    <li role="presentation"><a class="admin-link event-admin btn" data-form="{% url 'media_create' project.pk %}" href="#">Nachricht</a></li>
                    <li role="presentation"><a class="admin-link event-admin btn" data-form="{% url 'pub_create' project.pk %}" href="#">Veröffentlichung</a></li>
                </ul>
            </div>
            <div class="custom-content">

            </div>
        </div>
    </div>

    <!-- Navigation Menu for the main content -->
    <div class="main-content-nav-container">
        <ul class="wbc-nav main-content-nav nav nav-tabs" data-tabs="tabs" ng-click="ifSmallExpand()" ng-class="{'wbc-expanded' : expanded}">
            {% if details_tabs.info %}
            <li class="active"><a data-toggle="tab" href="#info"><i class="fa fa-info"></i>Info</a></li>
            {% endif %}
            {% if details_tabs.3d %}
            <li><a class="3d-link" data-toggle="tab" href="#3d"><i class="fa fa-cube"></i>3D</a></li>
            {% endif %}
            {% if details_tabs.images %}
            <li  {{album|yesno:' ,class=not-active'}}><a data-toggle="tab" href="#gallery"><i class="fa fa-image"></i>Bilder</a></li>
            {% endif %}
            {% if details_tabs.events %}
            <li><a data-toggle="tab" href="#timeline"><i class="fa fa-calendar"></i>Ereignisse</a></li>
            {% endif %}
            {% if details_tabs.stakeholder %}
            <li><a data-toggle="tab" href="#stakeholder"><i class="fa fa-user"></i>Beteiligte</a></li>
            {% endif %}
            {% if details_tabs.discussion %}
            <li><a data-toggle="tab" href="#discussion"><i class="fa fa-comment"></i>Diskussion ({% get_comment_count for project as count %}{{count}})</a></li>
            {% endif %}
            {% if details_tabs.map %}
            <li><a class="map-link" data-toggle="tab" href="#project_map"><i class="fa fa-map-marker"></i>Karte</a></li>
            {% endif %}
            {% if details_tabs.etherpad %}
            <li {{project.padId|yesno:' ,class=not-active'}}><a data-toggle="tab" href="#notes">Notizen</a></li>
            {% endif %}
        </ul>
    </div>
    
    <!-- INFO TAB, summarizes most important information about the project -->
    <div id="tab-content" class="tab-content">
        {% if details_tabs.info %}
        <div id="info" class="tab-pane active">
            {% if project.description %}
            <h3>Beschreibung</h3>
                
                    {{ project.description | safe }}
                
            {% endif %}

            {% if project.padId %}
            <h3>Notizen</h3>
            <div id="etherpadreadonly-wrapper">
                <textarea id="etherpadreadonly" disabled>{{etherpadText | safe}}</textarea>
            </div>
            {% endif %}

            {% if processTypes %}
            <div class="container-fluid">
                {% include "process/process_bar.html" %}
                <div class="processstep-text">
                    <h4>{{processSteps.0.process_step.name}}</h4>
                    <p>{{processSteps.0.process_step.description}}</p>
                </div>
            </div>
            {% endif %}
            
            {% if project.bufferarea_set.all %}
            <div class="content-container">
                <h4>Ausgleichsflächen</h4>
                {% for area in project.bufferarea_set.all %}
                    <a class="map-link" data-toggle="tab" href="#project_map">{{area.name}} {{area.area}} m²</a>
                {% endfor %}
            </div>
            {% endif %}

            {% if attachments %}
            <div id="attachments">
                {% if attachments|length > 1 %}
                <object id="pdf-viewer" data="{{attachments.0.attachment.url}}" type="application/pdf" width="100%" height="500px">
                    <p>{% trans 'Ihr Browser kann keine PDFs anzeigen.' %} <a href="{{attachments.0.attachment.url}}">{% trans 'Hier herunterladen' %}</a></p>
                </object>

                <div id="attachment-nav">
                    <h3>{% trans 'Weitere Dokumente' %}</h3>
                    <ul class="nav">
                    {% for attachment in attachments %}
                        <li class="pdf-preview" data-pdf="{{attachment.attachment.url}}" ng-click="openPDF('{{attachment.attachment.url}}')">
                        {% if attachment.image %}
                            {% generateimage 'wbc:pdfpreview' source=attachment.image %}
                            {{attachment.name}}
                        {% endif %}
                        </li>                    
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            {% endif %}

        </div>
        {% endif %}

        <!-- Map, displaying the location and buffer areas if available  -->
        <div ng-show={{details_tabs.map|yesno:"true,false"}} id="project_map" class="tab-pane">
             <div id="map"></div>
        </div>
        {% if details_tabs.map %}
        {% endif %}
        <!-- Gallery with all images uploaded to the project -->
        
        {% if details_tabs.images %}
        <div id="gallery" class="tab-pane">
        {% if album %}
           {% include "projects/project_gallery.html" %}
        {% endif %}
        </div>
        {% endif %}

        <!-- Timeline with all the events -->
        {% if details_tabs.events %}
        <div id="timeline" class="tab-pane">
            {% include "projects/project_events.html" %}
        </div>
        {% endif %}

        <!-- Shows all the people/organizations involved in the project -->
        {% if details_tabs.stakeholder %}
        <div id="stakeholder" class="tab-pane">
            {% include "projects/project_stakeholder.html" %}
        </div>
        {% endif %}

        <!-- 3D display of the area, using vizicities -->
        {% if details_tabs.3d %}
        <div id="3d" class="tab-pane">
            <div id="vizicities-viewport">
                <div class="vizicities-ui-item" id="vizi-menu">
                    <button class="btn btn-default" id="citygml-switch"> old/new </button>
                    <button class="btn btn-default" id="camera-flight"> Kameraflug </button>
                    <button class="btn btn-default" id="north"> N </button>
                    <button class="btn btn-default" id="west"> W </button>
                    <button class="btn btn-default" id="east"> E </button>
                    <button class="btn btn-default" id="south"> S </button>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Discussion tab, read and write comments -->
        {% if details_tabs.discussion %}
        <div id="discussion" class="tab-pane">

            {% render_comment_list for project %}
            
            {% if user.is_authenticated %}
                {% render_comment_form for project %}
            {% else %}
                <a class="dropdown-toggle" data-toggle="dropdown" data-target=".dropdown" href="#" >Melden</a> Sie sich an um ein Kommentar zu hinterlassen.
            {% endif %}

        </div>
        {% endif %}

        <!-- Discussion tab, read and write comments -->
        {% if details_tabs.etherpad %}
        <div id="notes" class="tab-pane">
            {% if project.padId %}
                {% if following %}
                <iframe src='{{etherpad_url}}auth_session?sessionID={{session_id}}&padName={{project.get_pad_id}}&groupID={{project.get_group_id}}&name={% if user.first_name %}{{user.first_name}}{% else %}{{user.username}}{% endif %}' id='etherpad-iframe'>
                {% else %}
                <div class="overlay-container text-center">
                    <button class="overlay-message follow-button" data-url="{% url 'project_follow' project.pk %}">
                        {% trans 'Folge dem Projekt um hier mitzuschreiben.' %}
                    </button>
                </div>
                <div id="etherpadreadonly-wrapper">
                    <textarea id="etherpadreadonly" disabled>{{etherpadText | safe}}</textarea>
                </div>
                {% endif %}
            {% endif %}

        </div>
        {% endif %}
    </div>
</div>

<!-- Modal for uploading photos -->
<div id="photo-modal" class="modal fade" role="dialog" tabindex="-1">
    <div class="well modal-dialog modal-content modal-lg" role="document">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3> hinzufügen </h3>
        </div>
        <div class="custom-content">
            {% if project.pk %}
            {% include 'projects/photo_upload.html' %}
            {% endif %}
        </div>
    </div>
</div>

{% if general_content.social_media_share %}
<div id="social-share-buttons">
    {% post_to_facebook project 'Share' %}
    {% post_to_twitter "New Project: {{project.name}}. Check it out!" project "Twittern" %}
</div>
{% endif %}
{% endblock %}
