{% load staticfiles %}
<div id="current-photos">
    {% for photo in album %}
        <div class="thumbnail pull-left">
            <img src="{{ photo.thumbnail.url }}" />
            <a class="delete-photo" data-url="{% url 'project_photo_delete' project.id photo.id %} href='#">Löschen
            </a>
        </div>
    {% endfor %}
</div>
<div id="photo-upload">
    <form id="photoUploadForm" method="POST" action="{% url 'project_photo_upload' project.pk %}" class="dropzone" enctype="multipart/form-data" drop-zone>
        {% csrf_token %}
    </form>
</div>

<script>
Dropzone.options.photoUploadForm = {
    maxFilesize: 3,
    acceptedFiles: 'image/*',
    dictDefaultMessage: 'Sie können auch Bilder von Ihrem Computer per "drag & drop hochladen',
    success: function(a, b) {
        $('#current-photos').append('<div class="thumbnail pull-left"><img src="'+b.thumbnail+'"> <a class="delete-photo" data-id='+b.id+' href="#">Löschen</a</div>')
    }
}
</script>


