<!-- photo upload view using dropzone.js -->
{% load staticfiles i18n %}

<div id="current-photos">
    {% for photo in album %}
        <div class="thumbnail pull-left">
            <img src="{{ photo.thumbnail.url }}" />
            <a class="delete-photo" data-url="{% url 'project_photo_delete' project.id photo.id %} href='#">{% trans 'Löschen' %}
            </a>
        </div>
    {% endfor %}
</div>
<div id="photo-upload">
    <form id="photoUploadForm" method="POST" action="{% url 'project_photo_upload' project.pk %}" class="dropzone" enctype="multipart/form-data" drop-zone>
        {% csrf_token %}
    </form>
</div>

<script>
// handles the form to upload the image, adds thumbnail to the view if image uploaded
var reload = false;
Dropzone.options.photoUploadForm = {
    maxFilesize: 5,
    acceptedFiles: 'image/*',
    dictDefaultMessage: "{% trans 'Sie können auch Bilder von Ihrem Computer per drag & drop hochladen' %}",
    accept: function(file, done) {
        done();
    },
    success: function(a, b) {
        reload = true;
        $('#current-photos').append('<div class="thumbnail pull-left"><img src="'+b.thumbnail+'"> <a class="delete-photo" data-id='+b.id+' href="#">Löschen</a</div>');
    },
    error: function(a) {
        console.log(a);
    }
}
</script>


