{% load staticfiles %}

{% for project in projects %}
<a href="{{project.get_absolute_url}}">
<div class="project-description">
    {% if project.gallery %}
    <img class="description_img" src="{{project.gallery.photos.all.0.get_description_url}}" />
    {% else %}
    <img class="description_img" src="{% static 'img/person_placeholder.png' %}" />
    {% endif %}
    <div>
        <h3>{{project.name}} {% if project.identifier %} ({{project.identifier}}) {% endif %}</h3>
        <p >{{project.address}}</p>
        

    </div>
</div>
</a>
{% endfor %}