{% load staticfiles imagekit %}

{% for project in projects %}
<a href="{{project.get_absolute_url}}">
<div class="project-description">
    {% if project.album %}
    {% thumbnail '200x200' project.album.cover_photo.file %}
    {% else %}
    <img class="description_img" src="{% static 'img/person_placeholder.png' %}" />
    {% endif %}
    <div>
        <h3>{{project.name}} {% if project.identifier %} ({{project.identifier}}) {% endif %}</h3>
        <p >{{project.address}}</p>
        

    </div>
</div>
</a>
{% endfor %}