{% load guardian_tags i18n %}
{% if user.is_authenticated %}
    {% get_obj_perms user for project as "project_perms" %}
{% endif %}
<div class="row events">
    {% if 'change_project' in project_perms or perms.projects.change_project %}
    <div class="new-event">
        <ul class="admin-panel">
            <li><a class="admin-link" data-toggle="modal" data-target="#event-modal" href="#"><i class="fa fa-plus"></i></a></li>
        </ul>
    </div>
    {% endif %}
    {% if events %}

    <section id="cd-timeline" class="cd-container">
    {% for event in events.all %}
    {% if forloop.counter != 1 %}

    {% endif %}
        <div class="cd-timeline-block">
            {% if event.date %}
            <div class="cd-timeline-img cd-picture">
                <span><i class="fa fa-calendar"></i></span>
            </div> <!-- cd-timeline-img -->
            {% elif event.publication %}    
             <div class="cd-timeline-img cd-picture">
                <span><i class="fa fa-calendar"></i></span>
            </div> <!-- cd-timeline-img -->
            {% elif event.media %}  
            <div class="cd-timeline-img cd-picture">
                <span><i class="fa fa-newspaper-o"></i></span>
            </div> <!-- cd-timeline-img -->
            {% else %}  
            <div class="cd-timeline-img cd-picture">
                <span><i class="fa fa-newspaper-o"></i></span>
            </div> <!-- cd-timeline-img -->
            {% endif %}

            <div class="cd-timeline-content">
                <h2> {{ event.title }} </h2>
                {% if 'change_project' in project_perms %}
                <ul class="admin-panel">
                {% if event.date %}
                    <li><a data-toggle="modal" data-target="#edit-modal" class="admin-link project-admin" data-form="{% url 'date_update' event.pk project.pk %}" data-title="{% trans 'Event Bearbeiten' %}" href="#"><i class="fa fa-pencil"></i></a></li>
                    <li><a data-toggle="modal" data-target="#edit-modal" class="admin-link project-admin" data-form="{% url 'date_delete' event.pk project.pk %}" data-title="{% trans 'Löschen' %}" href="#"><i class="fa fa-trash"></i></a></li>
                    {% elif event.publication %}    
                    <li><a data-toggle="modal" data-target="#edit-modal" class="admin-link project-admin" data-form="{% url 'pub_update' event.pk project.pk %}" data-title="{% trans 'Bearbeiten' %}" href="#"><i class="fa fa-pencil"></i></a></li>
                    <li><a data-toggle="modal" data-target="#edit-modal" class="admin-link project-admin" data-form="{% url 'pub_delete' event.pk project.pk %}" data-title="{% trans 'Löschen' %}" href="#"><i class="fa fa-trash"></i></a></li>
                    {% elif event.media %}  
                    <li><a data-toggle="modal" data-target="#edit-modal" class="admin-link project-admin" data-form="{% url 'media_update' event.pk project.pk %}" data-title="{% trans 'Bearbeiten' %}"href="#"><i class="fa fa-pencil"></i></a></li>
                    <li><a data-toggle="modal" data-target="#edit-modal" class="admin-link project-admin" data-form="{% url 'media_delete' event.pk project.pk %}" data-title="{% trans 'Löschen' %}" href="#"><i class="fa fa-trash"></i></a></li>                    
                    {% else %}  
                    <li><a data-toggle="modal" data-target="#edit-modal" class="admin-link project-admin" data-form="{% url 'event_update' event.pk project.pk %}" data-title="{% trans 'Bearbeiten' %}" href="#"><i class="fa fa-pencil"></i></a></li>
                    <li><a data-toggle="modal" data-target="#edit-modal" class="admin-link project-admin" data-form="{% url 'event_delete' event.pk project.pk %}" data-title="{% trans 'Löschen' %}" href="#"><i class="fa fa-trash"></i></a></li>                
                    {% endif %}
                  
                </ul>
                {% endif %}
                <p class="timeline-text"> {{ event.description }} </p>
                <a target="_blank" href="{{event.link}}" class="cd-read-more">Read more</a>
                <span class="cd-date">{{event.begin}}</span>
            </div>
        </div>

    {% endfor %}
    </section>
    {% else %}

    <div class="text-center">
        <strong>Bisher keine Events.</strong>
    </div>

    {% endif %}
</div>
