{% load i18n %}
{% load staticfiles %}

<div class="stakeholders">
    <div class="content-container">
        <h3> Follower of the project </h3>
        {% include "stakeholder/stakeholder_list.html" %}
    </div>
    <div id='project_creator' class="clearfix">
        <h3> Created by </h3>
        <a href="{{project.get_created_by.get_absolute_url }}">
            <div class="stakeholder-widget col-md-3">
                {% if project.get_created_by.profile.stakeholder.picture %}
                <img class="stakeholder_img" src="{{ project.get_created_by.profile.stakeholder.picture.url }}" />
                {% else %}
                <img class="stakeholder_img" src="{% static 'img/person_placeholder.png' %}" />
                {% endif %}
                <h4> {{project.get_created_by.profile.full_name}}</h4>
            </div>
        </a>
    </div>
</div>