{% load i18n staticfiles %}

<form class="project-form" method="post">
    <div class="modal-body">
        {% csrf_token %}
        {% include 'core/form_fields.html' %}
        <div id="form-map">
        </div>
    </div>
    <div class="modal-footer">
        {% if project.pk %}
        <input class="project-admin btn btn-primary btn-danger pull-left" type="delete" value="Löschen" class="" data-toggle="modal" data-target="#edit-modal" data-form="{% url 'project_delete' project.pk %}" data-title="{% trans 'Projekt löschen' %}" href="#"/>
        {% endif %}
        <input class="btn btn-primary" type="submit" value="Save" />
        <input name="cancel" class="btn" type="submit" value="Cancel" data-dismiss="modal"/>
    </div>
</form>

<!-- All the things needed if not coming from a page with maps -->
<script type="text/javascript" src="{% static 'lib/leaflet/leaflet.js' %}" ></script>
<link rel="stylesheet" href="{% static 'lib/leaflet/leaflet.css' %}" />


<script type="text/javascript">
    var _tiles_url = "{{tiles_url}}";
    var _tiles_opt = {{tiles_opt|safe}};
    var _default_view = {{default_view|safe}};
    // image path set manually for markers
    L.Icon.Default.imagePath="{% static 'lib/leaflet/images' %}";

    if(typeof(L) === 'undefined'){
        console.log("L is not here :/")
    }
</script>

<!-- Draw specific, always needed -->
<script src="{% static 'lib/leaflet-draw/dist/leaflet.draw.js' %}" type="text/javascript"></script>
<script src="{% static 'js/form_map.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'lib/leaflet-draw/dist/leaflet.draw.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/project_form.css' %}" />
