{% load i18n staticfiles %}

<div class="stakeholders">

    <!-- Shows the responsible person of the project, ususally the creator -->
    {% if project.get_created_by %}
    <div id='project_creator' class="clearfix">
        <h2> Verantwortlicher </h2>
        <a href="{{project.get_created_by.get_absolute_url }}">
            <div class="stakeholder-widget">
                {% if project.get_created_by.profile.stakeholder.picture %}
                <img class="creator_image" src="{{ project.get_created_by.profile.stakeholder.picture.url }}" />
                {% else %}
                <img class="creator_image" src="{% static 'img/person_placeholder.png' %}" />
                {% endif %}
                <h3> {{project.get_created_by.profile.full_name}}</h3>
            </div>
        </a>
    </div>
    {% endif %}


    <!-- Show all people following the project -->
    {% if stakeholders %}
    <div class="content-container">
        <h1> Projektbeteiligte </h1>
        {% include "stakeholder/stakeholder_list.html" %}
    </div>
    {% else %}
    <div class="no-entries">
        {% trans 'Keine Projektbeteiligten' %}
    </div>
    {% endif %}

    
    <!-- If user is authenticated show the follow or leave button -->
    {% if user.is_authenticated %}
    <div class="follow-button-container">
        <button data-url="{% url 'project_follow' project.pk %}"class="btn btn-default follow-button">
            <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-bell fa-stack-1x fa-lg"></i>
            </span>
            {% if not following %}
            Projekt beitreten
            {% else %}
            Projekt verlassen
            {% endif %}
        </button>
    </div>
    {% endif %}
</div>