{% extends 'core/layout_split.html' %}
{% load staticfiles compress %}

{% block css %}
    {% compress css %}
    {{block.super}}

    <link rel="stylesheet" type="text/x-scss" href="{% static "css/process.scss" %}" />

    {% endcompress %}
{% endblock %}

{% block js %}

{% endblock %}

{% block controller %}
DefaultController
{% endblock %}


{% block side_content %}
    <div id="process_sidebar">
        <h2>Lexikon</h2>
        {% for process_type in process_types %}
            <div class="panel-group">
                <ul>
                <h3>{{process_type.name}}</h3>
                    {% with this_process_steps=process_type.process_steps.all %}
                        {% include "process/process_step_listitem.html" %}
                    {% endwith %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block main_content %}
    {% if process_step %}
        <h2>{{process_step.process_type.name}}</h2>
        <p>{{process_step.process_type.article.body_text}}</p>

        <h3>{{process_step.name}}</h3>
        {% if process_step.participation_form %}
        <p>{{process_step.article.gist}}</p>
            {% if process_step.participation_form.participation %}
                <div class="participation"><img class="participation" src="/static/img/participation.png"> Beteiligung möglich</div>
            {% else %}
                <div class="participation"><img class="no-participation" src="/static/img/no-participation.png"> Beteiligung nicht möglich</div>
            {% endif %}
        {% endif %}

    {% else %}
        <h4> Informieren Sie sich über die Gesetzeslage, Beteiligungsmöglichkeiten und Prozesse in ihrer Stadt. </h4>
    {% endif %}

{% endblock %}
