.project-descriptions {
    .project-row {
        overflow: hidden;
        clear: both;
        margin: 1em 0em;
    }

    .project-description {
        padding-bottom: 100%;
        margin-bottom: -100%;
    }
}