/* brand */

.navbar-toggle {
    margin-top: 6px;
    margin-bottom: 6px;
}
.mobile-menu {
    z-index: 100;
    // @include box-shadow(0px 0px 5px 0px rgba(0, 0, 0, 0.5));
    border-bottom: 1px solid  #f29855;
    background-color: $background-color-header;
    position: relative;
    z-index: 1002;

    button {
        background-color: $secondary-text;
    }
    .navbar-collapse {
        border-top: none;
        li {
            a {
                color: $third-text !important;
                &:hover {
                    color: $secondary-text !important;

                }
            }   
        }
    }

    .user_img {
        height: 40px;
        width : 40px;
    }

    .drop-down-search-container {
        transition: 0.5s linear all;
        // padding: 1em;
        // height: auto;
        max-height: 85px;
        

        .search-field {
            padding: 0.5em;
        }
        .spinner-icon {
            position: absolute;
            right: 60px;
            top: 18px;
            z-index: 10;
        }
        .selected-result {
            border: 1px solid $primary-color !important;
        }

        .search-results {
            border: 1px solid #ddd;
            position: relative;
            padding: 0em 0.5em;
            top: -0.5em;
            background-color:rgba($background-color,0.5);

            .search-result {
                border: 1px solid #ddd;
                // min-height: 40px;
                background-color:rgba($background-color,0.5);
            }

            .search-result:hover {
                border: 1px solid $primary-color;
                background-color:rgba($background-color,0.8);
            }
        }

    }
    .drop-down-search-container.ng-hide {
        max-height: 0;
    }
    .drop-down-search-container.ng-hide-add, .drop-down-search-container.ng-hide-remove {
        display: block !important; /* yes, important */
        overflow: hidden;
        // .search-field {
        //     opacity: 0;
        // }
    }
}

#brand {
    @include branding();
    float: left;
}

.search-field-button {
    float: right;
    margin-top: 8px;
    @media(max-width: 768px){
        margin-top: 6px;
        margin-right: 0.5em;
    }
}

// ANIMATION FOR SEARCH RESULTS disappearing
.search-results.ng-hide-add, .search-results.ng-hide-remove {
    display: block !important; /* yes, important */
}
.search-results, .search-results-autocomplete {
    transition: .2s linear all;
    height: auto;
    opacity: 1;
}
.search-results.ng-hide, .search-results-autocomplete.ng-hide {
    opacity: 0;
}

// ANIMATION FOR SEARCH RESULTS autocomplete disappearing
.search-results-autocomplete.ng-hide-add, .search-results-autocomplete.ng-hide-remove {
    display: absolute !important; /* yes, important */
}

#header {
    // @include box-shadow(0px 0px 5px 0px rgba(242, 152, 85, 0.5));
    border-bottom: 1px solid  #f29855;
    background-color: $background-color-header;
    position: relative;
    z-index: 1003;
    height: 46px;
    a {
        color: $secondary-text;
    }
    a:hover {
        color: white;
        // font-size: 1.01em;
    }
    .input-group a {
        color: $primary-color;
        &:hover {
            color: $primary-color-dark;
        }
    }
    .dropdown-menu a {
        color: $primary-text;
    }

    #header-left {
        float: left;
        padding-left: 20px;
        .headline-span {
            font-weight: bold;
            margin-left: 1em;
        }
    }

    #header-right {
        // margin-top: 15px;
        float: right;
        padding-right: 20px;

        .sitenav {
            font: $font-nav;
            color: $primary-color;
            padding: 0;
            float: left;
            margin-top: 12px;

            >li {
                display: inline;
                list-style: none;
                margin-right: 20px;
            }

            >li:last-child {
                margin-right: 0;
            }

            .user_img {
                height: 1.5em;
                padding-right: 0.4em;
            }
            .login-dropdown {
                font-weight: normal;
                min-width: 220px;
                padding-left: 0.5em;
                .form-group {
                    margin-right: 1em;
                    margin-left: 1em;
                }
                // min-width: 220px;
            }
        }

        .search-form {
            margin-top: 5px;
            float: left;
            max-width: 200px;
            padding-right: 2em;

            .spinner-icon {
                position: absolute;
                right: 43px;
                top: 10px;
                z-index: 10;
            }
        }


        .search-results {
            border: 1px solid #ddd;
            position: absolute;
            top: 39px;
            // min-height: 40px;
            background-color:rgba(255,255,255,1);
            

            .search-result {
                clear: both;
                // border: 1px solid #ddd;
                // min-height: 40px;
                padding: 0.2em 0;
                background-color:rgba(255,255,255,0.5);
                overflow: auto;
                border-bottom: 1px solid #ccc;
                padding: 0.4em;
                
                p {
                    // padding: 0.2em 0 0 0.5em;
                    margin: 0;
                }
            }

            .search-result:hover {
                // border: 1px solid $primary-color;
                background-color:rgba($background-color,0.8);
            }

            .selected-result {
                // border: 1px solid $primary-color !important;
                background-color:rgba($primary-color-light,0.8);
            }
        }

        .navbar-brand {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-brand img {
            height: 30px;
        }
    }
}

.navbar {
    margin-bottom: 0px !important;
}

.navbar-nav {
    li {
        text-align: right;
    }
}

.wbc-nav {
    .fa {
        padding-right: 0.6em;
    }
}

// make loading spinner disappear instantly
.spinner-icon.ng-hide-add {
    display: none !important; /* yes, important */
}
