/* brand */

#brand {
    @include branding();
}

#header {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba($background-color,0.8);
    position: relative;
    z-index: 2;

    #header-left {
        float: left;
        padding-left: 20px;
    }

    #header-right {
        // margin-top: 15px;
        float: right;
        padding-right: 20px;

        .sitenav {
            font: $font-nav;
            color: $primary-color;
            padding: 0;
            float: left;
            margin-top: 12px;

            >li {
                display: inline;
                list-style: none;
                margin-right: 20px;
            }

            >li:last-child {
                margin-right: 0;
            }

            .user_img {
                height: 1.5em;
                padding-right: 0.4em;
            }
        }

        .search-form {
            margin-top: 5px;
            float: left;
            max-width: 200px;
            padding-right: 2em;

            .spinner-icon {
                position: absolute;
                right: 43px;
                top: 10px;
                z-index: 10;
            }
        }

        .selected-result {
            border: 1px solid $primary-color !important;
        }

        .search-results {
            border: 1px solid #ddd;
            position: absolute;
            top: 39px;
            // min-height: 40px;
            background-color:rgba($background-color,0.5);

            .search-result {
                border: 1px solid #ddd;
                // min-height: 40px;
                background-color:rgba($background-color,0.5);
            }

            .search-result:hover {
                border: 1px solid $primary-color;
                background-color:rgba($background-color,0.8);
            }
        }

        .navbar-brand {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-brand img {
            height: 30px;
        }
    }
}

.navbar {
    margin-bottom: 0px !important;
}

.navbar-nav {
    li {
        text-align: right;
    }
}

.wbc-nav {
    .fa {
        padding-right: 0.6em;
    }
}
