/* brand */

#brand {
    padding-top: 5px;
    
    img {
        height: 40px;
    }
}
/*@media screen and (max-width: 992px) {
    #brand img {
        height: 40px;
    }
}*/
#header {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(255,255,255,0.8);
    position: relative;
    z-index: 2;
    
    #header-left {
        float: left;
        padding-left: 20px;
    }

    #header-right {
        // margin-top: 15px;
        float: right;
        padding-right: 20px;

        .sitenav {
            font-family: titillium;
            font-size: 16px;
            color: #646464;
            padding: 0;
            float: left;
            margin-top: 12px;
            
            li {
                display: inline;
                list-style: none;
                margin-right: 20px;
            }

            li:last-child {
                margin-right: 0;
            }
        }

        .search-form {
            margin-top: 5px;
            float: left;
            max-width: 200px;
            padding-right: 2em;

            .spinner-icon {
                position: absolute;
                right: 43px;
                top: 10px;
                z-index: 10;
            }
        }

        .selected-result {
            border: 1px solid $primary-color !important;
        }

        .search-results {
            border: 1px solid #ddd;
            position: absolute;
            top: 39px;
            // min-height: 40px;
            background-color:rgba(255,255,255,0.5);
        
            .search-result {
                border: 1px solid #ddd;
                // min-height: 40px;
                background-color:rgba(255,255,255,0.5);
            }

            .search-result:hover {
                border: 1px solid $primary-color-light;
                background-color:rgba(255,255,255,0.8);
            }
        }

        .navbar-brand {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-brand img {
            height: 30px;
        }
    }
    .fa {
        color: $primary-color;
    }
    .fa:hover{
        color: $primary-color-light;
    }
}

.navbar {
    margin-bottom: 0px !important;
}

.navbar-nav {
    li {
        text-align: right;
    }
}

.fa {
    padding-right: 3px;
}