



$primary-color-dark: #303f9f;
$primary-color: #3f51b5;
$primary-color-light: #c5cae9;


$headline-color: $primary-color;
$highlight-color: #4caf50;

$primary-text: #212121;
$primary-secondary: #727272;
$divider-color: #b6b6b6;

$icon-color: #fff;


$background-image: url(static('img/background.png'));
$background-image-light: url(static('img/hintergrund.png'));
