$primary-color-dark: #1b2342;
$primary-color: #434b6b;
$primary-color-light: #8288a1;


$headline-color: $primary-color;
$highlight-color: #4caf50;

$primary-text: #212121;
$secondary-text: #fff;
$primary-secondary: #727272;
$divider-color: #b6b6b6;

$icon-color: #fff;


$background-image: url(static('img/background.png'));
$background-image-light: url(static('img/hintergrund.png'));
$startpage-image: url(static('img/startpage.jpg'));