$primary-color: #de6a00;
// $primary-color: #cc0000;
// $primary-color-light: #ee0000;
$primary-color-light: #e58833;
// $primary-color-lightest: #fcf0e5;
$primary-color-lightest: #ff0000;
$headline-color: #646464;
$highlight-color: #EBAB0C;
$background-image: url(static('img/background.png'));
$background-image-light: url(static('img/hintergrund.png'));