@import 'css/_variables.scss';
@import 'vertical-timeline';
/*
* { outline: 2px dotted red }

* * { outline: 2px dotted green }

* * * { outline: 2px dotted orange }

* * * * { outline: 2px dotted blue }

* * * * * { outline: 1px solid red }

* * * * * * { outline: 1px solid green }

* * * * * * * { outline: 1px solid orange }

* * * * * * * * { outline: 1px solid blue }*/

body {
    background: $background-image-light;
}


#project_map {
    height: 100%;

    #map {
        height: 100%;
        position: relative;
    }
}

#project_sidebar {
    overflow-y: auto;
    height: 100%;

    .anchor {
        overflow: auto;
    }
    .details-headline {
        float: left;
    }
    #subscribe-widget {
        // float: right;
        // width: 100%;
        margin: 2em 1em;
    }

    .availability-icons {
        .fa{
            color: $headline-color;
            padding-left: 5px;
        }
    }

    .fixed-top {
        .details-headline {
            // background: rgba(250, 250, 250, 0.9);
            background-color: $background-color;
            padding: 5px;
            border-radius: 2px;
            // border: 1px solid $primary-color-light;
            box-shadow: 2px 0px 2px 2px #ccc;
            float: left;
        }
        h1 {
            margin: 0px;
            padding: 0px 5px 5px 5px;
        }
    }

    .project-image {
        width: 100%;
    }
    .teaser-text {
        padding-top: 0.3em;
        padding-left: 1em;
    }

    #participate-widget {
        float: right;
        margin-top: 10px;
        margin-left: 5px;
        .participation {
            width: 3.5em;
        }
        .participation span {
            color: green;
        }
        .no-participation span {
            color: red;
        }
    }
    .current-step  {
        background: $background-color;
        // margin: 1em;
        padding: 1em;
        .fa-stack {
            z-index: 3;
            float: left;
            // position: absolute;
            // top: -15px;
            // left: -20px;
            // background: $primary-color;
        }
        .fa-circle-o {
            color: $primary-color;
        }
        .fa-gears {
            color: $headline-color;
            z-index: 5;
            position: relative;
        }
        p {
            padding-left: 1em;
        }
    }
}

.admin-panel {
    float: right;
    list-style: none;
    li {
        float: left;
    }
    .fa {
        color: $icon-admin-edit-color !important;
        padding: 2px;

    }

}
.form-required {
    label::before {
        content: "*";
    }
}

#main_content {
    .main-content-nav {
        height:  42px;
        // float: left;

        .not-active {
            pointer-events: none;
            a {
                color: #ccc !important;
            }
            .fa {
                color: #ccc;
            }
        }
        .active {
            a {
                color: #555;
            }
            .fa {
                color: #555;
            }
        }
    }

    .event-item {
    }

    .tab-pane {
        height: 100%;
        width: 100%;

        #vizicities-viewport {
            // position: absolute;
            height: 100%;
            width: 100%;
            #vizi-menu {
                position: absolute;
                top: 20px;
                left: 20px;


                #north {
                    position: absolute;
                    top: 35px;
                    left: 30px;
                }

                #south {
                    position: absolute;
                    top: 105px;
                    left: 30px;
                }

                #west {
                    position: absolute;
                    top: 70px;
                    left: 10px;
                }


                #east {
                    position: absolute;
                    top: 70px;
                    left: 50px;
                }
            }
        }
    }

}

/**  MODAL **/
.well {
    margin-bottom: 0px;
}

.modal-header {
    h3 {
        margin-top: 0px;
    }
}

.project-buttons {
    margin-top: 20px;
}
.project {
    margin-top: 20px;
    margin-bottom: 40px;
}
.publications {
    margin-bottom: 20px;
}
.publications div {
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .publications-title {
        font-family: dejavu;
        font-weight: bold;
        font-size: 14px;
        color: #646464;
        line-height: 20px;
    }
}

/*WIDGETS */

.widget .fa {
    color: #646464;
    margin-right: 4px;
}

/* STAKEHOLDER WIDGET */

.stakeholder-container {
    overflow: auto;
}
.stakeholder-widget {
    background-color: $background-color;
    border-radius: 5px;
    border: #fafafa 2px solid;
}

.stakeholder-widget p{
    color: #646464;
}

.stakeholder_img {
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 70px;
}

/* TAGS */

a.taglink {
    overflow:auto;
    padding: .4em .7em .3em;
    margin: .1em .1em;
    font-size: .85em;
    border-radius: .25em;
    color: white;
    background-color: $primary-color;
    font-weight: bold;
    float: left;
}

/* TAG PAGE */

.project-descriptions {
    clear: both;
}

.project-description {
    background-color: $background-color;
    border-radius: 5px;
    border: #fafafa 2px solid;
    padding: 10px;
    display: inline-block;
}

.project-description h3 {
    margin-top: 5px;
}

.project-description p {
    color: #646464;
}


.description_img {
    float: left;
    height: 100px;
    width: 200px;
}

.stakeholder-descriptions {
    clear: both;
}

.stakeholder_page_img {
    float: right;
}

/*SLIDESHOW*/

#slider1_container {
    position: relative;
    /*margin: 0px 5px 5px 0px; */
    /*float: left; */
    top: 0px;
    left: 0px;
    width: 800px;
    height: 400px;
    overflow: hidden;
    background: #191919;
}

.slides {
    cursor: move;
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 0px;
    width: 800px;
    height: 400px;
}

.jssora02l, .jssora02r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(/static/img/a02.png) no-repeat;
    overflow: hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r.jssora02rdn { background-position: -63px -33px; }

.jssort03 {
    position: absolute;
    /* size of thumbnail navigator container */
    width: 800px;
    height: 60px;
    left: 0px;
    bottom: 0px;
}

.jssort03 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    height: 32px;
}

.jssort03 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.jssort03 .w, .jssort03 .pav:hover .w {
    position: absolute;
    width: 60px;
    height: 30px;
    border: white 1px dashed;
    box-sizing: content-box;
}

.jssort03 .pdn .w, .jssort03 .pav .w {
    border-style: solid;
}

.jssort03 .c {
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    height: 32px;
    background-color: #000;
    filter: alpha(opacity=45);
    opacity: .45;
    transition: opacity .6s;
    -moz-transition: opacity .6s;
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
}

.jssort03 .p:hover .c, .jssort03 .pav .c {
    filter: alpha(opacity=0);
    opacity: 0;
}

.jssort03 .p:hover .c {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}

* html .jssort03 .w {
    width /**/: 62px;
    height /**/: 32px;
}

/* list */
.list-header {
    margin-top: 20px;
}
.list-header .pagination {
    margin: 0;
}
.list-header p {
    margin: 0;
    line-height: 32px;
    text-align: right;
}
@media (max-width: 768px) {
    .list-header form {
        margin-bottom: 20px;
    }
    .list-header .pagination {
        float: left;
    }
    .list-table {
        margin-top: 20px;
    }
}

/* GENERAL*/

.content-container {
    padding: 0em 1em 1em 1em;
    border-bottom: 1px solid #eee;
    // overflow: auto;
}

.content-container:hover {
    // padding: 0px 5px 5px 5px;
    // margin: 5px 0px;
    /*border: 1px solid  #ccc;*/
    // border-radius: 4px;
    // box-shadow: 2px 2px 5px #ccc;
    /*background: rgba(252, 240, 229,0.5);*/
    // background: rgba(240,240,240,0.5);
    background: $background-color;
    // cursor: pointer;
    // overflow: hidden;
}

.wbc-button {
    font: $font-body-copy;
    font-weight: bold;
    font-size: .875em;
    color: $icon-color;
    line-height: 20px;
    text-align: center;
    // width: 100%;
    box-shadow: 2px 2px 5px #ccc;
    border:1px solid $primary-color-dark;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /* font-size:12px; */
    /* font-family:arial, helvetica, sans-serif; */
    padding: 10px 10px 10px 10px;
    /* text-decoration:none; */
    /* display:inline-block; */
    /* text-shadow: -1px -1px 0 rgba(0,0,0,0.3); */
    /* font-weight: bold;
    /* color: #FFFFFF; */
    background-color: $primary-color; background-image: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($primary-color-dark));
    background-image: -webkit-linear-gradient(top, $primary-color, $primary-color-dark);
    background-image: -moz-linear-gradient(top, $primary-color, $primary-color-dark);
    background-image: -ms-linear-gradient(top, $primary-color, $primary-color-dark);
    background-image: -o-linear-gradient(top, $primary-color, $primary-color-dark);
    background-image: linear-gradient(to bottom, $primary-color, $primary-color-dark);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F2C399, endColorstr=$primary-color-dark);

    span.fa-stack {
        i {
            color: $icon-color;
        }
    }

}

.wbc-button:hover {
    color: $icon-color;
    border:1px solid $primary-color;
    background-color: $primary-color-dark; background-image: -webkit-gradient(linear, left top, left bottom, from($primary-color-dark), to($primary-color));
    background-image: -webkit-linear-gradient(top, $primary-color-dark, $primary-color);
    background-image: -moz-linear-gradient(top, $primary-color-dark, $primary-color);
    background-image: -ms-linear-gradient(top, $primary-color-dark, $primary-color);
    background-image: -o-linear-gradient(top, $primary-color-dark, $primary-color);
    background-image: linear-gradient(to bottom, $primary-color-dark, $primary-color);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=$primary-color-dark, endColorstr=$primary-color);
    }
