ol.process-bar {
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  list-style-type: none;
  overflow: hidden;
}

ol.process-bar li {
  display: inline-block;
  text-align: center;
  height: 3.6em;
  float:left;
}


ol.process-bar[data-process-bar-steps="2"] li { width: 49%; }
ol.process-bar[data-process-bar-steps="3"] li { width: 33%; }
ol.process-bar[data-process-bar-steps="4"] li { width: 24%; }
ol.process-bar[data-process-bar-steps="5"] li { width: 19%; }
ol.process-bar[data-process-bar-steps="6"] li { width: 16%; }
ol.process-bar[data-process-bar-steps="7"] li { width: 14%; }
ol.process-bar[data-process-bar-steps="8"] li { width: 12%; }
ol.process-bar[data-process-bar-steps="9"] li { width: 11%; }


ol.process-bar li.process-done {
  color: #646464;
  border-bottom: 4px solid yellowgreen;
}

ol.process-bar li.process-todo {
  color: silver;
  border-bottom: 4px solid silver;
}

ol.process-bar li.process-running {
  color: #646464;
  border-bottom: 4px solid #FACC00;
}



/*ol.process-bar li:after {
    content: "\00a0\00a0";
}*/
ol.process-bar li:before {
    position: relative;
    bottom: -2.8em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.process-bar li.process-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    padding-left: 0.1em;
    border: none;
    border-radius: 1.2em;
}
ol.process-bar li.process-todo:before {
    content: "\2712";
    color: white;
    background-color: white;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: 3px solid silver;
    border-radius: 1.2em;
}

ol.process-bar li.process-running:before {
    content: "\2713";
    color: #FACC00;
    background-color: #FACC00;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
