@import 'css/_variables.scss';
@import 'css/_mixins.scss';

body {
    background-color: $background-color-light;
}

#header {
    .search-field {
        display: none;
    }
}

.overview-button {
    display: none;
}
.search-field-button {
    display: none;
}

#side_content {
    // background-image: $background-image-light;
    padding: 0;
    #search_sidebar {
        position: relative;
        height: 100%;
        overflow-y: auto;
        @media(max-width: 768px){
            overflow-y: visible;
        }
        // overflow-y: hidden;
        // &:hover {
        //     overflow-y: auto;
        // }
        // needed so mobile view auto complete results are visible
        &.show-overflow {
            @media(max-width: 768px){
                overflow-y: visible;
            }
        }
        #search {
            // background-color: $background-color;

            .search-results-autocomplete {
                position: absolute;
                background: white;
                background-color: rgba(255,255,255,1);
                width: 100%;
                clear: both;
                padding: 0 1em;
                // top: -0.7em;
                z-index: 10;
                
                .search-result-autocomplete {
                    padding: 0.3em;
                    border-bottom: 1px solid #ccc;
                }
                .selected-result {
                    background-color: rgba($highlight-color,0.2);
                }
            }
        }
        #sidebar-results {
            @media (max-width:768px){
                display: none;
            }
        }
        .loading-container {
            padding-top: 1em;
            font-size: 1.5em;

            .loading-text:after {
                overflow: hidden;
                display: inline-block;
                vertical-align: bottom;
                @include animation(ellipsis steps(4,end) 2200ms infinite);      
                content: "\2026"; /* ascii code for the ellipsis character */
                width: 0px;
            }

            @keyframes ellipsis {
                to {
                    width: 20px;    
                }
            }

            @-webkit-keyframes ellipsis {
                to {
                    width: 20px;    
                }
            }
        }
        .search-field {
            padding: .7em 1em;
            // border aus .collapse-heading
            margin-bottom: 0.2em;

            .clear-search {
                position: absolute;
                right: 60px;
                top: 18px;
                z-index: 10;

            }
        }
        .search-anchor {
            width: 100%;
            float: left;
            z-index: 1;
            border-bottom: 1px solid $primary-text;
            // box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.44);
            background: $background-color-header-lightest;
            &.fixed-top {
                width: 33%;
                // border-right: 2px solid #ccc;   
                @media (max-width:768px){
                    width: 100%;
                }
            }
            input {
                background-color: $background-color-light;
                // color: $secondary-text;
            }
        }
        .fixed-top .search-field {
            padding: .7em 1em;
        }
        .scroll-top-link {
            background: rgba(255,255,255,1);
            // display: none;
            float: left;
            padding: 0.3em;
            position: absolute;
            margin-top: 0.3em;
            opacity: 0;
            pointer-events: none;
        }
        .scroll-top-link-bottom {
            position: fixed;
            color: $highlight-color;
            bottom: 1em;
            // display: block;
            left: 27%;
            opacity: 0;
            pointer-events: none;
            @media(max-width: 768px){
                left: 92%;
            }
        }
        .fixed-top .scroll-top-link, .fixed-top .scroll-top-link-bottom {
            @include transition( 0.4s linear all);
            opacity: 1;
            pointer-events: auto;
        }
        #filter-container {
            @media(max-width: 768px){
                width: 100%;
            }
            @media(min-width: 768px){
                height: auto !important;
                display: block !important;
                overflow: auto !important;
                width: 100%;
            }
        }

        .collapse-heading {
            position: relative;
            clear:both;
            font-size: 15px;
            color: $primary-text;
            // background-color: $primary-color-lightest;
            background-color: $primary-color-slight-light;

            padding: 8px 15px;
            font: $font-nav;
            // border-bottom: 1px solid #eee;
            // box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.44);
            // margin-bottom: 0.2em;

            .fa {
                padding-right: 1em;
            }
            .anchor.fixed-top {
                font-size: 1.25em;
                background: #eee;
                top: 30px;
                // transform: translateY(60px);
                padding: 5px 15px;
                border: 1px solid $primary-color;

                // // border-radius: 0px 3px 3px 3px;
                // &.fa-tags {
                //     transform: translate(50px, 60px);
                // }
                // &.fa-image {
                //     transform: translate(104px,60px);
                // }
                // &.fa-list-ul {
                //     transform: translate(158px, 60px);
                // }
                &:hover {
                    background: white;
                }
            }
        }
        .collapse-heading.collapsed {
            // background-color: white;
            // color: $primary-color;
            background: $background-color-header-light;
        }
        .collapse-heading:hover {
            // background-color: #eee;
            // background-color: rgba($highlight-color,0.1);
            // background-color: $primary-color;
            // color: $primary-color;
        }

        .collapse-heading:after {
            /* symbol for "opening" panels */
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            // color: grey;    
        }
        .collapse-heading.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\e080";
        }

        .facet-container {
            overflow: hidden;  //maybe causes problem in mobile? or somewhere else?
            clear: both;
            position: relative;

            label {
              font-size: .85em;
            }
            .underline-lr {
                position: absolute;
                top: 34px;
                height: 0px;
                width: 0px;
                border-bottom: 2px solid transparent;
                @include transition(0.3s linear all);
            }
        }
        .facet-container:hover {
            .underline-lr {
                // position: absolute;
                width: 100%;
                border-bottom: 2px solid $highlight-color;
            }
        }

        .active-facets {
            padding-bottom: .1em;
            overflow:auto;

            .facet-item {
                padding: .4em .7em .3em;
                margin: .1em .1em;
                font-size: .85em;
                border-radius: .25em;
                color: white;
                background-color: $primary-color;
                font-weight: bold;
                float: left;

                span {
                    float: left;
                }
                a {
                    float: left;
                    color: white;
                    opacity: 0.6;
                    margin: 0px 0px 0px 0.3em;
                    position: relative;
                    border-left: 1px solid #ccc;
                    padding-left: 0.2em;
                }
                a:hover {
                    opacity: 1.0;
                }
            }
        }
        .wbc-dropdown-container {
            // margin-left: 10px;
            // background-color: $primary-color-lightest;
            border-left: 1px solid #eee;
            padding-left: 0.5em;

            .result-details {
                a {
                    color: $primary-text;
                }
            }
            .fa {
                color: $primary-text;
            }
            .facet-select {
                padding-left: 10px;
            }
            .facet-select:hover {
                background-color: rgba($highlight-color,0.2);
                // color: $primary-color;
            }
            label input[type="checkbox"] {
                position: relative;
                // z-index: -1;
            }
        }

    }

    #result-number {
        text-align: right;
        padding-right: 1em;
        margin-bottom: 1px;
        color: $primary-color-dark;
        position: relative;
        top: -0.5em;
        float: right;
    }
    .input-searching {
        padding-right: 1em;
        color: $primary-text;
        position: relative;
        top: -0.5em;
    }

}

// button to switch between map and list view
#map-list-switch {
    position: absolute;
    right: 1em;
    top: 2.3em;
    z-index: 2;
    @media(max-width: 768px){
        top: 6em;
    }
}

// .new-project-button {
//     position: absolute;
//     top: 4em;
//     right: 1em;
//     z-index: 100;
// }

//leaflet controls moved for mobile view
.leaflet-top{
    @media(max-width: 768px){
        top: 6em !important;
    }
}

#map {
    height: 100%;
    @media (max-width: 768px){
      border-top-style: solid;
      border-width: thin;
      border-color: $primary-color;
    }

    .map-overlay {
        padding: 0em 2em 1em 2em;
        z-index: 20;
        border: 1px solid #ccc;
        background: white;
        @include box-shadow(0 0 10px rgba(0,0,0,0.2));
        border-radius: 5px;
        position: absolute;

        h2 {
            color: $primary-text;
        }

    }
    #map-info-box {
        // top: 1em;
        left: 50px;
        @media (max-width: 768px){
            top: 7em;
        } 
        @media (min-width: 768px){
            top: 1em;
        }

    }
    #legend {
        bottom: 2em;
        right: 1em;
        padding-top: 1.3em;

        span {
            position: relative;
            top: -3px;
            padding-left: 0.3em;
        }

        hr {
            margin-top: 0.3em;
            margin-bottom: 0.4em;
        }
    }
    #timeline-container {
        position: absolute;
        bottom: 2em;
        // padding: 1em;
        width: 70%;
        left: 1em;
        height: 100px;
        z-index: 10;        
    }
    #timeline {
        fill: black;
        width: 100%;
        height: 100%;
        padding-left: 10px;

        circle.highlight {
            fill: red;
            stroke: yellow;
            radius: 5px;
            z-index: 20;
        }
        
        circle {
            cursor: pointer;
        }

        .axis path,
        .axis line{
            fill: none;
            stroke: black;
        }
        .tick line {
            stroke: #ccc;
        }
        .line{
            fill: none;
            stroke: $highlight-color;
            stroke-width: 2px;
        }

    }
    #timeline-button {
        z-index: 30;
        position: absolute;
        bottom: 30px;
        left: 100px;
    }
}

#list {
    height: 100%;

    #search-list-header {
        // position: relative;
        width: 100%;
        background: white;
        border-bottom: 2px solid #eee;
        z-index: 1;
        background-color: $background-color;
        color: $primary-text;
        // box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.44);

        h2 {
            margin: 0.3em 0em;
            text-align: center;
            margin-bottom: 0.1em;
        }
        h3 {
            color: $primary-color;
        }

        p {
            font-weight: bold;
        }

        button {
            letter-spacing: 1.1px;
        }
        .result-number {
            padding-left: 0.7em;
            width: 120px;

            .loading-text:after {
                overflow: hidden;
                display: inline-block;
                vertical-align: bottom;
                -webkit-animation: ellipsis steps(4,end) 2200ms infinite;      
                animation: ellipsis steps(4,end) 2200ms infinite;
                content: "\2026"; /* ascii code for the ellipsis character */
                width: 0px;
            }

            @keyframes ellipsis {
                to {
                    width: 20px;    
                }
            }

            @-webkit-keyframes ellipsis {
                to {
                    width: 20px;    
                }
            }
        }

        .sort-control {
            padding-bottom: 0.4em;

            p {
                margin: 0.4em 2em;
                padding-top: 0.3em;
            }
            .tabs {
                margin: 0.2em 2em;
                padding-left: 0px;
            }
        }     
    }

    #result-list {
        padding-top: 80px;
        clear: both;

        .search-result {
            margin: 0.6em;
            padding: 0.3em;
            border-radius: 4px;
            color: $primary-text;
            // background: $background-color-header-lightest;
            background: $background-color;
            border: 1px solid $background-color-light;
        }
        .search-result:hover {
            border: 1px solid $highlight-color;
            background: $background-color-header-lightest;
            // color: $secondary-text;
        }
        .result-block {
            margin: 0.3em 0.45em;
            white-space: nowrap;
            min-width: 150px;
        }
        .teaser {
            // padding-left: 2em;
            clear: both;
            margin: 0.3em 0.45em;
        }

        .result-mash {
            position: relative;
            overflow: auto;
            padding-left: .5em;
        }

        .load-more-results {
            width: 100%;
            height: 175px;
            text-align: center;
        }
        #rating-widget {
            padding: 0.6em;
            // font-size: 1em;
            .star-ratings-rating-stars-container {
                float: left;
            }
            .star-ratings-rating-full, .star-ratings-rating-empty {
                width: 20px;
                height: 20px;
            }

            .star-ratings-rating-empty {
                background-position: -20px 0;
            }
            .wbc-star-ratings-count, .wbc-star-ratings-average {
                padding: 0em 0.3em;
            }
        }
        .feature-icon {
            height: 30px;
            float: left;
            img {
                height: 100%;
            }
        }
        .thumb-icon {
            float: left;
            padding-left: 0.5em;
        }
    }
    .stretchy-wrapper {
        width: 100%;
        padding-top: 75%; /* 16:9 */
        position: relative;
        > div {
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            text-align: center;
            > div {
                position: relative;
                height: 100%;
            }
            i {
                position: relative;
                top: 50%;
                transform:   translateY(-50%);
            }
        }
    }
    .featured {
       .search-result {
            border: 2px solid $primary-color !important;            
           }
    }
    &.box {
        .result-repeat {
            box-sizing: border-box;
            // width: 33.3%;
            float: left;
            min-height: 540px; //find better way to make things align
            padding-left: 0;
            padding-right: 0;

            .search-result {
                padding: 0 !important;
                @include box-shadow(0 3px 6px rgba(0,0,0,0.2));

                .result-mash {
                    width: 100%;
                    padding-left: 0 !important;
                }
                .left-block {
                    width: 100%;
                    background-color: $background-color-header-light;

                    img {
                        width: 100%;
                    }
                }
                .result-title {
                    background: $background-color-header;
                    color: $third-text;
                    letter-spacing: 1.2px;
                    padding: 0.6em;
                    width: 100%;
                    margin: 0 0 !important;
                    font-size: 1.3em;
                    overflow: hidden;
                }
                .result-stakeholder {
                    display: none;
                }
                .result-stats {
                    display: none;
                }
                .teaser {
                    padding: 0.6em;
                    // background-color: $background-color-header-lightest;
                    width: 100%;
                    margin: 0 !important;
                }
                .result-create {
                    background-color: $background-color;
                    width: 100%;
                    text-align: right;
                    padding-right: 0.8em;
                }
                #rating-widget {
                    clear: both;
                }
                .result-tags {
                    padding-left: 0.6em;
                }
                .result-mash {
                    padding-bottom: 0.5em;
                }
            }
        }
    }

}

.result-content {
    overflow-y:auto;
    display: none;
}
.active-result {
    display: block;
}

.search-result {
    // font-size: 0.875em;

    overflow: auto;
    padding-left: 1em;
    padding-top: 0.25em;
    border-bottom: 1px solid #ccc;

    .result-type {
        float: left;
        padding-top: 0.25em;
        padding-right: 1em;
        color: $headline-color;
    }

    a {
        margin-top: .25em;
    }
    p {
        margin-bottom: .25em;
    }
}

.search-result:hover {
    background-color: rgba($highlight-color,0.2);
    a {
        color: $headline-color;
    }
}
.search-result.selected {
    background-color: rgba($highlight-color,0.2);
}

.timeline-tooltip {   
    position: absolute;         
    text-align: center;  
    color: white;
    font-weight: bold;       
    background: black; 
    border: 0px;        
    border-radius: 2px; 
    padding: 0.2em;
    z-index: 20;        
    pointer-events: none;           
}
