/** AB HIER TEST NEUE SEITE **/


#side_content {
    padding: 0px;
    
    #search_sidebar {
        height: 100%;
        overflow-y: scroll;
        padding: 0px 10px;
    }

    .search-result {
        height: 45px;
        border-bottom: 1px solid #ccc;
    }

    .search-result:hover {
        background-color: rgba(229, 136, 51, 0.1);
    }
}

#map {
    height: 100%;
}

.collapse-heading:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    /*color: grey;          adjust as needed */
}
.collapse-heading.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}