html, body {
    height: 100%;
    overflow: hidden;
}

.model-selection {
    padding: 0px;
}

.input-group  {
    float: left !important;
}

#map {
    height: 100%;

}

.search-result {
    height: 45px;
    border-bottom: 1px solid #ccc;
}

.search-result:hover {
    background-color: rgba(229, 136, 51, 0.1);
}


/** AB HIER TEST NEUE SEITE **/

.big-page {
    position: absolute;
    top: 85px;
    bottom: 0px;
    overflow: hidden;
}

#left-content {
    overflow: scroll;
}
.max-height {
    /*position: relative;*/
    height: 100%;
}

@media (max-width: 880px) {
    .max-height {
        height: 50%;
    }
}

