@import 'css/_variables.scss';
/** AB HIER TEST NEUE SEITE **/

#header {
    .search-field {
        display: none;
    }
}

#side_content {
    background-image: $background-image-light;


    #search_sidebar {
        height: 100%;
        overflow-y: auto;
        // padding: 0px 10px;

        .search-field {
            padding: .7em 1em;
            // border aus .collapse-heading
            border-bottom: 1px solid #eee;
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.44);
            margin-bottom: 0.2em;
        }
        .search-anchor {
            width: 100%;
            height: 55px;
            float: left;
            z-index: 1;
        }
        .fixed-top .search-field {
            background: white;
            padding: .7em 1em;
            width: 33.2%;
                @media (max-width: 880px){
                    width: 100%; // 95%;
                }
        }
        .collapse-heading {
            // border: 1px solid #E5E5E5;
            clear:both;
            font-size: 15px;
            color: $primary-color;
            // background-color: $primary-color-lightest;
            background: white;
            padding: 8px 15px;
            font: $font-nav;
            border-bottom: 1px solid #eee;
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.44);
            margin-bottom: 0.2em;

            .fa {
                padding-right: 1em;
            }
            .anchor.fixed-top {
                font-size: 1.25em;
                background: #eee;
                top: 30px;
                transform: translateY(60px);
                padding: 5px 15px;
                border: 1px solid $primary-color;

                // border-radius: 0px 3px 3px 3px;
                &.fa-tags {
                    transform: translate(50px, 60px);
                }
                &.fa-image {
                    transform: translate(104px,60px);
                }
                &.fa-list-ul {
                    transform: translate(158px, 60px);
                }
                &:hover {
                    background: white;
                }
            }
        }
        .collapse-heading.collapsed {
            //color: #333;
            background-color: white;
            color: $primary-color;
            // box-shadow: none !important;
        }
        .collapse-heading:hover {
            background-color: #eee;
            color: $primary-color;
            border-bottom: 1px solid #ccc;
        }

        .collapse-heading:after {
            /* symbol for "opening" panels */
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            /*color: grey;    */
        }
        .collapse-heading.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\e080";
        }

        .facet-container {
            overflow: auto;
            clear: both;

            label {
              font-size: .85em;
            }
        }
        .active-facets {
            padding-bottom: .1em;
            overflow:auto;

            .facet-item {
                padding: .4em .7em .3em;
                margin: .1em .1em;
                font-size: .85em;
                border-radius: .25em;
                color: white;
                background-color: $primary-color;
                font-weight: bold;
                float: left;

                span {
                    float: left;
                }
                a {
                    float: left;
                    color: white;
                    opacity: 0.6;
                    margin: 0px 0px 0px 0.3em;
                    position: relative;
                    bottom: -1px;
                }
                a:hover {
                    opacity: 1.0;
                }
            }
        }
        .wbc-dropdown-container {
            // margin-left: 10px;
            // background-color: $primary-color-lightest;
            border-left: 1px solid #eee;

            .facet-select {
                padding-left: 10px;
            }
            .facet-select:hover {
                background-color: #eee;
                color: $primary-color;
            }
            label input[type="checkbox"] {
                position: relative;
                bottom: 1px;
                // z-index: -1;
            }
        }

    }

    #result-number {
        text-align: right;
        padding-right: 5px;
        margin-bottom: 1px;
    }

}

#map-list-switch {
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 2;
}

#map {
    height: 100%;
    @media (max-width: 880px){
      border-top-style: solid;
      border-width: thin;
      border-color: $primary-color;
    }

    .focused-poly {
        stroke-width: 2px;
        fill: $highlight-color;
        stroke: $highlight-color;
    }
}

#list {
    height: 100%;
}

.result-content {
    overflow-y:auto;
}

.search-result {
    font-size: 0.875em;
    overflow: auto;
    padding-left: 1em;
    padding-top: 0.25em;
    border-bottom: 1px solid #ccc;

    .result-type {
        float: left;
        padding-top: 0.25em;
        padding-right: 1em;
        color: $headline-color;
    }

    a {
        margin-top: .25em;
    }
    p {
        margin-bottom: .25em;
    }
}

.search-result:hover {
    background-color: rgba($highlight-color,0.2);
    a {
      color: $headline-color;
    }
}
.search-result.selected {
    background-color: rgba($highlight-color,0.2);
}
