.profil-picture {
    width: 99%;
    height: auto;
}

.notifications {
    .notification {
        clear: both;
        margin: 1em;
    }
    p {
        width: 50%;
        margin-bottom: 0px;
        margin-top: 0.3em;
    }
}