
.startpage {
  /*padding-top: 2em;*/
  height: 100%;
}

.container-table {
    height: 100%; 
}
.vertical-center-row {
    vertical-align: middle;
}

.teaser {
   text-align: center;
   color: #646464 ;
   background-color: white;
   border-radius: 5px;
   border: 1px solid #ddd;
   padding: 3px;
   margin-top: 20px;
}

.teaser:hover {
   border: 1px solid #de6a00 ;
}

.teaser i {
   font-size: 42px;
}



.selected-result {
    outline: 2px solid #de6a00 ;
}

.search-result-type-project {
    /* outline: 1px solid red; */

}

.search-result-type-stakeholder {
    /* outline: 1px solid yellow; */
}


.search-results {
}

.search-result {
    border: 1px solid #ddd;
    min-height: 40px;
    background-color:rgba(255,255,255,0.5);
}

.search-result:hover {
    border: 1px solid #de6a00;
    background-color:rgba(255,255,255,0.8);

}

.bplan {
    background-color: red;
}

.navigation_map {
  background-color: rgba(255,255,255,0.8);
  position: relative;
  overflow: auto;
}

.navigation_map ul {
  float: right;
  position: relative;
  right: 100px;
}

.detail-overlay {
  height: 100%;
}

.overlay {
  background-color: rgba(255,255,255,0.8);
  position: relative;
}

.infobox-right {
  height: 50%;
}

.infobox-bottom {
  
}

