@import 'css/_variables.scss';
@import 'css/_mixins.scss';


body {
    background-position: center;
    background-color: $background-color-header-lightest;
}

@mixin gradient(){
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f51b5+0,ffffff+100 */
    background: $primary-color; /* Old browsers */
    background: -moz-linear-gradient(left,  rgba($primary-color,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba($primary-color,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba($primary-color,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba($primary-color,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba($primary-color,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba($primary-color,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f51b5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

// override layout style for startpage
.big-page {
    top: 0px;
    bottom: auto;
}
html {
    overflow: auto;
}

//do this for all form controls? or just on startpage?
.form-control:focus {
    border-color: $primary-color;
    @include box-shadow(0 0 8px rgba($primary-color, 0.6));
}

#header {

    height: 100px;
    background-color: rgba(255,255,255,0.0);
    @include transition(0.3s linear all);
    border-bottom: none;
    a {
        color: $primary-text;
    }
    a:hover {
        color: black;
    }

    #nav-search {
        opacity: 0;
        @include transition(0.2s ease-in all);
    }
    #nav-search.fade-in {
        opacity: 1;
        @include transition(0.8s ease-in all);
    }

    &.fixed-header {
        position: fixed;
        width: 100%;
        height: 46px;
        background-color: rgba(255,255,255,1);
    }
    &:not(.fixed-header) {
        @include box-shadow(none);
        .headline-span {
            font-size: 1.3em;
            color: #f2f2f2;
        }
        .dropdown-menu li {
            margin-right: 0px !important;
            a {
                color: #333 !important;
            }
        }
        // font-size: 1.3em;
        #brand img {
            height: 80px;
        }
        #header-right {
            padding-right: 0px;
            .sitenav {
                margin-top: 35px;
                font-size: 1.3em;
                li {
                    margin-right: 40px;
                    a {
                        color: #f2f2f2;
                    }
                }
            }
            #nav-search {
                display: none;
            }
        }
    }
    .sitenav {
        @include transition(0.3s linear all);    
    }
}

.text-center {
    text-align: center;
}

#startpage-content {
    height: 100%;
    position: relative;
    overflow-y: auto;

    #top-container {
        position: relative;
        height: 500px;
        background: $startpage-image  no-repeat center center;
        background-size: cover;
        background-color: $background-color-header;
        // box-shadow: inset 0 -5px 7px rgba(0, 0, 0, .1);
        @include box-shadow(inset 0 -5px 7px rgba(0, 0, 0, .1));

        @media (max-width: 760px) {
            height: 350px;
        }
        .top-container-tint {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: black;
            opacity: 0.3;
            top: 0px;   
        }
        .text-on-image {
            color: #f2f2f2 !important;
        }
        .top-overlay {
            position: relative;
            padding-top: 150px;

            @media (max-width: 760px) {
                padding-top: 90px;

                h1 {
                    margin-top: 0px;

                    @media (max-width: 380px) {
                      font-size: 24px;
                    }
                }
            }

            .search-container {
                padding-top: 10px;
                padding-left: 60px;
                padding-right: 60px;
                z-index: 20;
                @media (max-width: 760px) {
                    padding-left: 20px;
                    padding-right: 20px
                }
            }

            .search-results {
                // border: 1px solid #ddd;
                // min-height: 40px;
                background-color:rgba(255,255,255,1);
                text-align: left;
                z-index: 20;
                position: relative;

                .search-result {
                     clear: both;
                    // border: 1px solid #ddd;
                    // min-height: 40px;
                    padding: 0.2em 0;
                    background-color:rgba(255,255,255,0.5);
                    overflow: auto;
                    border-bottom: 1px solid #ccc;
                    padding: 0.4em;
                     p {
                    // padding: 0.2em 0 0 0.5em;
                    margin: 0;
                    }
                }

                .search-result:hover {
                    // border: 1px solid $primary-color;
                    background-color:rgba($background-color,0.8);
                }

                .selected-result {
                    // border: 1px solid $primary-color !important;
                    background-color:rgba($primary-color-light,0.8);
                }
            }
        }

        #map-button {
            position: absolute;
            bottom: 5px;
            right: 10px;
            background-color: #EC972F;
            z-index: 10;
            color: white;
            @include box-shadow(2px 2px #ccc);

        }
        #map-button:hover {
            border: 2px solid $highlight-color;
        }
    }

    #bottom-container {
        position: relative;
        // top: -9em;
        // background: rgba(255,255,255,0.8);

        p {
          padding: 1em 15px 0 15px;
        }

        .wbc-headline {
            margin-bottom: 1em;
            // padding: 0.5em;
            // padding-left: 2em;
            background-color: $background-color-header;
            // text-align: center;
            border-bottom: 1px solid $primary-color;
            // @include box-shadow(0 1px 7px 0 rgba(242, 152, 85, 1));
            h2 {
                color: $third-text;
                margin-left: 1em;
                padding-left: 15px;
                margin-bottom: 20px;
                font-weight: bold;
            }
        }
        .wbc-divider {
            @include gradient();
            height: 1px;
            margin-bottom: 1em;
            display: none;
        }

        #navigation-boxes {
            padding-bottom: 2em;
            padding-top: 1em;
            margin: 0em 1em;
        }

        .bottom-block {
            padding-bottom: 2em;
        }
        .startpage-text {
            margin: 0em 1em;
        }
        .wbc-teaser-container {
            height: 100%;
            position: relative;
            padding: 0px;
            .wrapper {
                position: relative;
                margin: 1em;
                // border-radius: 4px;
            }
        }
        .teaser {
            text-align: center;
            color: $primary-text;
            background-color: white;
            border-radius: 2px;
            // border: 1px solid #ddd;
            padding: 1.5em 1em;
            // margin-top: 1em;
            // margin-bottom: 1em;
            margin-right: auto;
            margin-left: auto;
            // max-width: 320px;
            height: 120px;
            position: relative;
            @include box-shadow(0 1px 7px 0 rgba(0, 0, 0, 0.3));
            
            p {
              bottom: 0px;
              padding: .25em;
              margin-bottom: 0;
            }
        }

        .teaser:hover {

            // @include box-shadow(0 1px 7px 0 rgba(242, 152, 85, 1));
            // border: 1px solid $primary-color;
            ~.wbc-overlay {
                height: 100%;
                background-color: rgba($primary-color, 0.9);
                opacity: 1;
                // border: 1px solid $primary-color;
                color: $primary-text;


                h2 {
                    // position: relative;
                    top: 0em;
                }
            }
        }

        .teaser i {
            font-size: 42px;
        }
        
        .wbc-overlay {

            height: 100%;
            opacity: 0;
            @include transition(0.3s linear all);
            color: $background-color;
            width: 100%;
            background-color: rgba(0,0,0, 0);
            position: absolute;
            bottom: 0px;
            pointer-events: none;
            overflow: hidden;
            border-radius: 2px;

            h2 {
                color: $primary-text;
                text-align: center;
                position: relative;
                @include transition(0.4s linear all);
                top: 3em;
            }
            
        }

        .upcoming {
            padding-top: 12px;
            .project-description {
                float: left;

                .description_img {
                    max-width: 100%;
                }
                // img {
                //     width: 200px;
                // }
                .date {
                    padding-left: 1em;
                    position: relative;
                    top: -8px;
                }
            }

        }
    }
}
