@import 'variables';
@import 'sitenav';

html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    overflow: hidden;
}
@font-face {
    font-family: titillium;
    src: url('/static/font/TitilliumText25L.otf');
}
@font-face {
    font-family: dejavu;
    src: url('/static/font/DejaVuSansCondensed.ttf');
}
@font-face {
    font-family: dejavu;
    src: url('/static/font/DejaVuSansCondensed-Bold.ttf');
    font-weight: bold;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: dejavu;
    font-size: 14px;
}
h1 {
    font-family: dejavu;
    font-weight: bold;
    font-size: 34px;
    color: $headline-color;
}
h2 {
    font-weight: normal;
    font-family: titillium;
    font-size: 28px;
    color: $headline-color;
}
h3 {
    font-family: dejavu;
    font-weight: bold;
    font-size: 16px;
    color: $headline-color;
    line-height: 20px;
}
h4 {
    font-family: dejavu;
    font-weight: bold;
    font-size: 14px;
    color: $headline-color;
    line-height: 20px;
}

/**LAYOUT **/
.big-page {
    position: absolute;
    top: 50px;
    bottom: 0px;
    overflow: hidden;
    width: 100%;
}

.max-height {
    height: 100%;
}

@media (max-width: 880px) {
    .max-height {
        height: 50%;
    }
}

.fixed-top {
    position: fixed;
}
#side_content {
    // overflow-y: scroll;
    // overflow-x: hidden;
}

#main_content {
    padding: 0px;
}

.tab-content {
    height: 100%;
}

/** POLY **/

.poly {
    color: $primary-color;
}

/** Close Button **/
// .close-button {
//     float:right;
//     cursor: pointer;
//     // display:inline-block;
//     // padding:2px 2px;
//     // border: 1px solid #ccc;

// }

#close-button:hover {
    float:right;
    display:inline-block;
}
a,
a:visited,
.leaflet-container a,
.leaflet-container a:visited {
    color: $primary-color;
    text-decoration: none;
}
a:hover,
.leaflet-container a:hover {
    color: $primary-color-light;
    text-decoration: none;
}
.btn.btn-primary {
    color: white !important;
}

.admin-area {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
}

.panel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.panel-default > .panel-heading {
    background-color: white;
}


/* wbc forms */
.wbc-form-modelmultiplechoicefield-group select[multiple="multiple"]{
    height: 120px;
}
.wbc-form-booleanfield-group input[type="checkbox"]{
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 0 0 5px;
}
.wbc-delete-form {
    margin-top: 20px;
}

/* Sitenav */

/* navbar */


/* 'Abonieren' Form */
.notifications form ul {
    margin: 5px 0 0 0;
    padding: 0;
}
.notifications form li {
    line-height: 20px;
    list-style: none;
}
.notifications form li label,
.notifications form li input {
    display: inline-block;
}
.notifications form li input {
    margin-bottom: 5px;
}
.notifications form li label {
    margin-left: 10px;
}
.notifications label {
    font-weight: normal;
}
.notifications .feed-list {
    margin-left: -10px;
}
.notifications .feed-list li {
    margin-bottom: 5px;
}
.notifications .feed-list li a span {
    padding-left: 10px;
}

/* wordpress stuff */
.blog .post-footer {
    color: #646464;
}
.blog .post {
    margin-bottom: 50px;
}
.blog .post-content {
    margin-bottom: 50px;
}
.blog h1, .blog h2 {
    color: #646464;
}
.blog .input-small {
    width: 300px;
}
.blog .comment-form label {
    font-weight: normal;
}
.blog img {
    max-width: 100%;
    height:auto;
}
.blog iframe {
    max-width: 100%;
}

/* ort */


/* comments */
.comments-wrapper {
    background: rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}
.comments {
    margin-top: 20px;
    margin-bottom: 60px;
}
.comment {
    margin-bottom: 20px;
}
.comment-author {
    margin-bottom: 10px;
}
.comment-author-img {
    float: left;
}
.comment-author-name {
    /*margin-top: 6px;*/
    margin-left: 42px;
}
.comment-author-time {
    margin-top: 2px;
    margin-left: 42px;
    line-height: 12px;
    font-size: 10px;
}
.comment-erstellen {
    display: block;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}