@import 'css/_variables.scss';
@import 'sitenav';
@import 'project_list';

html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    overflow: auto;
    color: $primary-text; 
    background-color: $background-color;
}
html, body {
    padding: 0;
    margin: 0;
    font: $font-body-copy;
}
h1 {
    font: $font-h1;
    color: $headline-color;
}
h2 {
    font: $font-h2;
    color: $headline-color;
}
h3 {
    font: $font-h3;
    color: $headline-color;
}
h4 {
    font: $font-h4;
    color: $headline-color;
}

/**LAYOUT **/
.big-page {
    position: absolute;
    top: 45px;  // von zuvor 50px - sollte relativ zu height navbar sein!
    bottom: 0px;
    // overflow: hidden;
    width: 100%;
}

.max-height {
    height: 100%;
}

@media (max-width: 880px) {
    .max-height {
        height: 50%;
    }
}

.fixed-top {
    position: fixed;
}
#side_content {
    padding: 0px;
    border-right: 2px solid #ccc;

    // overflow-y: scroll;
    // overflow-x: hidden;
}

#main_content {
    padding: 0px;
}

.tab-content {
    // height: 100%;
    position: absolute;
    top: 42px;
    bottom: 0px;
    width: 100%;
}

/** POLY **/

.poly {
    color: $primary-color-light;
}

.wbc-poly {
    fill: $primary-color-light;
    stroke: $primary-color;
    stroke-opacity: 1;
    stroke-width:  1;
    fill-opactity: 0.10;
    // color: $primary-color;
    // opacity: 1;
    // fill: true;
}


/** TOOLTIP **/
.tooltip-container {
    position:relative;
}

.tooltip { /* hide and position tooltip */
  top:10px;
  background-color:white;
  border: 1px solid $primary-color;
  color:$headline-color;
  border-radius:5px;
  opacity:0;
  padding: 1em;
  left: 100px;
  position:absolute;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  visibility: hidden;
}

.tooltip-container:hover .tooltip { /* display tooltip on hover */
    visibility: visible;
    opacity:1;
    // display: block;
}

/** Close Button **/
// .close-button {
//     float:right;
//     cursor: pointer;
//     // display:inline-block;
//     // padding:2px 2px;
//     // border: 1px solid #ccc;

// }

#close-button:hover {
    float:right;
    display:inline-block;
}
a,
a:visited,
.leaflet-container a,
.leaflet-container a:visited {
    color: $primary-color;
    text-decoration: none;
}
a:hover,
.leaflet-container a:hover {
    color: $primary-color-dark;
    text-decoration: none;
}
.btn.btn-primary {
    color: white !important;
}

.admin-area {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
}

.panel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.panel-default > .panel-heading {
    background-color: white;
}


/* wbc forms */
.wbc-form-modelmultiplechoicefield-group select[multiple="multiple"]{
    height: 120px;
}
.wbc-form-booleanfield-group input[type="checkbox"]{
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 0 0 5px;
}
.wbc-delete-form {
    margin-top: 20px;
}

/* Sitenav */

/* navbar */


/* 'Abonieren' Form */
.notifications form ul {
    margin: 5px 0 0 0;
    padding: 0;
}
.notifications form li {
    line-height: 20px;
    list-style: none;
}
.notifications form li label,
.notifications form li input {
    display: inline-block;
}
.notifications form li input {
    margin-bottom: 5px;
}
.notifications form li label {
    margin-left: 10px;
}
.notifications label {
    font-weight: normal;
}
.notifications .feed-list {
    margin-left: -10px;
}
.notifications .feed-list li {
    margin-bottom: 5px;
}
.notifications .feed-list li a span {
    padding-left: 10px;
}

/* wordpress stuff */
.blog .post-footer {
    color: #646464;
}
.blog .post {
    margin-bottom: 50px;
}
.blog .post-content {
    margin-bottom: 50px;
}
.blog h1, .blog h2 {
    color: #646464;
}
.blog .input-small {
    width: 300px;
}
.blog .comment-form label {
    font-weight: normal;
}
.blog img {
    max-width: 100%;
    height:auto;
}
.blog iframe {
    max-width: 100%;
}

/* ort */


/* comments */
.comments-wrapper {
    background: rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}
.comments {
    margin-top: 20px;
    margin-bottom: 60px;
}
.comment {
    margin-bottom: 20px;
}
.comment-author {
    margin-bottom: 10px;
}
.comment-author-img {
    float: left;
}
.comment-author-name {
    /*margin-top: 6px;*/
    margin-left: 42px;
}
.comment-author-time {
    margin-top: 2px;
    margin-left: 42px;
    line-height: 12px;
    font-size: 10px;
}
.comment-erstellen {
    display: block;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}



header > a:link,
header > a:active {
    color: $primary-color;
}
