{% extends 'core/page.html' %}

{% block page %}

<h2>Passwort vergessen</h2>

<p>
    Haben Sie Ihr Passwort vergessen? Bitte geben Sie die Email-Adresse an, mit der Sie bei uns registriert sind, und wir senden Ihnen eine Email mit Instruktionen, wie sie Ihr Password neu setzen können.
</p>

<form method="post" action="">
    {% csrf_token %}

    {% include 'core/form_fields.html' %}

    <input type="submit" value="Passwort ändern" class="btn btn-primary" />
    <input type="hidden" name="next" value="{{ next }}" />

</form>

{% endblock %}
