{% extends 'core/page.html' %}
{% load staticfiles %}

{% block page %}

<h2>Password zurücksetzen</h2>

<p>
    Um Ihr Passwort zurückzusetzen geben sie bitte die Email-Adresse ein, mit der Sie bei uns registriert sind.
</p>
<p>
    Wir schicken Ihnen dann eine Email mit einem Link, unter dem sie Ihr Passwort neu setzen können.
</p>

<form method="post" action="">
    {% csrf_token %}

    {% include 'core/form_fields.html' %}

    <input type="submit" value="Passwort zurücksetzen" class="btn btn-primary" />
    <input type="hidden" name="next" value="{{ next }}" />

</form>

{% endblock %}
