{% extends 'core/page.html' %}
{% load compress %}
{% block css %}
    {% compress css %}
    {{block.super}}
    {% endcompress %}
{% endblock %}

{% block page %}

<h2>Password zurücksetzen</h2>

<p>
    Sie sollten in Kürze eine Email mit einem Link zum Neusetzen Ihres Passworts erhalten.
</p>
<p>
    Sollten Sie keine Email von uns erhalten, schauen sie doch bitte auch in Ihrem Spam-Ordner nach und überprüfen sie ob sie wirklich die Email-Adresse mit der Sie sich bei uns registriert haben angegeben haben.
</p>
<p>
    Sollten sie dann Immer noch Probleme haben, wenden sie sich bitte an <a href="mailto:{{ info_email }}">{{ info_email }}</a>.
</p>

{% endblock %}
