{% extends 'bbs/page.html' %}
{% load sekizai_tags %}

{% block page %}
{% addtoblock "js" %}

{% endaddtoblock %}

    <div class="container">
        <p>Auf dieser Seite werden alle Informationen, die wir seit Beginn des Projektes im Februar 2013 eingetragen haben, in einer Liste angezeigt. Die Informationen stammen alle aus dem wöchentlich erscheinendem Amtsblatt von Berlin, das wir mit Unterstützung der Naturschutzverbände manuell auswerten. In den meisten Fällen handelt es sich um Informationen zu ausliegenden <a href="/info">Bebauungsplänen</a>. Eher selten werden Informationen zu <a href="/info">Planfestestellungsverfahren</a> veröffentlicht. In der Detailansicht eines Verfahrens sind alle Informationen, die seit Februar 2013 im Amtsblatt zu diesem Verfahren veröffentlich wurden, aufgelistet.</p>
        <br>
        <br>
        <table class="table" id="data-table">
            <thead>
                <tr>
                    <th>Bezeichner</th>
                    <th>Adresse</th>
                    <th>Bezirke</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for projekt in projekte %}
                <tr>
                    <td>{{ projekt.bezeichner }}</td>
                    <td>{{ projekt.adresse }}</td>
                    <td>
                        {% for bezirk in projekt.bezirke.all %}
                            {{ bezirk.name }}<br />
                        {% endfor %}
                    </td>
                    <td><a href="/orte/{{ projekt.pk }}">Details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}