{% extends 'bbs/page.html' %}

{% block pagehead %}
    <script type="text/javascript" 
            src="{{ STATIC_URL }}dataTables/js/jquery.dataTables.js" >
    </script>
    <script type="text/javascript" 
            src="{{ STATIC_URL }}dataTables/js/jquery.dataTables.bootstrap.js" >
    </script>
    <script>
        $.extend( $.fn.dataTableExt.oStdClasses, {
            "sWrapper": "dataTables_wrapper form-inline"
        } );
        $(document).ready(function() {
            $('#data-table').dataTable({
                "aLengthMenu": [[10, 25, -1], [10, 25, "Alle"]],
                "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "Zeige _MENU_ Einträge pro Seite",
                    "sZeroRecords": "Sorry, nichts gefunden!",
                    "sInfo": "Eintrag _START_ bis _END_ von _TOTAL_ Einträgen",
                    "sInfoEmpty": "Keine Einträge",
                    "sInfoFiltered": "(insgesamt _MAX_ Einträgen)",
                    "sSearch": 'Suche:',
                    "oPaginate": {
                        "sFirst": "Erste Seite",
                        "sLast": "Letzte Seite",
                        "sNext": "Vorherige Seite",
                        "sPrevious": "Nächste Seite",
                    }
                }
            });
        });
    </script>
    <link rel="stylesheet" href="{{ STATIC_URL }}dataTables/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}dataTables/css/jquery.dataTables.bootstrap.css" />
{% endblock %}

{% block page %}
<div class="container">
    <table cellpadding="0" cellspacing="0" border="0" class="table" id="data-table">
        <thead>
            <tr>
                <th>Projekt</th>
                <th>Verfahrenschritt</th>
                <th>Beginn</th>
                <th>Ende</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for veroeffentlichung in veroeffentlichungen %}
            <tr>
                <td><a href="/projekte/{{ veroeffentlichung.projekt.pk }}">{{veroeffentlichung.projekt.addresse}}</a></td>
                <td>{{ veroeffentlichung.verfahrensschritt.name }}</td>
                <td>{{ veroeffentlichung.beginn }}</td>
                <td>{{ veroeffentlichung.ende }}</td>
                <td><a href="/veroeffentlichungen/{{ veroeffentlichung.pk }}">Details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}