{% extends 'bbs/page.html' %}

{% block pagehead %}
{% endblock %}

{% block page %}
    <div class="container">
        <h3>Veröffentlichung zu Projekt {{veroeffentlichung.projekt}}</h3>
        <dl>
            <dt>Beschreibung</dt>
            <dd>{{veroeffentlichung.beschreibung}}</dd>
            <dt>Verfahrensschritt</dt>
            <dd>{{veroeffentlichung.verfahrensschritt}}</dd>
            <dt>Beginn</dt>
            <dd>{{veroeffentlichung.beginn}}</dd>
            <dt>Ende</dt>
            <dd>{{veroeffentlichung.ende}}</dd>
            <dt>Auslegungsstelle</dt>
            <dd>{{veroeffentlichung.auslegungsstelle}}</dd>
            <dt>Zeiten</dt>
            <dd>{{veroeffentlichung.zeiten}}</dd>
            <dt>Behoerde</dt>
            <dd>{{veroeffentlichung.behoerde}}</dd>
            <dt>Link</dt>
            <dd>{{veroeffentlichung.link}}</dd>
        </dl>
    </div>
{% endblock %}