{% extends 'core/page.html' %}
{% load compress %}
{% block css %}
    {% compress css %}
    {{block.super}}
    {% endcompress %}
{% endblock %}

{% block page %}

<h2>Benutzerkonto aktiviert</h2>
<p>
    Ihr Benutzerkonto ist nun aktiv. Sie können sich <a class="dropdown-toggle" data-toggle="dropdown" data-target=".dropdown" href="#" >einloggen</a>.
</p>
<p>
    Wenn Sie mögen, können Sie zusätzliche Daten in Ihrem <a href="{% url 'profile_update'%}">Benutzerkonto</a> hinterlegen, die dann auf der Seite, beispielsweise neben Ihren Kommentaren angezeigt werden.
</p>

{% endblock %}
