{% load i18n staticfiles %}
<div>
    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.META.HTTP_REFERER }}" class="btn btn-default social-login"> <img src="{% static 'img/logos/fb.png' %}">{% trans 'Mit Facebook anmelden' %}
    </a>
    <a href= "{% url 'social:begin' 'twitter' %}?next={{ request.META.HTTP_REFERER }}" class="btn btn-default social-login"> <img src="{% static 'img/logos/twitter.png' %}">{% trans 'Mit Twitter anmelden' %}
    </a>
</div>
<div class="divider-text"><h2 class="decorated"><span>{% trans 'oder' %}</span><h2></div>
<form method="post"  action="{% url 'register_method' %}">
    {% csrf_token %}

    {% include 'core/form_fields.html' %}
    <div class="clearfix">
        <button type="submit" class="btn btn-primary pull-right">{% trans 'Weiter' %}</button>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
</form>

