{% extends 'bbs/layout.html' %}

{% block content %}
<div class="container page">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th style="width: 14px;"></th>
                <th style="width: 14px;"></th>
                <th style="width: 14px;"></th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{project.id}}</td>
                <td>{{project.titel}}</td>
                <td>
                    <a href="/bbs/{{project.id}}">
                        <i class="icon-search icon-search"></i>
                    </a>
                </td>
                <td>
                    <a href="/bbs/update/{{project.id}}">
                        <i class="icon-search icon-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="/bbs/delete/{{project.id}}">
                        <i class="icon-search icon-remove"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="/tracks/create">Add a new track</a> 
    </p>
</div>
{% endblock %}