{% extends 'bbs/layout.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'page.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/leaflet/leaflet.css' %}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'lib/leaflet/leaflet.js' %}" ></script>    
    <script type="text/javascript">
        var staticUrl = '{% static '' %}';
        var lon = {{ ort.lon|stringformat:"F" }};
        var lat = {{ ort.lat|stringformat:"F" }}; 
        var typ = "Öffentliche Auslegung";
        {% if ort.polygon %}
        var area_polygon = {{ort.polygon}}; 
        {% endif %} 
    </script>
    <script type="text/javascript" src="{% static 'localmap.js' %}" ></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="localmap" style="height: 400px; border: 2px solid rgba(0, 0, 0, 0.247059);"></div>

        <div class="row">        
            <div class="col-sm-8">
                <h3>Betroffenes Gebiet</h3>
                <p>
                    <b>Bezeichner:</b>  {{ ort.bezeichner }}
                </p>
                <p>
                    <b>genaue örtliche Beschreibung:</b> {{ ort.beschreibung }}
                </p>
                <p>
                    <b>im Bezirk/in den Bezirken:</b> {{ ort.bezirke.all|join:", "}}
                </p>
            </div>
        </div>

        {% if ort.veroeffentlichungen%}
        <h3>Veröffentlichungen zu diesem Gebiet</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Verfahren</th>                        
                    <th style="width: 6em">Fristbeginn</th>
                    <th style="width: 6em">Fristende</th>
                    <th>Details</th>
               </tr>
            </thead>
            <tbody>
                {% for veroeffentlichung in ort.veroeffentlichungen.all %}
                <tr>
                    <td><a href="/begriffe/#{{ veroeffentlichung.verfahrensschritt.pk}}">{{ veroeffentlichung.verfahrensschritt.name}} ({{ veroeffentlichung.verfahrensschritt.verfahren.name }})</a></td>
                    <td>{{ veroeffentlichung.beginn }}</td> 
                    <td>{{ veroeffentlichung.ende }}</td>
                    <td>
                        {% if veroeffentlichung.beschreibung %}
                        <p>
                            <b>Beschreibung</b>
                        </p>
                        <p>
                            {{ veroeffentlichung.beschreibung }}
                        </p>
                        {% endif %}
                        <p>
                            <b>Auslegungsstelle</b>
                        </p>
                        <p>
                            {{ veroeffentlichung.auslegungsstelle }}
                        </p>
                        <p>
                            <b>Öffnungszeiten</b>
                        </p>
                            {{ veroeffentlichung.zeiten }}
                        </p>
                        <p>
                            <a href="{{ veroeffentlichung.behoerde.link }}">Link zur verantwortlichen Behörde</a>
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}