{% extends 'bbs/page.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'page.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/dataTables/css/jquery.dataTables.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/dataTables/css/jquery.dataTables.bootstrap.css' %}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'lib/dataTables/js/jquery.dataTables.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/dataTables/js/jquery.dataTables.bootstrap.js' %}" ></script>
    <script>
        $.extend( $.fn.dataTableExt.oStdClasses, {
            "sWrapper": "dataTables_wrapper form-inline"
        } );
        $(document).ready(function() {
            $('#table').dataTable({
                'iDisplayLength': 10,
                "aLengthMenu": [[10,20,50,-1], [10,20,50,"Alle"]],
                "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "Zeige _MENU_ Einträge pro Seite",
                    "sZeroRecords": "Sorry, nichts gefunden!",
                    "sInfo": "Eintrag _START_ bis _END_ von _TOTAL_ Einträgen",
                    "sInfoEmpty": "Keine Einträge",
                    "sInfoFiltered": "(insgesamt _MAX_ Einträgen)",
                    "sSearch": '',
                    "oPaginate": {
                        "sFirst": "Erste Seite",
                        "sLast": "Letzte Seite",
                        "sPrevious": "", // "Vorherige Seite"
                        "sNext": "" // "Nächste Seite"
                    }
                },
                "fnPreDrawCallback": function() {
                    $('.dataTables_filter input').addClass('form-control input-sm').css('width', '200px').attr('placeholder','Suche');
                    $('.dataTables_length select').addClass('form-control input-sm').css('width', '75px');
                }
            });
        });
    </script>
{% endblock %}

{% block page %}
    <p>
        Auf dieser Seite werden alle Informationen, die wir seit Beginn des Projektes im Februar 2013 eingetragen haben, in einer Liste angezeigt. Die Informationen stammen alle aus dem wöchentlich erscheinendem Amtsblatt von Berlin, das wir mit Unterstützung der Naturschutzverbände manuell auswerten. In den meisten Fällen handelt es sich um Informationen zu ausliegenden <a href="/info">Bebauungsplänen</a>. Eher selten werden Informationen zu <a href="/info">Planfestestellungsverfahren</a> veröffentlicht. In der Detailansicht eines Verfahrens sind alle Informationen, die seit Februar 2013 im Amtsblatt zu diesem Verfahren veröffentlich wurden, aufgelistet.
    </p>

    <table class="table" id="table">
        <thead>
            <tr>
                <th>Bezeichner</th>
                <th>Adresse</th>
                <th>Bezirke</th>
            </tr>
        </thead>
        <tbody>
        {% for ort in orte %}
            <tr>
                <td><a href="/orte/{{ ort.pk }}">{{ ort.bezeichner }}</a></td>
                <td><a href="/orte/{{ ort.pk }}">{{ ort.adresse }}</a></td>
                <td>
                    <a href="/orte/{{ ort.pk }}">
                        {% for bezirk in ort.bezirke.all %}
                            {{ bezirk.name }}<br />
                        {% endfor %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}