{% extends 'bbs/layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}leaflet/leaflet.js" >
    </script>    
    <script type="text/javascript">
    var lon = {{ project.lon }};
    var lat = {{ project.lat }};    
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}localmap.js" ></script>

{% endblock %}

{% block content %}
    
    <div class="container">
    <br>
        
        <div id="map1" style="height: 300px"></div>
        
           
            <div class="row">        
                <div class="span8">
                    <h3>Bezirk</h3>
                    {{ project.bezirke }}
                </div>
                <div class="span4">
                    <h3>Frist</h3>
                    {{ project.begin }} bis {{ project.end }}
                </div>
            </div>
            <div class="row">        
                <div class="span8">
                    <h3>Vorhaben</h3>
                    {{ project.vorhaben }}
                </div>
            <div class="span4">
                <h3>Ort</h3>
                {{ project.ort }}
            </div> 
        </div>       
    </div>
    
    
    
    
{% endblock %}