{% extends 'bbs/layout.html' %}

{% block head %}
<script type="text/javascript" 
        src="{{ STATIC_URL }}dataTables/js/jquery.dataTables.js" >
</script>
<script type="text/javascript" 
        src="{{ STATIC_URL }}dataTables/js/jquery.dataTables.bootstrap.pagination.js" >
</script>
<script>
    $.extend( $.fn.dataTableExt.oStdClasses, {
        "sSortAsc": "header headerSortDown",
        "sSortDesc": "header headerSortUp",
        "sSortable": "header"
    } );
    $(document).ready(function() {
        $('#projects-table').dataTable({
            "sPaginationType": "bootstrap"
        });
    });
</script>
<link rel="stylesheet" href="{{ STATIC_URL }}dataTables/css/jquery.dataTables.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}dataTables/css/jquery.dataTables.bootstrap.css" />
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 120px">
    <table id="projects-table">
        <thead>
            <tr>
                <th>Verantwortlich</th>
                <th>Ort</th>
                <th>Vorhaben</th>
                <th>Typ</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ project.bezirk.all.0.link }}" target="_blank">{{ project.bezirk.all.0.name }}</a></td>
                <td>{{ project.strassen }}</td>
                <td>{{ project.plan_id }}</td>
                <td>{{ project.typ.name }}</td>
                <td><a href="/bbp/{{ project.pk }}">Link</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}