{% extends 'bbs/layout.html' %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 120px">
    <table class="table">
        <thead>
            <tr>
                <th>Verantwortlich</th>
                <th>Ort</th>
                <th>Vorhaben</th>
                <th>Typ</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ project.bezirk.all.0.link }}" target="_blank">{{ project.bezirk.all.0.name }}</a></td>
                <td>{{ project.strassen }}</td>
                <td>{{ project.plan_id }}</td>
                <td>{{ project.typ.name }}</td>
                <td><a href="/bbp/{{ project.pk }}">Link</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}