{% extends 'bbs/layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}leaflet/leaflet.js" >
    </script>    
    <script type="text/javascript">
    var staticUrl = '{{ STATIC_URL }}';
    var lon = {{ project.lon|stringformat:"F" }};
    var lat = {{ project.lat|stringformat:"F" }}; 
    var typ = "{{ project.typ.name}}";   
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}localmap.js" ></script>
{% endblock %}

{% block content %}
    <div class="container">
    <br>
        <div id="localmap" style="height: 300px"></div>
            <div class="row">        
                <div class="span8">
                    <h3>Wo soll etwas gebaut werden?</h3>
                    {{ project.strassen }}<br>
                    in {{ project.bezirk.all.0.name }}
                </div>
                <div class="span4">
                    <h3>Zeitraum der Auslegung</h3>
                    {{ project.begin }} bis {{ project.end }}
                </div>
            </div>
            <div class="row">        
                <div class="span8">
                    <h3>Was soll gebaut werden?</h3>
                    Betrifft: {{ project.plan_id }}<br>
                    {{ project.beschreibung }}
                </div>
                <div class="span4">
                    <h3>Ort der Auslegung</h3>
                    {{ project.ort }}
                </div> 
            </div> 
            <div class="row">        
                <div class="span8">
                    <h3>Welchen gesetzlichen Rahmen betrifft das?</h3>
                    {{ project.typ.name }}: {{ project.typ.description }}
                </div>
                <div class="span4">
                    <h3>Link zum Bezirksamt</h3>
                    <a href="{{ project.bezirk.all.0.link }}" target="_blank">{{ project.bezirk.all.0.link }}</a>
                    
                    
                </div> 
            </div>        
        </div>
{% endblock %}