{% extends 'bbs/layout.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'page.css' %}" />
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
    <div class="container">
        <p>
            <b>Ort:</b> {{ veroeffentlichung.ort }}
        </p>
        <p>
            <b>Bezirke:</b> {{ veroeffentlichung.ort.bezirke.all|join:', '  }}
        </p>
        <p>
            <b>Verfahrensschritt:</b> {{ veroeffentlichung.verfahrensschritt.name }}
        </p>
        <p>
            <b>Beginn:</b> {{ veroeffentlichung.beginn }}
        </p>
        <p>
            <b>Ende:</b> {{ veroeffentlichung.ende }}
        </p>
        <p>
            <b>Beschreibung:</b> {{ veroeffentlichung.beschreibung }}
        </p>
        <p>
            <b>Auslegungsstelle:</b> {{ veroeffentlichung.auslegungsstelle }}
        </p>
        <p>
            <b>Link:</b> <a href=="{{ veroeffentlichung.behoerde.link }}">{{ veroeffentlichung.behoerde.link }}</a>
        </p>
    </div>
{% endblock %}