{% extends 'bbs/layout.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'page.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/dataTables/css/jquery.dataTables.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/dataTables/css/jquery.dataTables.bootstrap.css' %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'lib/dataTables/js/jquery.dataTables.js' %}" ></script>
    <script type="text/javascript" src="{% static 'lib/dataTables/js/jquery.dataTables.bootstrap.js' %}" ></script>
    <script>
        $.extend( $.fn.dataTableExt.oStdClasses, {
            "sWrapper": "dataTables_wrapper form-inline"
        } );
        $(document).ready(function() {
            $('#table').dataTable({
                'iDisplayLength': 10,
                "aLengthMenu": [[10,20,50,-1], [10,20,50,"Alle"]],
                "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "Zeige _MENU_ Einträge pro Seite",
                    "sZeroRecords": "Sorry, nichts gefunden!",
                    "sInfo": "Eintrag _START_ bis _END_ von _TOTAL_ Einträgen",
                    "sInfoEmpty": "Keine Einträge",
                    "sInfoFiltered": "(insgesamt _MAX_ Einträgen)",
                    "sSearch": '',
                    "oPaginate": {
                        "sFirst": "Erste Seite",
                        "sLast": "Letzte Seite",
                        "sPrevious": "", // "Vorherige Seite"
                        "sNext": "" // "Nächste Seite"
                    }
                },
                "fnPreDrawCallback": function() {
                    $('.dataTables_filter input').addClass('form-control input-sm').css('width', '200px').attr('placeholder','Suche');
                    $('.dataTables_length select').addClass('form-control input-sm').css('width', '75px');
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Liste von Veröffentlichungen</h2>
    <table class="table" id="table">
        <thead>
            <tr>
                <th>Ort</th>
                <th>Verfahrensschritt</th>
                <th>Beginn</th>
                <th>Ende</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for veroeffentlichung in veroeffentlichungen %}
            <tr>
                <td><a href="/orte/{{ veroeffentlichung.ort.pk }}">{{ veroeffentlichung.ort }}</a></td>
                <td><a href="/begriffe/#{{ veroeffentlichung.verfahrensschritt.pk }}">{{ veroeffentlichung.verfahrensschritt.name }}</a></td>
                <td>{{ veroeffentlichung.beginn }}</td>
                <td>{{ veroeffentlichung.ende }}</td>
                <td><a href="/veroeffentlichungen/{{ veroeffentlichung.pk }}">Details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}