html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
#header {
    margin-bottom: 20px;
}
#header-left {
    float: left;
    margin-top: 20px;
}
#header-right {
    float: right;
    margin-top: 40px;
}

/* wrapper and footer for the map */
#wrapper {
    min-height: 100%;
    position: relative;
}
#footer {
    position: absolute;
    width: 100%;
}

/* make things absolute in the map */
.absolute .container {
    position: relative;
}
.absolute #header-left,
.absolute #header-right,
.absolute #footer-left,
.absolute #footer-right {
    position: absolute;
    z-index: 10;
}
.absolute #header-right,
.absolute #footer-right {
    right: 15px;
}
.absolute #footer-left,
.absolute #footer-right {
    bottom: 10px;
}

@media (max-width: 992px) {
    .absolute #footer-right {
        right: auto;
        left: 15px;
    }
}

/* the canvas for the map */
#map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
}
