/* Map Layout */
body, html {
    height: 100%;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
#footer {
    position:absolute;
    width: 100%;
}
#header .container,
#footer .container {
    position: relative;
    background-color: transparent;
    z-index: 10;
}
#header-left,
#header-right,
#header-zoom,
#footer-left,
#footer-right {
    position: absolute;
}
#header-left {
    top: 20px;
    left: 0px;
}
#header-right {
    top: 44px;
    right: 0px;
}
#header-zoom {
    top: 110px;
    left: 0px;
}
#footer-left {
    bottom: 30px;
    left: 0px;
}
#footer-right {
    bottom: 30px;
    right: 0px;
}
#map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
}
