@font-face {
    font-family: vollkorn;
    src: url('vollkorn/Vollkorn-Regular.ttf');
}
@font-face {
    font-family: vollkorn;
    src: url('vollkorn/Vollkorn-Bold.ttf');
    font-weight: bold;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: white;
}


/*----------------------------------- Startseite Map mit Sidebar --------------------------------------------*/

#map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
}
#sidebar {    
    position: absolute;
    top: 100px;
    bottom: 0px;
    left: -300px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.246094);
    /*background-color: rgba(80, 80, 80, 0.7);*/  
    z-index: 101;
    overflow: hidden;
    border-radius:7px;
    border-radius:7px;
}
.sidebar-shadow {
    box-shadow: 2px 2px 2px 1.9px rgba( 0, 0, 0, 0.45 );
    -webkit-box-shadow:2px 2px 2px 1.9px rgba( 0, 0, 0, 0.45 );
    -moz-box-shadow: 2px 2px 2px 1.9px rgba( 0, 0, 0, 0.45 );
}
#sidebar-button {
    background-color: rgba(0, 0, 0, 0.246094) !important;
    position: absolute;
    top: 100px;    
    left: 10px;
    width: 16px;
    height: 16px;
    background-color: white;    
    z-index: 101;
    
}
#sidebar-button i {
    position: absolute;
    left: 1px;
    bottom: 1px;
}

#sidebar-content{    
    position: absolute;
    top: 16px;
    bottom: 16px;
    left: 0px;
    right: 0px;
    padding-left: 16px;
    padding-right: 16px;
    overflow-y: scroll;
}

.marked{
    background-color: #ddd;
}

#map1{
    position: absolute;
    top: 0px;
    height: 100px;
    left: 0px;
    right: 0px;
    z-index: 0;
    
}

#content1{
    position: absolute;
    top: 300px;
}

/*-------------------------------------------------------Navigation----------------------------------------------------*/

#navcontainer {
    position: absolute;
    background-color: transaprent;
    top: 20px;
    height: 100px;    
    left: 0px;
    right: 0px;
    z-index: 10;
}



#sitenav {
    float: right;
    padding-right: 10px;
   
}

#sitenav li {
    display: inline;
    list-style: none;
    margin-left: 60px;
    
}

#menu_right {
   margin: 2px;
   background-color: rgba(0, 0, 0, 0.246094);
   height:40px;   
   border-radius:7px;
   border-radius:7px; 

}

#menu_left {
    

}








