@font-face {
    font-family: DroidSans;
    src: url('font/DroidSans.ttf');
}
@font-face {
    font-family: DroidSans;
    src: url('font/DroidSans-Bold.ttf');
    font-weight: bold;
}
html, body {
    padding: 0;
    margin: 0;
    background-color: white;
}

#content {
    position: absolute;
    top: 41px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    
}

#map {
    position: absolute;
    top: 23px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}

#sidebar {    
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -300px;
    width: 300px;
    background-color: white;    
    z-index: 101;
    overflow: hidden;
}
.sidebar-shadow {
    box-shadow: 2px 2px 2px 1.9px rgba( 0, 0, 0, 0.45 );
    -webkit-box-shadow:2px 2px 2px 1.9px rgba( 0, 0, 0, 0.45 );
    -moz-box-shadow: 2px 2px 2px 1.9px rgba( 0, 0, 0, 0.45 );
}
#sidebar-button {
    position: absolute;
    top: 0px;    
    left: 0px;
    width: 16px;
    height: 16px;
    background-color: white;    
    z-index: 101;
}
#sidebar-button i {
    position: absolute;
    left: 1px;
    bottom: 1px;
}

#sidebar-content{
    /*height: 400px;*/
    position: absolute;
    top: 16px;
    bottom: 16px;
    left: 0px;
    right: 0px;
    padding-left: 16px;
    padding-right: 16px;
    overflow-y: scroll;
}

.marked{
    background-color: #ddd;
}

#title {
	margin-top: 50px;
        text-align: right;	
}

#title a {
    font-family: 'Arial Narrow', 'Open Sans', sans-serif;
    font-size: 18px;    
    text-decoration:none;
}


#menu {
    
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 10px;
	height: 20px;
	
}

#menu a {
	font-family: 'Arial Narrow', 'Open Sans', sans-serif;
	font-size: 16px;	
    
}

#sitenav {
    float: right;
    padding-right: 10px;
   
}

#sitenav li {
    display: inline;
    list-style: none;
    margin-left: 60px;
    
}






