@font-face {
    font-family: titillium;
    src: url('font/TitilliumText25L.otf');
}

@font-face {
    font-family:dejavu;
    src: url('font/DejaVuSansCondensed.ttf');
    
}
@font-face {
    font-family:dejavu;
    src: url('font/DejaVuSansCondensed-Bold.ttf');
    font-weight: bold;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: dejavu;
    font-size: 14px;
    
}

html h3 {
    /*font-family: titillium;*/
    font-size: 16px;
}

a, a:visited {
    color: #de6a00 !important;
    text-decoration: none;
}

a:hover {
    color: #e58833 !important;
    text-decoration: none !important;
}

/* Startseite Map */

#map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
}
#map .leaflet-top.leaflet-left {
    top: 100px;
    left: 310px;
}

#map .leaflet-top.leaflet-right {
    top: 100px;
    right: 10px;
}

.leaflet-popup-content {
    font-family: dejavu;
    font-size: 14px;
    color: #333;
} 
#sidebar-button i.icon-chevron-right {
    margin-left: 2px;
}
#sidebar-button i.icon-chevron-left {
    margin-left: 3px;
}
.leaflet-popup-content-wrapper {
    border-radius:7px;
}

/* Startseite Sidebar */

#sidebar {    
    position: absolute;
    top: 110px;
    bottom: 10px;
    /*left: -300px;*/
    left: 10px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.246094); 
    z-index: 101;
    border-radius:7px;
    overflow: hidden;
}

#sidebar-inner {    
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 101;
    border-radius:7px;   
}

#sidebar-scroll {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    padding-right: 5px;
    overflow-y: auto;
}

#sidebar-container {
    position: relative;
}

#sidebar-content a.marked,
#sidebar-content a:hover.marked {
    color: white !important;
    background-color: #de6a00;
}

#sidebar-content1 a { color: rgb(51, 51, 51) !important; }
#sidebar-content1 a.marked,
#sidebar-content1 a:hover.marked {
    color: white !important;
    background-color: #ccc;
}



.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: transparent;
  border: 1px solid #ddd;
  border-bottom-color: #eee;
}

.listentry{
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
}

.listentry-marked{
    background-color: #de6a00;
    color: white;
    border-radius: 5px;


}

/* Projektseiten */

#localmap {
    margin-top: 80px;
}

/* Navigation */

#navcontainer {
    position: absolute;
    background-color: transaprent;
    top: 20px;
    height: 100px;    
    left: 0px;
    right: 0px;
    z-index: 10;
}
#sitenav {
    float: right;
    padding-right: 10px;
   
}
#sitenav li {
    display: inline;
    list-style: none;
    margin-left: 20px;
    font-family: titillium;
    font-size: 16px;
    color: #646464;       
}
#menu_right {   
   background-color: transparent;
   height:40px;   
   border-radius:7px;
   border-radius:7px; 
   padding-top:24px;
}
