{% extends "admin/change_form.html" %}
{% load staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'lib/jquery.min.js' %}" ></script>

    <script type="text/javascript" src="{% static 'lib/leaflet/leaflet.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'lib/leaflet/leaflet.css' %}" />

    <script type="text/javascript">
        var _static_url = '{% static '' %}';
        var _tiles_url = "{{tiles_url}}";
        var _tiles_opt = {{tiles_opt|safe}};
        var _default_view = {{default_view|safe}};
    </script>

    <script type="text/javascript" src="{% static 'adminmap.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'adminmap.css' %}" />
{% endblock %}
