{% load staticfiles widget_tweaks comments crispy_forms_tags %}
<script>
    function disableReqdInputs(){
        var nameInput = document.getElementById('id_name');
        if (nameInput){
            nameInput.value = "{{ user.get_full_name }}";
            nameInput.readOnly=true;
        }
        var emailInput = document.getElementById('id_email');
        if (emailInput){
            emailInput.value = "{{ user.email }}";
            emailInput.readOnly=true;
         }
    }
    $(document).ready(function(){
        disableReqdInputs();
    });
</script>
{% if user.is_authenticated %}
<div id="comment-form-wrapper" class="content-container">
    <div id='comment-form'>
        <form role="form" method="post" action="{% comment_form_target %}">
            {% get_comment_form for project as form %}
            {% csrf_token %}
            {% for field in form %}
                {% ifequal field.name "name" %}
                  <input id="id_name" type="hidden" name="name" value="{{ user }}" />
                {% else %}
                {% ifequal field.name "comment" %}
                    <label for="id_comment" class="control-label  requiredField">
                    {{field.name}}<span class="asteriskField">*</span> </label>
                    <div class="controls "> 
                        <textarea class="textarea form-control" cols="40" id="id_comment" maxlength="3000" name="comment" rows="10" required="required"></textarea> 
                    </div>

                {% else %}
                {% ifequal field.name "email" %}
                <input type="hidden" name="email" value="{{ user.email }}" id="id_email" />
                {% else %}{{ field.as_hidden }}{% endifequal %}{% endifequal %}{% endifequal %}
            {% endfor %}    

            <input type="hidden" name="next" value="{% url 'project' project.pk %}#/discussion" />
            <div class="modal-footer">
                <input class="btn btn-primary" type="submit" value="Save" />
                <input id="cancel-reply" name="cancel" class="btn btn-default" value="Cancel" data-dismiss="modal"/>
            </div>
        </form>
    </div>
</div>
{% else %}

<a class="dropdown-toggle" data-toggle="dropdown" data-target=".dropdown" href="#" >Melden</a> Sie sich an um ein Kommentar zu hinterlassen.

{% endif %}
