{% load threadedcomments_tags %}

<div class="content-container">
    <div class="comments_length">
        <h3>{{ comment_list|length }} {% if comment_list|length == 1 %} Beitrag {% else %} Beiträge {% endif %}</h3>
    </div>

    <div class="comments">
        {% for comment in comment_list|fill_tree|annotate_tree %}
            {% if comment.open %}
                <ul>
            {% else %}
                </li>
            {% endif %}
            <li class="comment_li" id="c{{ comment.id }}">{# c## is used by the absolute URL of the Comment model, so keep that as it is. #}
                <div class="comment">
                    {% if comment.title %}
                        <h3 class="comment_title">{{ comment.title }}</h3>
                    {% endif %}

                    <div class="comment_text">
                        {{ comment.comment }}
                    </div>

                    <div class="comment_info">
                        <div class="comment_user">{{ comment.user_name }}</div>
                        <div class="comment_data">
                            | {{ comment.submit_date|date:"d M Y, H:i" }}
                            {% if user.is_authenticated %}
                            | <a href="#c{{ comment.id }}" data-comment-id="{{ comment.id }}" class="comment_reply_link">Antworten</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% for close in comment.close %}</li></ul>{% endfor %}

        {% endfor %}
    </div>
</div>
