{% load widget_tweaks %}
{% load i18n %}
{% load staticfiles %}

<div class="modal-body">

    <title>{% trans "This is the title." %}</title>
    <p>
        {% blocktrans %} Willst Du das Ereignis <strong>{{ object }}</strong> wirklich entfernen? Dieser Vorgang kann nicht Rückgängig gemacht werden.{% endblocktrans %}
    </p>

    <form action="{% url 'blogentry_delete' object.pk %}" method="post" class="form wbc-delete-form" role="form">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Ereignis entfernen" />
    </form>
</div>

