{% extends 'core/layout.html' %}
{% load  django_markdown staticfiles compress %}

{% block css %}
    {% compress css %}
    {{block.super}}
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/blog.scss" %}" />
    {% endcompress %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
{% endblock %}

{% block controller %}
BlogController
{% endblock %}

{% block content %}
<div id="edit-modal" class="modal fade" role="dialog" tabindex="-1">
    <div class="well modal-dialog modal-content modal-lg" role="document">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3> hinzufügen </h3>
        </div>
        <div class="custom-content">
        </div>
    </div>
</div>
<div id="blog">

    {% if user.is_authenticated %}
    <ul class="admin-panel">
        <li><a class="blog-admin admin-link" data-toggle="modal" data-target="#edit-modal" data-form="{% url 'blogentry_update' b.slug %}" href="#"><i class="fa fa-pencil"></i></a></li>
    </ul>
    {% endif %}

    <h1> {{b.title}} </h1>
    <p class="text-muted">Erstellt von {{b.get_created_by}} am {{b.created}}</p>
    <p class="text-muted">Zuletzt editiert von {{b.get_changed_by}} am {{b.updated}}</p>
    {{b.content| markdown}}

</div>
{% endblock %}