{% load staticfiles i18n %}

<!-- Lists stakeholders, used 'in several subpages (needs to bin stakeholder list to the 'stakeholders' variable)  -->

<div class="stakeholder-container">
    {% for stakeholder in stakeholders %}
    <a href="{{stakeholder.get_absolute_url }}">
        <div class="stakeholder-widget col-md-3">
            {% if stakeholder.picture %}
            <img class="stakeholder_img" src="{{ stakeholder.picture.url }}" />
            {% else %}
            <img class="stakeholder_img" src="{% static 'img/person_placeholder.png' %}" />
            {% endif %}
            <h2> {{stakeholder.name}}</h2>
            <p>
            {% for role in stakeholder.roles.all %}
                {{role}}
            {% endfor %}
            </p>
          <!--   {% if user.is_authenticated %}
            <ul class="admin-panel">
                <li><a data-toggle="modal" data-target="#edit-modal" class="admin-link project-admin" data-form="{% url 'stakeholder_update' stakeholder.pk %}" href="#"><i class="fa fa-pencil"></i></a></li>
                <li><a data-toggle="modal" data-target="#edit-modal" class="admin-link project-admin" data-form="{% url 'stakeholder_delete' stakeholder.pk %}" href="#"><i class="fa fa-trash"></i></a></li>
            </ul>
            {% endif %} -->
        </div>
    </a>

    {% endfor %}

 <!--    {% if user.is_authenticated %}

    <ul class="admin-panel">
        <li><a data-toggle="modal" data-target="#edit-modal" class="admin-link project-admin" data-form="{% url 'stakeholder_create'%}?project_id={{project.pk}}" href="#"><i class="fa fa-plus"></i></a></li>
    </ul>

    {% endif %} -->
</div>